<div id="back-detail">
  <div class="row">

       
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="ms-4">
  <h5>Bank account details</h5>
  <p class="text-muted">Fill all information below</p>
</div>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="row g-3">
    <div class="col-6 ms-4">
      <label for="address" class="form-label"
        >Account Holder's name <span class="text-danger">*</span></label
      >
      <input
        type="text"
        formControlName="acc_holder_name"
        class="form-control"
        id="address"
        placeholder=""
      />
      @if (f['acc_holder_name'] && f['acc_holder_name'].hasError('required') &&
      f['acc_holder_name'].touched) {
      <div class="invalid-text">Account Holder's name is required.</div>
      } @if(f['acc_holder_name'] && f['acc_holder_name'].hasError('maxlength')
      && f['acc_holder_name'].touched){
      <div class="invalid-text">
        Account Holder's name must be at most 45 characters
      </div>
      } @if(f['acc_holder_name'].hasError('pattern')){
      <div class="invalid-text">Enter valid Name</div>
      }
    </div>

    <div class="col-6 ms-4">
      <label for="account_number" class="form-label"
        >Account Number <span class="text-danger">*</span></label
      >
      <input
        type="text"
        formControlName="acc_number"
        class="form-control"
        id="account_number"
        placeholder=""
      />

      @if (f['acc_number'] && f['acc_number'].hasError('required') &&
      f['acc_number'].touched) {
      <div class="invalid-text">Account Number is required.</div>
      } @if(f['acc_number'].hasError('pattern')){
      <div class="invalid-text">Enter valid Account Number</div>
      }
    </div>

    <div class="col-6 ms-4">
      <label for="bank_name" class="form-label"
        >Bank Name <span class="text-danger">*</span></label
      >
      <input
        type="text"
        formControlName="bank_name"
        class="form-control"
        id="bank_name"
        placeholder=""
      />

      @if (f['bank_name'] && f['bank_name'].hasError('required') &&
      f['bank_name'].touched) {
      <div class="invalid-text">Bank Name is required.</div>
      } @if(f['bank_name'] && f['bank_name'].hasError('maxlength') &&
      f['bank_name'].touched){
      <div class="invalid-text">Bank Name must be at most 100 characters</div>
      } @if(f['bank_name'].hasError('pattern')){
      <div class="invalid-text">Enter valid Name</div>
      }
    </div>

    <div class="col-6 ms-4">
      <label for="ifsc_code" class="form-label"
        >IFSC Code <span class="text-danger">*</span></label
      >
      <input
        type="text"
        formControlName="ifsc_code"
        class="form-control"
        id="ifsc_code"
        placeholder=""
      />

      @if (f['ifsc_code'] && f['ifsc_code'].hasError('required') &&
      f['ifsc_code'].touched) {
      <div class="invalid-text">Bank Name is required.</div>
      } @if(f['ifsc_code'].hasError('pattern')){
      <div class="invalid-text">Enter valid IFSC Code</div>
      }
    </div>

    <div class="col-6 ms-3 mt-3">
      <div class="hstack gap-2 justify-content-end mb-3">
        @if (saveButtonActive) {
        <button class="btn btn-primary">Save</button>
        } @else {
        <button class="btn btn-secondary" type="button" disabled>
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Please wait
        </button>
        }
      </div>
    </div>

    <!-- <div class="col-md-5 ms-4">
    <label for="country" class="form-label">Country</label>
    <select class="form-select" id="country">
      <option value="">Choose...</option>
      <option>United States</option>
    </select>
  </div>

  <div class="col-md-4 ms-4">
    <label for="state" class="form-label">State</label>
    <select class="form-select" id="state">
      <option value="">Choose...</option>
      <option>California</option>
    </select>
  </div>

  <div class="col-md-3 ms-4">
    <label for="zip" class="form-label">Zip</label>
    <input type="text" class="form-control" id="zip" placeholder="" />
  </div> -->
  </div>
</form>
          </div>
        </div>
        </div>
        </div>
        </div>


<!-- <hr class="my-4 text-muted ms-4" /> -->

<!-- <div class="form-check mb-2 ms-4">
  <input type="checkbox" class="form-check-input" id="same-address" />
  <label class="form-check-label" for="same-address"
    >Shipping address is the same as my billing address</label
  >
</div>

<div class="form-check ms-4">
  <input type="checkbox" class="form-check-input" id="save-info" />
  <label class="form-check-label" for="save-info"
    >Save this information for next time</label
  >
</div> -->
