<!-- Start Breadcrumbs -->
<app-breadcrumbs
  title="{{ serviceData?.title }}"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<!-- End Breadcrumbs -->
@if (spinnerStatus) {
<div id="elmLoader">
  <div class="spinner-border text-primary avatar-sm" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
}
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <div class="mb-3">
              <label class="form-label">Title</label>
              <p class="fs-md text-muted mb-0">{{ serviceData?.title }}</p>
            </div>
          </div>

          <div class="col-5">
            <div class="mb-3">
              <label class="form-label">Description</label>

              <p class="fs-md text-muted mb-0">
                {{ serviceData?.description }}
              </p>
            </div>
          </div>

          <div class="col-4">
            <div class="mb-3">
              <label class="form-label">Uploaded Thumbnail</label>

              <div>
                <img
                  class="edit-thumbnail-img-fluid rounded d-block w-25"
                  [src]="serviceData?.image"
                  alt="Uploaded Thumbnail"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="formGroup" (submit)="onSubmit()">
          <div class="row">
            <div class="col-6">
              <label for="detail_title" class="form-label">
                Title<span class="text-danger">*</span></label
              >
              >
              <editor
                formControlName="detail_title"
                apiKey="l3q3kt1n2jg9y35es7w0gkv80en8bm7gz9v379zfwrea7uvq"
                [init]="{
                  height: 400,
                  plugins: [
                    'advlist',

                    'autolink',

                    'lists',
                    'link',
                    'image',
                    'charmap',
                    'preview',
                    'anchor',
                    'searchreplace',
                    'visualblocks',

                    'fullscreen',

                    'insertdatetime',
                    'media',
                    'table',
                    'help',
                    'wordcount',
                    'code'
                  ],
                  toolbar:
                    'undo redo | casechange blocks | bold italic backcolor | \
                       alignleft aligncenter alignright alignjustify | \
                       bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
                }"
              ></editor>

              @if (s2['detail_title'] && s2['detail_title'].hasError('required')
              && s2['detail_title'].touched) {
              <div class="invalid-text">Title is required.</div>
              }
            </div>

            <div class="col-3">
              <label class="form-label"
                >Image<span class="text-danger">*</span></label
              >
              <div class="custom-modal-dropzone">
                <input
                  type="file"
                  id="imageupload"
                  accept="image/*"
                  formControlName="banner"
                  (change)="imageSelect($event)"
                  hidden
                  #imageupload
                />
                <label for="imageupload" class="custom-modalfile-input">
                  <span class="custom-modalfile-text"
                    >Choose a file to upload.
                    <br />
                    <span class="custom-file-text2-modal"
                      >File size 1240 × 600 px
                    </span>
                  </span>
                </label>
              </div>

              @if (selectedImage) {
              <ul class="list-unstyled mb-0" id="dropzone-preview">
                <li class="mt-2" id="dropzone-preview-list">
                  <div class="border rounded">
                    <div class="d-flex flex-wrap gap-2 p-2">
                      <div class="flex-shrink-0">
                        <div class="image-avatar bg-light rounded p-2">
                          @if (selectedImagePreview) {
                          <img
                            class="img-fluid rounded d-block"
                            [src]="selectedImagePreview"
                            alt="Dropzone-Image"
                          />
                          }
                        </div>
                      </div>
                      <div class="flex-grow-1 me-1">
                        <div class="pt-1">
                          @if (selectedImage.name) {
                          <h5 class="fs-md mb-1">
                            {{ selectedImage.name }}
                          </h5>
                          } @if (selectedImage.size) {
                          <p class="fs-sm text-muted mb-0">
                            {{ selectedImage.size }}
                          </p>
                          }
                        </div>
                      </div>
                      <div class="flex-shrink-0">
                        <button
                          (click)="removeImage()"
                          class="btn btn-sm btn-danger"
                        >
                          Delete
                        </button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              } @if (s2['banner'] && s2['banner'].hasError('required') &&
              s2['banner'].touched) {
              <div class="invalid-text">Image is required.</div>
              }
            </div>
            @if (uploadedImage) {
            <div class="col-lg-3">
              <div>
                <label class="form-label">Uploaded Image</label>
                <div>
                  <div>
                    <img
                      class="edit-thumbnail-img-fluid rounded d-block"
                      [src]="uploadedImage"
                      alt="Uploaded Thumbnail"
                    />
                  </div>
                </div>
              </div>
            </div>
            }

            <div class="col-6 mt-4">
              <label for="sub_title" class="form-label"
                >Sub Title<span class="text-danger">*</span></label
              >
              <input
                type="text"
                id="sub_title"
                formControlName="sub_title"
                class="form-control"
                placeholder="Enter Sub title"
                [ngClass]="
                  s2['sub_title'] &&
                  s2['sub_title'].hasError('required') &&
                  s2['sub_title'].touched
                    ? 'is-invalid'
                    : ''
                "
              />
              @if (s2['sub_title'] && s2['sub_title'].hasError('required') &&
              s2['sub_title'].touched) {
              <div class="invalid-text">Sub title is required.</div>
              }
            </div>

            <div class="col-6 mt-4">
              <label class="form-label"
                >Description <span class="text-danger">*</span></label
              >
              <textarea
                class="form-control"
                placeholder="Must enter maximum of a 250 characters"
                rows="3"
                formControlName="long_description"
                maxlength="250"
                [ngClass]="{
                  'is-invalid':
                    s2['long_description'] &&
                    s2['long_description'].errors &&
                    s2['long_description'].touched
                }"
              ></textarea>
              @if(s2['long_description'] &&
              s2['long_description'].hasError('required') &&
              s2['long_description'].touched){
              <div class="invalid-text">Description is required</div>

              } @if(s2['long_description'] &&
              s2['long_description'].hasError('maxlength') &&
              s2['long_description'].touched){
              <div class="invalid-text">
                Description must be at most 250 characters
              </div>
              }
            </div>

            <div class="col-12 mt-4">
              <div class="hstack gap-2 justify-content-end">
                @if (addSaveButtonActive) {
                <button type="submit" class="btn btn-primary" id="add-btn">
                  Save Changes
                </button>
                } @else {
                <button class="btn btn-secondary" type="button" disabled>
                  <span
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                  Please wait
                </button>
                }
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-xl-12 mb-3">
    <accordion
      [closeOthers]="true"
      class="accordion custom-accordionwithicon-plus"
      id="accordionWithplusicon"
    >
      <accordion-group class="accordion-item">
        <h2
          accordion-heading
          class="accordion-header"
          id="accordionwithplusExample1"
        >
          <button class="accordion-button" type="button">Section 1</button>
        </h2>
        <div
          id="accor_plusExamplecollapse1"
          class="accordion-collapse collapse show"
        >
          <div class="accordion-body">
            <form
              [formGroup]="sectionHeading"
              (submit)="onSubmitHeadingForm('section-one-heading')"
            >
              <div class="row">
                <div class="col-lg-4">
                  <div class="mb-3">
                    <label for="title" class="form-label"
                      >Heading<span class="text-danger">*</span></label
                    >
                    <input
                      type="text"
                      id="title"
                      formControlName="heading"
                      class="form-control"
                      placeholder="Enter heading"
                      [ngClass]="
                        sOne['heading'] &&
                        sOne['heading'].hasError('required') &&
                        sOne['heading'].touched
                          ? 'is-invalid'
                          : ''
                      "
                    />
                    @if (sOne['heading'] && sOne['heading'].hasError('required')
                    && sOne['heading'].touched) {
                    <div class="invalid-text">heading is required.</div>
                    }
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="mb-3">
                    <label for="addstatus" class="form-label"
                      >Status <span class="text-danger">*</span></label
                    >
                    <select
                      class="form-control"
                      formControlName="status"
                      data-choices
                      id="addstatus"
                      [ngClass]="
                        sOne['status'] &&
                        sOne['status'].hasError('required') &&
                        sOne['status'].touched
                          ? 'is-invalid'
                          : ''
                      "
                    >
                      <option value="">Select Status</option>
                      <option value="active">Active</option>
                      <option value="inactive">Inactive</option>
                    </select>
                    @if (sOne['status'] && sOne['status'].hasError('required')
                    && sOne['status'].touched) {
                    <div class="invalid-text">Status is required.</div>
                    }
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="hstack gap-2 justify-content-start mt-4">
                    <button class="btn btn-primary">Save</button>
                  </div>
                </div>
              </div>
            </form>
            <hr />

            <div class="card">
              <div class="card-body ps-0">
                <div class="row align-items-center g-2">
                  <div class="col-6 mt-0">
                    <div class="card-header ps-0 pt-0">
                      <div
                        class="d-flex justify-content-between align-items-center"
                      ></div>
                    </div>
                  </div>
                  <div class="col-lg-5 d-flex justify-content-end">
                    <div class="search-box">
                      <input
                        type="text"
                        class="form-control search"
                        placeholder="Search"
                        [(ngModel)]="term"
                        (keyup)="filterdata()"
                      />
                      <i class="ri-search-line search-icon"></i>
                    </div>
                  </div>

                  <div class="col-lg-1">
                    <div class="hstack flex-wrap gap-2">
                      <div>
                        <a
                          (click)="modal.show(); resetForm()"
                          class="btn btn-secondary"
                          ><i class="bi bi-plus-circle align-baseline me-1"></i
                          >Add</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive table-card">
                  <table
                    class="table table-bordered table-centered align-middle table-custom-effect table-nowrap mb-0"
                  >
                    <thead class="text-muted text-center">
                      <tr>
                        <th scope="col" class="cursor-pointer">S No.</th>
                        <th scope="col" class="cursor-pointer">Title</th>
                        <th scope="col" class="cursor-pointer">Image</th>

                        <th scope="col" class="cursor-pointer">Status</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody class="list form-check-all text-center">
                      @for (sectionOne of sectionOneData; track $index) {
                      <tr>
                        <td class="id">
                          {{ $index + 1 }}
                        </td>

                        <td class="instructor">
                          {{ sectionOne.title }}
                        </td>

                        <td class="category">
                          <div
                            class="flex-shrink-0 d-flex justify-content-center"
                          >
                            <div
                              class="uploaded-image-avatar bg-light rounded p-2"
                            >
                              <img
                                class="img-fluid rounded"
                                src="{{ sectionOne.image }}"
                              />
                            </div>
                          </div>
                        </td>

                        <td class="status">
                          <div class="form-switch form-switch-md mb-3">
                            <input
                              type="checkbox"
                              class="form-check-input"
                              [checked]="sectionOne.status === 'active'"
                              (change)="
                                sectionOnesetStatus(sectionOne.id, $event)
                              "
                              [id]="'customSwitchsizemd' + $index"
                            />
                            <label
                              class="form-check-label"
                              [for]="'customSwitchsizemd' + $index"
                              ><span
                                class="badge text-capitalize"
                                [ngClass]="{
                                  'bg-info-subtle text-info':
                                    sectionOne.status === 'active',
                                  'bg-danger-subtle text-danger':
                                    sectionOne.status === 'inactive'
                                }"
                                >{{ sectionOne.status }}</span
                              >
                            </label>
                          </div>
                        </td>

                        <td class="px-0">
                          <ul
                            class="d-flex justify-content-center gap-2 list-unstyled mb-0"
                          >
                            <!-- <li>
                              <a
                                [routerLink]="
                                  sectionOne.layout_type === 'layoutA'
                                    ? '/sectionOne/layout-a/' + sectionOne.id
                                    : '/sectionOne/layout-b/' + sectionOne.id
                                "
                                class="btn btn-subtle-dark px-2 py-1"
                              >
                                <i
                                  class="bi bi-plus-circle align-baseline me-1"
                                ></i>
                                Add Details
                              </a>
                            </li> -->
                            <li>
                              <a
                                (click)="
                                  modal.show(); editSectionOne(sectionOne)
                                "
                                class="btn btn-subtle-secondary btn-icon btn-sm edit-item-btn"
                                ><i class="ph-pencil fs-5"></i
                              ></a>
                            </li>
                            <li>
                              <a
                                (click)="delete(sectionOne.id)"
                                class="btn btn-subtle-danger btn-icon btn-sm remove-item-btn"
                                ><i class="ph-trash fs-5"></i
                              ></a>
                            </li>
                          </ul>
                        </td>
                      </tr>
                      }
                    </tbody>
                  </table>

                  <div class="noresult" style="display: none">
                    <div class="text-center py-4">
                      <i class="ph-magnifying-glass fs-1 text-primary"></i>
                      <h5 class="mt-2">Sorry! No Result Found</h5>
                      <p class="text-muted mb-0">
                        We did not find any Details for you search.
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  class="row align-items-center mt-4 pt-2"
                  id="pagination-element"
                >
                  <div class="col-sm">
                    <div class="text-muted text-center text-sm-start">
                      Showing
                      <span class="fw-semibold">{{
                        sectionOneData?.length
                      }}</span>
                      of
                      <span class="fw-semibold">{{
                        sectionOneDataList?.length
                      }}</span>
                      Results
                    </div>
                  </div>

                  <div class="col-sm-auto mt-3 mt-sm-0">
                    <pagination
                      class="pagination-wrap hstack gap-2 justify-content-center"
                      [totalItems]="sectionOneDataList?.length"
                      [itemsPerPage]="5"
                      (pageChanged)="pageChanged($event)"
                    ></pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>

<!-- add Modal-->
<div bsModal #modal="bs-modal" class="modal fade" id="modal">
  <div class="modal-dialog">
    <div class="modal-content border-0">
      <div class="modal-header bg-success p-3">
        <h5 class="modal-title text-white" id="editSection2ModalLabel">
          @if(this.editId == null){ Add } @else{ Edit }
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          (click)="modal.hide()"
        ></button>
      </div>

      <form
        class="tablelist-form"
        [formGroup]="sectionOne"
        (submit)="submitSectionOne(modal)"
      >
        <div class="modal-body">
          <div
            id="alert-error-msg"
            class="d-none alert alert-danger py-2"
          ></div>

          <div class="mb-3">
            <label for="title" class="form-label"
              >Title<span class="text-danger">*</span></label
            >
            <input
              type="text"
              id="title"
              formControlName="title"
              class="form-control"
              placeholder="Enter title"
              [ngClass]="
                secOne['title'] &&
                secOne['title'].hasError('required') &&
                secOne['title'].touched
                  ? 'is-invalid'
                  : ''
              "
            />
            @if (secOne['title'] && secOne['title'].hasError('required') &&
            secOne['title'].touched) {
            <div class="invalid-text">title is required.</div>
            }
          </div>

          <div class="mb-3">
            <label class="form-label"
              >Description <span class="text-danger">*</span></label
            >
            <textarea
              class="form-control"
              placeholder="Must enter maximum of a 250 characters"
              rows="3"
              formControlName="description"
              maxlength="250"
              [ngClass]="{
                'is-invalid':
                  secOne['description'] &&
                  secOne['description'].errors &&
                  secOne['description'].touched
              }"
            ></textarea>
            @if(secOne['description'] &&
            secOne['description'].hasError('required') &&
            secOne['description'].touched){
            <div class="invalid-text">Description is required</div>

            } @if(secOne['description'] &&
            secOne['description'].hasError('maxlength') &&
            secOne['description'].touched){
            <div class="invalid-text">
              Description must be at most 250 characters
            </div>
            }
          </div>

          <div class="mb-3">
            <label class="form-label"
              >Image<span class="text-danger">*</span></label
            >
            <div class="custom-modal-dropzone">
              <input
                type="file"
                id="sectionOneimageupload"
                accept="image/*"
                formControlName="image"
                (change)="sectionOneimageSelect($event)"
                hidden
                #sectionOneimageupload
              />
              <label for="sectionOneimageupload" class="custom-modalfile-input">
                <span class="custom-modalfile-text"
                  >Choose a file to upload.
                  <br />
                  <span class="custom-file-text2-modal"
                    >File size 1240 × 600 px
                  </span>
                </span>
              </label>
            </div>

            @if (sectionOneselectedImage) {
            <ul class="list-unstyled mb-0" id="dropzone-preview">
              <li class="mt-2" id="dropzone-preview-list">
                <div class="border rounded">
                  <div class="d-flex flex-wrap gap-2 p-2">
                    <div class="flex-shrink-0">
                      <div class="image-avatar bg-light rounded p-2">
                        @if (sectionOneselectedImagePreview) {
                        <img
                          class="img-fluid rounded d-block"
                          [src]="sectionOneselectedImagePreview"
                          alt="Dropzone-Image"
                        />
                        }
                      </div>
                    </div>
                    <div class="flex-grow-1 me-1">
                      <div class="pt-1">
                        @if (sectionOneselectedImage.name) {
                        <h5 class="fs-md mb-1">
                          {{ sectionOneselectedImage.name }}
                        </h5>
                        } @if (sectionOneselectedImage.size) {
                        <p class="fs-sm text-muted mb-0">
                          {{ sectionOneselectedImage.size }}
                        </p>
                        }
                      </div>
                    </div>
                    <div class="flex-shrink-0">
                      <button
                        (click)="sectionOneremoveImage()"
                        class="btn btn-sm btn-danger"
                      >
                        Delete
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            } @if (sectionOneuploadedImage) {
            <div class="col-lg-6 mt-3 mt-lg-0">
              <div>
                <label class="form-label">Uploaded Image</label>
                <div>
                  <div>
                    <img
                      class="edit-thumbnail-img-fluid rounded d-block w-50"
                      [src]="sectionOneuploadedImage"
                      alt="Uploaded Thumbnail"
                    />
                  </div>
                </div>
              </div>
            </div>
            } @if (secOne['image'] && secOne['image'].hasError('required') &&
            secOne['image'].touched) {
            <div class="invalid-text">Image is required.</div>
            }
          </div>

          <div class="mb-3">
            <label for="addstatus" class="form-label"
              >Status <span class="text-danger">*</span></label
            >
            <select
              class="form-control"
              formControlName="status"
              data-choices
              id="addstatus"
              [ngClass]="
                secOne['status'] &&
                secOne['status'].hasError('required') &&
                secOne['status'].touched
                  ? 'is-invalid'
                  : ''
              "
            >
              <option value="">Select Status</option>
              <option value="active">Active</option>
              <option value="inactive">Inactive</option>
            </select>
            @if (secOne['status'] && secOne['status'].hasError('required') &&
            secOne['status'].touched) {
            <div class="invalid-text">Status is required.</div>
            }
          </div>
        </div>
        <div class="modal-footer">
          <div class="hstack gap-2 justify-content-end">
            <button
              type="button"
              class="btn btn-ghost-success"
              (click)="modal.hide()"
            >
              <i class="bi bi-x-lg align-baseline me-1"></i> Close
            </button>
            @if (addSaveButtonActive) {
            <button type="submit" class="btn btn-primary" id="add-btn">
              Save Changes
            </button>
            } @else {
            <button class="btn btn-secondary" type="button" disabled>
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              Please wait
            </button>
            }
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- add Modal-->
