<div id="salary-invoice">
  <div class="row">

       
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5>Background Verification</h5>
          <!-- <p class="text-muted">Fill all information below</p> -->
        
          <table class="table table-nowrap">
            <thead>
              <tr>
                <th scope="col">Document</th>
                <th scope="col">Status</th>
        
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              @for (document of documents; track $index) {
              <tr>
                <th scope="row">
                  <a class="fw-semibold">{{ document.name }}</a>
                </th>
        
                <td>
                  <!-- <span
                    [class.text-success]="document.status === 'Uploaded'"
                    [class.text-danger]="document.status === 'Not Uploaded'"
                  >
                    {{ document.status }} -->
        
                  <i
                    [ngClass]="
                      document.status === 'Uploaded'
                        ? 'ri-checkbox-circle-line align-middle text-success'
                        : 'ri-close-circle-line align-middle text-danger'
                    "
                  ></i>
                  {{ document.status }}
                  <!-- </span> -->
                </td>
                <td>
                  <ul class="d-flex gap-2 list-unstyled mb-0">
                    <li>
                      <a
                        *ngIf="document.status === 'Uploaded'"
                        class="btn btn-subtle-secondary btn-icon btn-sm remove-item-btn"
                        (click)="onEdit(document)"
                        ><i class="ph-pencil align-middle"></i>
                      </a>
        
                      <a
                        *ngIf="document.status === 'Not Uploaded'"
                        class="btn btn-secondary btn-icon btn-sm remove-item-btn"
                        (click)="onAdd(document.name)"
                        ><i class="bi bi-plus-circle align-middle"></i>
                      </a>

                       <a
                        *ngIf="document.status === 'Uploaded'"
                       class="ms-2 btn btn-subtle-primary btn-icon btn-sm remove-item-btn"
                        (click)="onView(document)"
                        ><i class="ph-eye align-middle"></i>
                      </a>

                      
                    </li>
                  </ul>
                  <!-- <button
                    *ngIf="document.status === 'Uploaded'"
                    class="btn btn-primary btn-sm"
                    (click)="onEdit(document)"
                  >
                    Edit
                  </button>
                  <button
                    *ngIf="document.status === 'Not Uploaded'"
                    class="btn btn-secondary btn-sm"
                    (click)="onAdd(document.name)"
                  >
                    Upload
                  </button> -->
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>  

<!-- (hidden.bs.modal)="resetForm()" -->
<div class="modal" bsModal #showModal="bs-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header px-4 pt-4">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ selectedDocument }}
        </h5>
        <button
          type="button"
          class="btn-close"
          (click)="resetForm()"
        ></button>
      </div>

      <form
        [formGroup]="formGroup"
        (ngSubmit)="onSubmit()"
        class="tablelist-form"
        novalidate
        autocomplete="off"
      >
        <div class="modal-body p-4">
          <div
            id="alert-error-msg"
            class="d-none alert alert-danger py-2"
          ></div>

          <div class="mb-3">
            <label for="product-title-input" class="form-label">
              {{ selectedDocument }} Number
              <span class="text-danger">*</span></label
            >
            <input
              type="text"
              id="documentNo"
              formControlName="documentNo"
              class="form-control"
              [placeholder]="'Enter ' + selectedDocument + ' Number'"
            />
            @if (f['documentNo'] && f['documentNo'].hasError('required') &&
            f['documentNo'].touched) {
            <div class="invalid-text">
              {{ selectedDocument }} Number is required.
            </div>
            } @if(f['documentNo'].hasError('pattern')){
            <div class="invalid-text">
              Enter valid {{ selectedDocument }} Number
            </div>
            }
          </div>

          <div class="mb-3">
            <label for="formFile" class="form-label"
              >Upload {{ selectedDocument }} File</label
            >
            <input
              class="form-control"
              type="file"
              id="empimage"
              accept="image/*"
              formControlName="documentFile"
              (change)="imageSelect($event)"
              #empimage
            />

            @if (f['documentFile'] && f['documentFile'].hasError('required') &&
            f['documentFile'].touched) {
            <div class="invalid-text">{{ selectedDocument }} is required.</div>
            }
          </div>

          @if (selectedImage) { @if (selectedImagePreview) {
          <img
            class="avatar-lg border-0 img-thumbnail user-profile-image"
            [src]="selectedImagePreview"
            alt="Dropzone-Image"
          />
          } }@else if (uploadedImage) {
          <img
            class="avatar-lg border-0 img-thumbnail user-profile-image"
            [src]="uploadedImage"
            alt="Uploaded Thumbnail"
          />
          }
        </div>
        <div class="modal-footer">
          <div class="hstack gap-2 justify-content-end">
            <button
              type="button"
              class="btn btn-ghost-danger"
              (click)="showModal.hide()"
            >
              <i class="bi bi-x-lg align-baseline me-1"></i> Close
            </button>
            <button type="submit" class="btn btn-primary" id="add-btn">
              Add
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal" bsModal #showModalDoc="bs-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header px-4 pt-4">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ selectedDocument }}
        </h5>
        <button
          type="button"
          class="btn-close"
          (click)="resetForm()"
        ></button>
      </div>

    
        <div class="modal-body p-4">
          <div
            id="alert-error-msg"
            class="d-none alert alert-danger py-2"
          ></div>

          <div class="mb-3">
            <label for="product-title-input" class="form-label">
              {{ selectedDocument }} Number
              <span class="text-danger">*</span></label
            >
            <p class="fs-md text-muted">{{identiyNumber}}</p>
            <!-- <input
              type="text"
              id="documentNo"
              formControlName="documentNo"
              class="form-control"
              [placeholder]="'Enter ' + selectedDocument + ' Number'"
            />
            @if (f['documentNo'] && f['documentNo'].hasError('required') &&
            f['documentNo'].touched) {
            <div class="invalid-text">
              {{ selectedDocument }} Number is required.
            </div>
            } @if(f['documentNo'].hasError('pattern')){
            <div class="invalid-text">
              Enter valid {{ selectedDocument }} Number
            </div>
            } -->
          </div>

          <div class="mb-3">
            <label for="formFile" class="form-label"
              > Uploaded Document</label
            >
            <p class="fs-md text-muted">{{selectedDocument}}</p>
            <!-- <input
              class="form-control"
              type="file"
              id="empimage"
              accept="image/*"
              formControlName="documentFile"
              (change)="imageSelect($event)"
              #empimage
            />

            @if (f['documentFile'] && f['documentFile'].hasError('required') &&
            f['documentFile'].touched) {
            <div class="invalid-text">{{ selectedDocument }} is required.</div>
            } -->
          </div>

          @if (selectedImage) { @if (selectedImagePreview) {
          <img
            class="avatar-xxl border-0 img-thumbnail user-profile-image"
            [src]="selectedImagePreview"
            alt="Dropzone-Image"
          />
          } }@else if (uploadedImage) {
            <!--  -->

  <div class="position-relative">
    <img
      class="avatar-xxl border-0 img-thumbnail user-profile-image w-100 rounded"
      [src]="uploadedImage"
      alt="Uploaded Thumbnail"
    />

    <button
      class="btn btn-light position-absolute top-0 end-0 m-2 p-1 shadow"
      (click)="downloadImage(uploadedImage, selectedDocument)"
      title="Download"
    >
      <i class="bi bi-download fs-5 text-primary"></i>
    </button>
  </div>

  <!-- <div class="text-center mt-2">
    <strong class="d-block">Uploaded Document</strong>
    <small class="text-muted">{{ selectedDocument }}</small>
  </div> -->


          <!-- <img
            class="avatar-xxl border-0 img-thumbnail user-profile-image"
            src="https://trackingapi.crrescita.com/images/backgroundVerificationEmp/documentFile2025-06-20T10-13-49.050Z-RUCHIPANCARD.jpg"
            alt="Uploaded Thumbnail"
          />
<i (click)="downloadImage('https://trackingapi.crrescita.com/images/backgroundVerificationEmp/documentFile2025-06-20T10-13-49.050Z-RUCHIPANCARD.jpg', selectedDocument)" class="bi bi-download"></i> -->
          <!-- <button >Download</button> -->
          }
        </div>
        <div class="modal-footer">
          <div class="hstack gap-2 justify-content-end">
            <button
              type="button"
              class="btn btn-ghost-danger"
              (click)="showModal.hide()"
            >
              <i class="bi bi-x-lg align-baseline me-1"></i> Close
            </button>
            <button type="submit" class="btn btn-primary" id="add-btn">
              Add
            </button>
          </div>
        </div>
     
    </div>
  </div>
</div>