<app-breadcrumbs
  [title]="urlId ? 'Edit Employee Detail' : 'Add Employee Detail'"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<div class="row">
  <div class="text-end">
    <button class="btn btn-secondary mb-2" (click)="goBack()">
      <i class="mdi mdi-keyboard-backspace align-baseline me-1"></i>
      Back
    </button>
  </div>
  <div class="col-xl-12">
    <div class="card">
      <!-- <div class="card-header">
          <h4 class="card-title mb-0">Vertical nav Steps</h4>
        </div> -->
      <!-- end card header -->

      <div class="card-body form-steps">
        <div class="vertical-navs-step">
          <div class="row">
            <div class="col-lg-12">
              <ng-stepper
                #cdkStepper
                id="vertical-example"
                class="vertical-wizard"
              >
                <!-- [ngClass]="
              isMobile ? 'step-arrow-nav wizard' : 'vertical-wizard'
            " -->
                <cdk-step
                  [optional]="false"
                  class="steps nav flex-column custom-nav nav-pills"
                >
                  <ng-template cdkStepLabel>
                    <button
                      [ngClass]="empData ? 'done completed' : 'active'"
                      [attr.aria-selected]="empData ? 'true' : 'false'"
                      class="nav-link"
                      id="v-pills-bill-info-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#v-pills-bill-info"
                      type="button"
                      role="tab"
                      aria-controls="v-pills-bill-info"
                    >
                      <span class="step-title me-2">
                        <i
                          [ngClass]="
                            empData
                              ? 'ri-checkbox-circle-fill completed'
                              : 'ri-close-circle-fill'
                          "
                          class="align-bottom step-icon me-2"
                        ></i>
                      </span>
                      Personal Details
                    </button>
                  </ng-template>
                  <div class="centered-content ms-lg-4">
                    <app-add-employee
                      (dataFetched)="onEmpDataFetched($event)"
                      [urlId]="this.urlId"
                    ></app-add-employee>
                  </div>
                </cdk-step>

                <cdk-step
                  [optional]="false"
                  class="steps nav flex-column custom-nav nav-pills"
                  [completed]="true"
                >
                  <ng-template cdkStepLabel>
                    <button
                      [ngClass]="empBankData ? 'done completed' : 'active'"
                      [attr.aria-selected]="empBankData ? 'true' : 'false'"
                      class="nav-link"
                      id="v-pills-bill-address-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#v-pills-bill-address"
                      type="button"
                      role="tab"
                      aria-controls="v-pills-bill-address"
                    >
                      <span class="step-title me-2">
                        <i
                          [ngClass]="
                            empBankData
                              ? 'ri-checkbox-circle-fill completed'
                              : 'ri-close-circle-fill'
                          "
                          class="align-bottom step-icon me-2"
                        ></i>
                      </span>
                      Bank account details
                    </button>
                  </ng-template>

                  <div class="centered-content ms-lg-4">
                    <app-bank-detail
                      (bankDataFetched)="onEmpbankDataFetched($event)"
                      [urlId]="this.urlId"
                    ></app-bank-detail>
                  </div>
                  <!-- <div class="d-flex align-items-start gap-3 mt-4 ms-4">
                    <button
                      type="button"
                      class="btn btn-light btn-label previestab"
                      awPreviousStep
                    >
                      <i
                        class="ri-arrow-left-line label-icon align-middle fs-16 me-2"
                      ></i>
                      Back to Billing Info
                    </button>
                    <button
                      type="button"
                      class="btn btn-success btn-label right ms-auto nexttab nexttab"
                      awNextStep
                    >
                      <i
                        class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"
                      ></i
                      >Go to Payment
                    </button>
                  </div> -->
                </cdk-step>

                <cdk-step
                  [optional]="false"
                  class="steps nav flex-column custom-nav nav-pills"
                  [completed]="true"
                >
                  <ng-template cdkStepLabel>
                    <button
                      [ngClass]="empBackData ? 'done completed' : 'active'"
                      [attr.aria-selected]="empBackData ? 'true' : 'false'"
                      class="nav-link"
                      id="v-pills-bill-address-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#v-pills-bill-address"
                      type="button"
                      role="tab"
                      aria-controls="v-pills-bill-address"
                    >
                      <span class="step-title me-2">
                        <i
                          [ngClass]="
                            empBackData
                              ? 'ri-checkbox-circle-fill completed'
                              : 'ri-close-circle-fill'
                          "
                          class="align-bottom step-icon me-2"
                        ></i>
                      </span>
                      Background Verification
                    </button>
                  </ng-template>

                  <div
                    class="centered-content ms-lg-4"
                    style="transform: none !important"
                  >
                    <app-background-verification
                      (backGroundDetail)="onEmpbankBagbroundDataFetched($event)"
                      [urlId]="this.urlId"
                    ></app-background-verification>
                    <!-- <app-bank-detail
                    (bankDataFetched)="onEmpbankDataFetched($event)"
                    [urlId]="this.urlId"
                  ></app-bank-detail> -->
                  </div>
                </cdk-step>

                <cdk-step
                  [optional]="false"
                  class="steps nav flex-column custom-nav nav-pills"
                  [completed]="true"
                >
                  <ng-template cdkStepLabel>
                    <button
                      [ngClass]="empSalaryData ? 'done completed' : 'active'"
                      [attr.aria-selected]="empSalaryData ? 'true' : 'false'"
                      class="nav-link"
                      id="v-pills-bill-address-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#v-pills-bill-address"
                      type="button"
                      role="tab"
                      aria-controls="v-pills-bill-address"
                    >
                      <span class="step-title me-2">
                        <i
                          [ngClass]="
                            empSalaryData
                              ? 'ri-checkbox-circle-fill completed'
                              : 'ri-close-circle-fill'
                          "
                          class="align-bottom step-icon me-2"
                        ></i>
                      </span>
                      Salary Detail
                    </button>
                  </ng-template>

                  <div
                    class="centered-content ms-lg-4"
                    style="transform: none !important"
                  >
                    <app-salary-detail
                      (salaryDataFetched)="onSalaryDataFecthed($event)"
                      [urlId]="this.urlId"
                    ></app-salary-detail>
                    <!-- <app-bank-detail
                    (bankDataFetched)="onEmpbankDataFetched($event)"
                    [urlId]="this.urlId"
                  ></app-bank-detail> -->
                  </div>
                </cdk-step>
              </ng-stepper>
            </div>
          </div>
          <!-- end row -->
        </div>
      </div>
    </div>
    <!-- end -->
  </div>
  <!-- end col -->
</div>
