

.completed{
    color: rgba(var(--tb-success-rgb), 1) !important;
    // border-color: rgba(var(--tb-success-rgb), 1) !important;
}

  
.vertical-wizard {

    overflow: auto !important;
}

@media (max-width: 768px){
    .vertical-wizard .stepper {
        display: inline-grid !important;
    }
}

// @media (min-width: 992px) {
//     min-width: 300px;
//     max-width: 300px;
//     height: calc(100vh - #{$header-height} - #{$footer-height} - 4px);
// }
