<app-breadcrumbs
  title="Add Data"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<!-- End Breadcrumbs -->
@if (spinnerStatus) {
<div id="elmLoader">
  <div class="spinner-border text-primary avatar-sm" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
}
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="formGroup" (submit)="onSubmit()">
          <div class="row">
            <div class="col-6">
              <div class="mb-3">
                <label for="title" class="form-label"
                  >Title<span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  id="title"
                  formControlName="title"
                  class="form-control"
                  placeholder="Enter title"
                  [ngClass]="
                    s2['title'] &&
                    s2['title'].hasError('required') &&
                    s2['title'].touched
                      ? 'is-invalid'
                      : ''
                  "
                />
                @if (s2['title'] && s2['title'].hasError('required') &&
                s2['title'].touched) {
                <div class="invalid-text">title is required.</div>
                }
              </div>
            </div>

            <div class="col-6">
              <label for="addstatus" class="form-label"
                >Status <span class="text-danger">*</span></label
              >
              <select
                class="form-control"
                formControlName="status"
                data-choices
                id="addstatus"
                [ngClass]="
                  s2['status'] &&
                  s2['status'].hasError('required') &&
                  s2['status'].touched
                    ? 'is-invalid'
                    : ''
                "
              >
                <option value="">Select Status</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
              </select>
              @if (s2['status'] && s2['status'].hasError('required') &&
              s2['status'].touched) {
              <div class="invalid-text">Status is required.</div>
              }
            </div>

            <div class="col-6">
              <div class="mb-3">
                <label class="form-label"
                  >Image<span class="text-danger">*</span></label
                >
                <div class="custom-modal-dropzone">
                  <input
                    type="file"
                    id="imageupload"
                    accept="image/*"
                    formControlName="image"
                    (change)="imageSelect($event)"
                    hidden
                    #imageupload
                  />
                  <label for="imageupload" class="custom-modalfile-input">
                    <span class="custom-modalfile-text"
                      >Choose a file to upload.
                      <br />
                      <span class="custom-file-text2-modal"
                        >File size 488 × 602 px
                      </span>
                    </span>
                  </label>
                </div>

                @if (selectedImage) {
                <ul class="list-unstyled mb-0" id="dropzone-preview">
                  <li class="mt-2" id="dropzone-preview-list">
                    <div class="border rounded">
                      <div class="d-flex flex-wrap gap-2 p-2">
                        <div class="flex-shrink-0">
                          <div class="image-avatar bg-light rounded p-2">
                            @if (selectedImagePreview) {
                            <img
                              class="img-fluid rounded d-block"
                              [src]="selectedImagePreview"
                              alt="Dropzone-Image"
                            />
                            }
                          </div>
                        </div>
                        <div class="flex-grow-1 me-1">
                          <div class="pt-1">
                            @if (selectedImage.name) {
                            <h5 class="fs-md mb-1">
                              {{ selectedImage.name }}
                            </h5>
                            } @if (selectedImage.size) {
                            <p class="fs-sm text-muted mb-0">
                              {{ selectedImage.size }}
                            </p>
                            }
                          </div>
                        </div>
                        <div class="flex-shrink-0">
                          <button
                            (click)="removeImage('image')"
                            class="btn btn-sm btn-danger"
                          >
                            Delete
                          </button>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                } @if (uploadedImage) {
                <div class="col-lg-6 mt-3">
                  <div>
                    <label class="form-label">Uploaded Image</label>
                    <div>
                      <div>
                        <img
                          class="edit-thumbnail-img-fluid rounded d-block w-50"
                          [src]="uploadedImage"
                          alt="Uploaded Thumbnail"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                } @if (s2['image'] && s2['image'].hasError('required') &&
                s2['image'].touched) {
                <div class="invalid-text">Image is required.</div>
                }
              </div>
            </div>

            <div class="col-6">
              <div class="mb-3">
                <label class="form-label">Science Image</label>
                <div class="custom-modal-dropzone">
                  <input
                    type="file"
                    id="scienceimageupload"
                    accept="image/*"
                    formControlName="scienceImage"
                    (change)="imageScienceSelect($event)"
                    hidden
                    #scienceimageupload
                  />
                  <label
                    for="scienceimageupload"
                    class="custom-modalfile-input"
                  >
                    <span class="custom-modalfile-text"
                      >Choose a file to upload.
                      <br />
                      <span class="custom-file-text2-modal"
                        >File size 1140 × 770 px
                      </span>
                    </span>
                  </label>
                </div>

                @if (selectedScienceImage) {
                <ul class="list-unstyled mb-0" id="dropzone-preview">
                  <li class="mt-2" id="dropzone-preview-list">
                    <div class="border rounded">
                      <div class="d-flex flex-wrap gap-2 p-2">
                        <div class="flex-shrink-0">
                          <div class="image-avatar bg-light rounded p-2">
                            @if (selectedScienceImagePreview) {
                            <img
                              class="img-fluid rounded d-block"
                              [src]="selectedScienceImagePreview"
                              alt="Dropzone-Image"
                            />
                            }
                          </div>
                        </div>
                        <div class="flex-grow-1 me-1">
                          <div class="pt-1">
                            @if (selectedScienceImage.name) {
                            <h5 class="fs-md mb-1">
                              {{ selectedScienceImage.name }}
                            </h5>
                            } @if (selectedScienceImage.size) {
                            <p class="fs-sm text-muted mb-0">
                              {{ selectedScienceImage.size }}
                            </p>
                            }
                          </div>
                        </div>
                        <div class="flex-shrink-0">
                          <button
                            (click)="removeImage('science')"
                            class="btn btn-sm btn-danger"
                          >
                            Delete
                          </button>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                } @if (uploadedScienceImage) {
                <div class="col-lg-6 mt-3 mt-lg-0">
                  <div>
                    <label class="form-label">Uploaded Image</label>
                    <div>
                      <div>
                        <img
                          class="edit-thumbnail-img-fluid rounded d-block w-50"
                          [src]="uploadedScienceImage"
                          alt="Uploaded Thumbnail"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                }
              </div>
            </div>

            <div class="col-12">
              <div class="mb-3">
                <label class="form-label">Description</label>

                <!-- <textarea
              class="form-control"
              placeholder="Must enter maximum of a 250 characters"
              rows="5"
              formControlName="description"
              maxlength="250"
              [ngClass]="{
                'is-invalid':
                  s2['description'] &&
                  s2['description'].errors &&
                  s2['description'].touched
              }"
            ></textarea> -->

                <editor
                  formControlName="description"
                  apiKey="l3q3kt1n2jg9y35es7w0gkv80en8bm7gz9v379zfwrea7uvq"
                  [init]="{
                    height: 400,
                    plugins: [
                      'advlist',

                      'autolink',

                      'lists',
                      'link',
                      'image',
                      'charmap',
                      'preview',
                      'anchor',
                      'searchreplace',
                      'visualblocks',

                      'fullscreen',

                      'insertdatetime',
                      'media',
                      'table',
                      'help',
                      'wordcount',
                      'code'
                    ],
                    toolbar:
                      'undo redo | casechange blocks | bold italic backcolor | \
                     alignleft aligncenter alignright alignjustify | \
                     bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
                  }"
                ></editor>
                @if(s2['description'] && s2['description'].hasError('required')
                && s2['description'].touched){
                <div class="invalid-text">Description is required</div>

                }
              </div>
            </div>

            <div class="col-12 mt-4">
              <div class="hstack gap-2 justify-content-end">
                @if (addSaveButtonActive) {
                <button type="submit" class="btn btn-primary" id="add-btn">
                  Save Changes
                </button>
                } @else {
                <button class="btn btn-secondary" type="button" disabled>
                  <span
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                  Please wait
                </button>
                }
              </div>
            </div>
          </div>
        </form>

        @if(this.urlId ){
        <hr />

        <form [formGroup]="imageGroup" (submit)="onSubmitImage()">
          <div class="col-lg-12 mt-3">
            <div class="row">
              <div class="col-lg-6">
                <div>
                  <label class="form-label"
                    >Benefits Icon<span class="text-danger">*</span></label
                  >
                  <div
                    class="custom-dropzone"
                    [ngClass]="
                      s['image'] &&
                      s['image'].hasError('required') &&
                      s['image'].touched
                        ? 'file-invalid'
                        : ''
                    "
                  >
                    <input
                      type="file"
                      id="multisize"
                      formControlName="image"
                      accept="image/*"
                      (change)="ImageSelected($event)"
                      hidden
                      #imageslectedfile
                    />
                    <label for="multisize" class="custom-file-input">
                      <div class="d-none d-md-block">
                        <span class="custom-file-text"
                          >Choose a file to upload.
                          <br />
                          <span class="custom-file-text2"
                            >File size 35 × 35 px
                          </span>
                        </span>
                      </div>
                      <div class="d-block d-md-none">
                        <span class="custom-file-text-mob"
                          >Choose a file to upload.
                          <br />
                          <span class="custom-file-text2-mob"
                            >File size 410 × 410 px
                          </span>
                        </span>
                      </div>
                    </label>
                  </div>

                  @if (s['image'] && s['image'].hasError('required') &&
                  s['image'].touched) {
                  <div class="invalid-text">Image is required.</div>
                  } @if (multiImageSelectedFiles) {
                  <ul class="list-unstyled mb-0" id="dropzone-preview">
                    <li class="mt-2" id="dropzone-preview-list">
                      <div class="border rounded">
                        <div class="d-flex flex-wrap gap-2 p-2">
                          <div class="flex-shrink-0 me-3">
                            <div class="image-avatar bg-light rounded p-2">
                              @if (multiImageFilePreview) {
                              <img
                                class="img-fluid rounded d-block"
                                [src]="multiImageFilePreview"
                                alt="Dropzone-Image"
                              />
                              }
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <div class="pt-1">
                              @if (multiImageSelectedFiles.name) {
                              <h5 class="fs-md mb-1">
                                {{ multiImageSelectedFiles.name }}
                              </h5>
                              } @if (multiImageSelectedFiles.size) {
                              <p class="fs-sm text-muted mb-0">
                                {{ multiImageSelectedFiles.size }}
                              </p>
                              }
                            </div>
                          </div>
                          <div class="flex-shrink-0 ms-3">
                            <button
                              (click)="
                                removemultiSelectedFile(imageslectedfile)
                              "
                              class="btn btn-sm btn-danger"
                            >
                              Delete
                            </button>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  }
                </div>
              </div>

              @if (multiUploadedImages.length>0) {
              <div class="col-lg-6 mt-3 mt-lg-0">
                <div class="">
                  <label class="form-label">Uploaded Icons</label>
                  <div>
                    <ul
                      class="list-unstyled mb-0 multi-image-scroll"
                      id="dropzone-preview"
                    >
                      @for (uploadedImage of multiUploadedImages; track $index)
                      {
                      <li class="mt-2" id="dropzone-preview-list">
                        <div class="border rounded">
                          <div class="d-flex flex-wrap gap-2 p-2">
                            <div class="flex-shrink-0 me-3">
                              <div
                                class="uploaded-image-avatar bg-light rounded p-2"
                              >
                                @if (uploadedImage.image) {
                                <img
                                  class="img-fluid rounded d-block"
                                  [src]="uploadedImage.image"
                                />
                                }
                              </div>
                            </div>
                            <div class="flex-grow-1">
                              <div class="pt-1">
                                @if (uploadedImage.title) {
                                <h5 class="fs-md mb-1">
                                  {{ uploadedImage.title }}
                                </h5>
                                }
                              </div>
                            </div>
                            <div class="flex-shrink-0">
                              <a
                                (click)="
                                  editPoster.show();
                                  editImageUploadedFile(uploadedImage)
                                "
                                class="btn btn-sm btn-warning me-2"
                                >Update
                              </a>
                              <a
                                (click)="
                                  deleteImageUploadedFile(uploadedImage.id)
                                "
                                class="btn btn-sm btn-danger"
                              >
                                Delete
                              </a>
                            </div>
                          </div>
                        </div>
                      </li>
                      }
                    </ul>
                  </div>
                </div>
              </div>
              }
            </div>
          </div>
          <div class="col-lg-12 mt-3">
            <div class="row">
              <div class="col-lg-4">
                <div class="mb-3">
                  <label for="title" class="form-label"
                    >Title<span class="text-danger"></span
                  ></label>
                  <input
                    type="text"
                    class="form-control"
                    id="title"
                    formControlName="title"
                    placeholder="Enter Title"
                    [ngClass]="
                      s['title'] &&
                      s['title'].hasError('required') &&
                      s['title'].touched
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  @if (s['title'] && s['title'].hasError('required') &&
                  s['title'].touched) {
                  <div class="invalid-text">Heading is required.</div>
                  }
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="hstack gap-2 justify-content-start mb-3">
              @if (imageButtonActive) {
              <button class="btn btn-primary">Add More</button>
              } @else {
              <button class="btn btn-secondary" type="button" disabled>
                <span
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
                Please wait
              </button>
              }
            </div>
          </div>
        </form>
        }
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div bsModal #editPoster="bs-modal" class="modal fade" id="editPoster">
  <div class="modal-dialog">
    <div class="modal-content border-0">
      <div class="modal-header bg-danger p-3">
        <h5 class="modal-title text-white" id="editPosterModalLabel">
          Edit Icon
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          (click)="editPoster.hide()"
        ></button>
      </div>

      <form
        class="tablelist-form"
        [formGroup]="editimageGroup"
        (submit)="onSubmitEditImage(editPoster)"
      >
        <div class="modal-body">
          <div
            id="alert-error-msg"
            class="d-none alert alert-danger py-2"
          ></div>
          <div class="mb-3">
            <div class="row">
              <div class="col-lg-6">
                <div>
                  <label class="form-label">
                    Image<span class="text-danger">*</span></label
                  >
                  <div class="custom-modal-dropzone">
                    <input
                      type="file"
                      id="editImage"
                      accept="image/*"
                      formControlName="image"
                      (change)="onEditImageSelected($event)"
                      hidden
                      #editImage
                    />

                    <label for="editImage" class="custom-modalfile-input">
                      <div class="d-none d-md-block">
                        <span class="custom-file-text"
                          >Choose a file to upload.
                          <br />
                          <span class="custom-file-text2"
                            >File size 35 × 35 px
                          </span>
                        </span>
                      </div>
                      <div class="d-block d-md-none">
                        <span class="custom-file-text-mob"
                          >Choose a file to upload.
                          <br />
                          <span class="custom-file-text2-mob"
                            >File size 410 × 410 px
                          </span>
                        </span>
                      </div>
                    </label>
                  </div>

                  @if (editselectedImage) {
                  <ul class="list-unstyled mb-0" id="dropzone-preview">
                    <li class="mt-2" id="dropzone-preview-list">
                      <div class="border rounded">
                        <div class="d-flex flex-wrap gap-2 p-2">
                          <div class="flex-shrink-0">
                            <div class="image-avatar bg-light rounded p-2">
                              @if (editselectedImagePreview) {
                              <img
                                class="img-fluid rounded d-block"
                                [src]="editselectedImagePreview"
                                alt="Dropzone-Image"
                              />
                              }
                            </div>
                          </div>
                          <div class="flex-grow-1 me-1">
                            <div class="pt-1">
                              @if (editselectedImage.name) {
                              <h5 class="fs-md mb-1">
                                {{ editselectedImage.name }}
                              </h5>
                              } @if (editselectedImage.size) {
                              <p class="fs-sm text-muted mb-0">
                                {{ editselectedImage.size }}
                              </p>
                              }
                            </div>
                          </div>
                          <div class="flex-shrink-0">
                            <button
                              (click)="removeImage('editImage')"
                              class="btn btn-sm btn-danger"
                            >
                              Delete
                            </button>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  }
                </div>
              </div>

              @if (edituploadedImage) {
              <div class="col-lg-6 mt-3 mt-lg-0">
                <div>
                  <label class="form-label">Uploaded Icon</label>
                  <div>
                    <div>
                      <img
                        class="edit-thumbnail-img-fluid rounded d-block"
                        [src]="edituploadedImage"
                        alt="Uploaded Thumbnail"
                      />
                    </div>
                  </div>
                </div>
              </div>
              } @if (e['image'] && e['image'].hasError('required') &&
              e['image'].touched) {
              <div class="invalid-text">Image is required.</div>
              }
            </div>
          </div>
          <div class="mb-3">
            <label for="title" class="form-label"
              >Benefit Title<span class="text-danger"></span
            ></label>
            <input
              type="text"
              id="title"
              formControlName="title"
              class="form-control"
              placeholder="Enter Heading"
              [ngClass]="
                e['title'] &&
                e['title'].hasError('required') &&
                e['title'].touched
                  ? 'is-invalid'
                  : ''
              "
            />
            @if (e['title'] && e['title'].hasError('required') &&
            e['title'].touched) {
            <div class="invalid-text">Title is required.</div>
            }
          </div>
        </div>
        <div class="modal-footer">
          <div class="hstack gap-2 justify-content-end">
            <button
              type="button"
              class="btn btn-ghost-danger"
              (click)="editPoster.hide()"
            >
              <i class="bi bi-x-lg align-baseline me-1"></i> Close
            </button>
            @if (editSaveButtonActive) {
            <button type="submit" class="btn btn-primary" id="add-btn">
              Update
            </button>
            } @else {
            <button class="btn btn-secondary" type="button" disabled>
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              Please wait
            </button>
            }
          </div>
        </div>
      </form>
    </div>
    <!-- modal-content -->
  </div>
</div>
