<div class="card m-2">
    <div class="row g-0 justify-content-center">
       
        <div class="col-xl-3 col-lg-4">
            <div class="card-header" style="background-color: rgba(13, 36, 86, 1);">
                <div class="d-flex gap-2 align-items-center pb-3">
                    <div class="flex-shrink-0">
                        <img  [src]="
                        employeeDetail?.image
                          ? employeeDetail?.image
                          : 'assets/images/users/avatar-1.jpg'
                      "  alt="" class="avatar-sm rounded">
                    </div>
                    <div class="flex-grow-1">
                        <h6 class="fs-md text-white">{{employeeDetail?.name}}</h6>
                        <p class="text-white mb-0">{{employeeDetail?.designation_name}}</p>
                    </div>
                </div>
                <!-- <h6 class="card-title mb-0 mt-3 text-white">Task Details</h6> -->
            </div>
            <div class="card-body mt-1">
                <h6 class="card-title mb-4">Task Details</h6>
                <div class="table-responsive table-card ">
                    <!-- Danger Alert -->
                     @if(taskData?.isOverdue){
                        <alert type="danger alert-label-icon rounded-label" >
                            <i class="ri-alert-line label-icon"></i><strong>Warning</strong> - Task is overdue!
                            </alert>
                     }
                     @if(taskData?.status === 'Pending-Review'){
                        <!-- Secondary Alert -->
              <alert type="warning alert-label-icon rounded-label" >
              <i class="ri-information-fill label-icon"></i><strong>Pending-Review</strong>
              </alert>
                        }

                     <!-- Success Alert -->
                      @if(taskData?.status === 'Completed'){
                        <alert type="success alert-label-icon rounded-label" class="">
                            <i class="ri-user-smile-line label-icon "></i><strong>Success</strong>
                            - Task is Completed
                            </alert>
                      }

                      @if(taskData?.status === 'On-Hold'){
                      <!-- Secondary Alert -->
<alert type="secondary alert-label-icon rounded-label" >
    <i class="bx bx-stop-circle label-icon"></i><strong>Hold</strong>
    - Task is On-Hold
    </alert>
    
                      }

                      @if(taskData?.status === 'Cancelled'){
                        <alert type="danger alert-label-icon rounded-label" >
                            <i class="ri-alert-line label-icon"></i><strong>Cancelled</strong> - Task is Cancelled!
                            </alert>
                     }

                    <table class="table table-borderless align-middle mb-0">
                        <tbody>
                            <!-- <tr>
                                <th>Task ID</th>
                                <td>#{{taskData?.task_id}}</td>
                            </tr> -->
                            <!-- <tr>
                                <th>Title</th>
                                <td id="t-client">{{taskData?.task_title}}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{taskData?.task_description}}</td>
                            </tr> -->
                            <tr>
                                <th>Assigned To:</th>
                                <td>
                                    <div class="avatar-group">
                                        @for (profile of taskData?.employeeDetails; track $index) {
                                            <a class="avatar-group-item" tooltip="{{ profile.name }}">
                                              <img
                                                [src]="
                                                  profile.image
                                                    ? profile.image
                                                    : 'assets/images/users/avatar-1.jpg'
                                                "
                                                alt=""
                                                class="avatar-xxs rounded-circle"
                                              />
                                            </a>
                                            }

                                      
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Task Status</th>
                                <td>
                                    <span
                    class="badge"
                    [ngClass]="{
                      'bg-primary-subtle text-primary': taskData?.status === 'To-Do',
                      'bg-info-subtle text-info': taskData?.status === 'In-Progress',
                      'bg-warning-subtle text-warning':taskData?.status === 'Pending-Review',
                      'bg-success-subtle text-success':taskData?.status === 'Completed',
                      'bg-secondary-subtle text-dark':taskData?.status === 'On-Hold',
                      'bg-danger-subtle text-danger': taskData?.status === 'Cancelled'
                    }"
                    >{{ taskData?.status }}</span
                  >
                                </td>
                            </tr>
                           
                            <tr>
                                <th>Priority</th>
                                <td>
                                    <span
                                    class="badge"
                                    [ngClass]="{
                                      'bg-danger': taskData?.priority === 'High',
                                      'bg-info': taskData?.priority === 'Medium',
                                      'bg-success': taskData?.priority === 'Low'
                                    }"
                                    >{{ taskData?.priority }}</span
                                  >
                                  
                                </td>
                            </tr>
                            <tr>
                                <th>Start Date</th>
                                <td id="c-date"> {{ taskData?.start_date | date : "dd MMM, YYYY" }}</td>
                            </tr>
                            <tr>
                                <th>Due Date</th>
                                <td id="d-date"> {{ taskData?.end_date | date : "dd MMM, YYYY" }}</td>
                            </tr>
                            <tr>
                                <th>Assigned On</th>
                                <td>{{ taskData?.created_at | date : "dd MMM, YYYY" }}</td>
                            </tr>
                            <!-- <tr>
                                <th>Status:</th>
                                <td>
                                    <form [formGroup]="formGroup">
                                        <select class="form-select" formControlName="status"  id="t-status" data-choices data-choices-search-false aria-label="Default select example">
                                      
                                            <option value="" selected>Not Started</option>
                                            <option value="In-Progress">Started</option>
                                            <option value="Completed">Completed</option>
                                        </select>
                                        @if (f['status'] && f['status'].hasError('required') &&
                                        f['status'].touched) {
                                        <div class="invalid-text">Status is required.</div>
                                        }

                                    </form>
                                   
                                </td>
                            </tr> -->
                           
                        </tbody>
                    </table>
                    <div class="card-body">
                        <div class=" gap-2 align-items-center">
                            
                                <h6 class="fs-md">{{taskData?.task_title}}</h6>
                                <p class="text-muted mb-0">{{taskData?.task_description}}</p>
                       
                        </div>
                       
                    </div>
                </div>
            </div>
            
            <!--end card-body-->
            <!-- <div class="card-body  mt-2">
                <a href="javascript:void(0);" class="float-end link-effect">View More <i class="bi bi-arrow-right align-baseline ms-1"></i></a>
                <h6 class="card-title mb-0">Support Team</h6>
            </div> -->
          
                <!-- <div class="d-flex gap-2 align-items-center mb-3">
                    <div class="flex-shrink-0">
                        <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-sm rounded">
                    </div>
                    <div class="flex-grow-1">
                        <h6 class="fs-md">Morton Satterfield</h6>
                        <p class="text-muted mb-0">Admin & Founder</p>
                    </div>
                </div> -->
               
                @if(this.empTask?.status !== 'In-Progress' && this.empTask?.status !== 'Completed' && this.empTask?.status !== 'On-Hold' && this.empTask?.status !== 'Cancelled'){
                    <div class="card-body border-top">
                   <button (click)="onSubmit()" class="btn btn-primary w-100" id="agent-chat"><i class="bi bi-flag-fill
                    align-baseline me-1"></i> Start Task</button>
                </div>
                }@else if (this.empTask?.status == 'In-Progress') {
                    <div class="card-body border-top">
                    <div  class="row g-0 align-items-center">
                    
                        <div  class="col">
                            <textarea [(ngModel)]="commentText" placeholder="Type your message..." class="form-control chat-input bg-light border-light"></textarea>
                        </div>
                        <div  class="col-auto">
                            <div  class="chat-input-links ms-2">
                                <div  class="links-list-item">
                                    <button (click)="submitComment()" class="btn btn-dark chat-send waves-effect waves-light">
                                        <i class="ph-paper-plane-right align-middle"></i>
                                      </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                   <button (click)="confirm()" class="btn btn-success w-100 mt-5" id="agent-chat"><i class="bi bi-check-square-fill align-baseline me-1"></i>Mark As Completed</button>
                </div>
                }
            
        </div>
    </div><!--end row-->
</div>