<div class="row">
  <div class="col-xxl col-sm-6">
    <div
      style="background-size: 100px; background-position: right bottom"
      class="card bg-primary overflow-hidden"
    >
      <div class="position-absolute bottom-0" style="opacity: 0.15">
        <img
          src="assets/images/effect-pattern/pattern-2.svg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="card-body">
        <div class="d-flex align-items-center mb-3">
          <div class="flex-grow-1">
            <div class="avatar-sm">
              <div
                class="avatar-title bg-success-subtle fs-xl rounded text-success"
              >
                <i class="ri-home-8-line"></i>
              </div>
            </div>
          </div>
          <div class="flex-shrink-0">
            <img
              class="avatar-sm"
              src="https://trackingapi.crrescita.com/{{ this.company_logo }}"
              alt="Company Logo"
            />

            <!-- <p>
              <span class="me-1 text-success"
                ><i class="align-middle fs-sm ri-arrow-right-up-line"></i> +3.47
                %</span
              >
              than last week
            </p> -->
          </div>
        </div>
        <h4 class="fw-semibold text-white">
          <span class="counter-value">Welcome To</span>
        </h4>
        <p class="fw-medium mb-0 text-white">
          {{ company_name }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-xxl col-sm-6 h-100">
    <!-- <div class="card overflow-hidden h-100"> -->
    <div
      class="card file-manager-widgets"
      style="background-size: 50px; background-position: right bottom"
    >
      <div class="card-body h-100">
        <div class="avatar-sm float-end">
          <div class="avatar-title bg-info-subtle fs-xl rounded text-info">
            <i class="ri-user-line"></i>
          </div>
        </div>
        <h1 class="mb-2">
          <span class="counter-value">{{
            this.currentDateData?.totalEmployees
          }}</span>
        </h1>
        <p class="text-muted mb-4">Total Employee</p>
        <div class="d-flex">
          <p class="text-muted mb-0">
            <span class="badge bg-success-subtle text-success"
              >{{ this.currentDateData?.totalActive }} Active</span
            >
          </p>
          <p class="text-muted mb-0 ms-3">
            <span class="badge bg-danger-subtle text-danger"
              >{{ this.currentDateData?.totalInactive }} Inactive</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl col-sm-6 h-100">
    <div class="card overflow-hidden h-100">
      <div class="card-body h-100">
        <div class="avatar-sm float-end">
          <div
            class="avatar-title bg-success-subtle fs-xl rounded text-success"
          >
            <i class="ri-user-follow-line"></i>
          </div>
        </div>
        <h1>
          <span class="counter-value">{{
            this.currentDateData?.totalPresent
          }}</span>
        </h1>
        <p class="text-muted mb-4">Total Present</p>
        <p class="text-muted mb-0">
          <span
            [ngClass]="
              this.previousDateData?.totalPresent >=
              this.currentDateData?.totalPresent
                ? 'text-success bg-success-subtle text-success'
                : 'text-danger bg-danger-subtle text-danger'
            "
            class="me-1 badge"
            ><i
              [ngClass]="
                this.previousDateData?.totalPresent >=
                this.currentDateData?.totalPresent
                  ? 'fs-sm ri-arrow-right-up-line'
                  : 'fs-sm ri-arrow-right-down-line'
              "
              class="align-middle"
            ></i>
            {{ this.previousDateData?.totalPresent }}</span
          >
          Present last day
        </p>
      </div>
    </div>
  </div>
  <div class="col-xxl col-sm-6 h-100">
    <div class="card overflow-hidden h-100">
      <div class="card-body h-100">
        <div class="avatar-sm float-end">
          <div class="avatar-title bg-danger-subtle fs-xl rounded text-danger">
            <i class="ri-user-unfollow-line"></i>
          </div>
        </div>

        <h1>
          <span class="counter-value">{{
            this.currentDateData?.totalAbsent
          }}</span>
        </h1>
        <p class="text-muted mb-4">Total Absent</p>

        <p class="text-muted mb-0">
          <span
            [ngClass]="
              this.previousDateData?.totalAbsent >=
              this.currentDateData?.totalAbsent
                ? 'text-success bg-success-subtle text-success'
                : 'text-danger bg-danger-subtle text-danger'
            "
            class="me-1 badge"
            ><i
              [ngClass]="
                this.previousDateData?.totalAbsent >=
                this.currentDateData?.totalAbsent
                  ? 'fs-sm ri-arrow-right-up-line'
                  : 'fs-sm ri-arrow-right-down-line'
              "
              class="align-middle fs-sm ri-arrow-right-down-line"
            ></i>
            {{ this.previousDateData?.totalAbsent }}</span
          >
          Absent last day
        </p>
      </div>
    </div>
  </div>
  <div class="col-xxl col-sm-6 h-100">
    <div class="card overflow-hidden h-100">
      <div class="card-body h-100">
        <div class="avatar-sm float-end">
          <div
            class="avatar-title bg-warning-subtle fs-xl rounded text-warning"
          >
            <i class="mdi mdi-account-alert-outline"></i>
          </div>
        </div>
        <h1>
          <span class="counter-value">{{
            this.currentDateData?.totalLeave
          }}</span>
        </h1>
        <p class="text-muted mb-4">Total On Leave</p>

        <p class="text-muted mb-0">
          <span
            [ngClass]="
              this.previousDateData?.totalLeave >=
              this.currentDateData?.totalLeave
                ? 'text-success bg-success-subtle text-success'
                : 'text-danger bg-danger-subtle text-danger'
            "
            class="me-1 badge"
            ><i
              [ngClass]="
                this.previousDateData?.totalLeave >=
                this.currentDateData?.totalLeave
                  ? 'fs-sm ri-arrow-right-up-line'
                  : 'fs-sm ri-arrow-right-down-line'
              "
              class="align-middle fs-sm ri-arrow-right-down-line"
            ></i>
            {{ this.previousDateData?.totalLeave }}</span
          >
          On leave last day
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    <div class="card" style="max-height: 550px">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Check In Location</h4>
        <!-- <div class="flex-shrink-0">
              <button type="button" class="btn btn-subtle-primary btn-sm">
                Export Report
              </button>
            </div> -->
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-lg-9">
            <!-- @if(checkIn && checkIn.length >0){ -->
            <div id="map" class="match-parent w-100 h-100"></div>
            <!-- } -->
          </div>
          <div class="col-lg-3">
            <div class="mb-4">
              <h6 class="text-muted mb-3 fw-medium fs-xs text-uppercase">
                Check-In Employee List
              </h6>
              <!-- <h3>
                    <span data-target="53736" class="counter-value"></span
                    ><small class="text-muted fw-normal fs-sm">Sales</small>
                  </h3> -->
            </div>
            <div>
              <ul class="list-unstyled vstack gap-2 overflow">
                @for (item of checkIn; track $index) {
                <li
                  (click)="onEmployeeClick($index)"
                  class="p-2 rounded"
                  [ngClass]="$index % 2 == 0 ? '' : 'bg-light-subtle'"
                >
                  <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 position-relative p-1 me-2">
                      @if(item.image){
                      <img
                        alt=""
                        class="avatar-sm rounded"
                        src="{{ item.image }}"
                      /><span
                        [ngClass]="
                          item.latestCheckStatus == 'Check-in'
                            ? 'bg-success'
                            : ' bg-danger'
                        "
                        class="position-absolute top-0 start-100 translate-middle badge border border-2 border-white rounded-circle p-1"
                        ><span class="visually-hidden"></span
                      ></span>
                      }@else {

                      <img
                        alt=""
                        class="avatar-sm rounded"
                        src="assets/images/users/avatar-1.jpg"
                      /><span
                        [ngClass]="
                          item.latestCheckStatus == 'Check-in'
                            ? 'bg-success'
                            : ' bg-danger'
                        "
                        class="position-absolute top-0 start-100 translate-middle badge border border-2 border-white rounded-circle p-1"
                        ><span class="visually-hidden"></span
                      ></span>
                      }
                    </div>
                    <div>
                      <h6 class="mb-0">
                        <a class="text-reset products">{{ item.name }}</a>
                        <br />
                      </h6>
                      Check-in at :
                      <span
                        class=""
                        [innerHTML]="formatTime(item.checkInTime)"
                      ></span>
                    </div>
                  </div>

                  <!-- <i
                        class="ri-checkbox-blank-circle-fill text-primary align-bottom me-1"
                      ></i> -->
                  <!-- {{ item.name }}
                      <span class="float-end">{{ item.checkInTime }}</span> -->
                </li>
                }@empty {
                <div class="d-flex flex-column align-items-center mt-lg-4">
                  <img
                    src="assets/images/users/check-in.png"
                    alt=""
                    class="img-fluid w-50"
                  />

                  <h6 class="text-muted my-3 fw-medium fs-xs text-uppercase">
                    No employee have Checked-in yet.
                  </h6>
                </div>

                }
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="mb-2">Upcoming Holiday</h5>
      </div>
      <div data-simplebar>
        <ul class="list-group">
          @for (item of upcomingHoliday; track $index) {
          <li class="list-group-item">
            <div class="d-flex align-items-center">
              <div class="flex-grow-1">
                <div class="d-flex">
                  <div class="flex-shrink-0 avatar-sm border-end-sm">
                    <div class="text-center">
                      <h6>{{ item.date | date : "MMM" }}</h6>

                      {{ item.date | date : "dd" }}
                    </div>

                    <!-- <div
                          class="avatar-title bg-danger-subtle text-danger rounded"
                        >
                          <i class="ri-netflix-fill"></i>
                        </div> -->
                  </div>
                  <div class="flex-shrink-0 ms-3">
                    <h6 class="fs-md mb-0">{{ item.name }}</h6>
                    <small class="text-muted">{{
                      item.daysUntilHoliday
                    }}</small>
                  </div>
                </div>
              </div>
            </div>
          </li>
          }
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xxl-5 col-lg-6">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h4 class="card-title mb-0 flex-grow-1">Who's Check in/Out</h4>
        <div class="flex-shrink-0">
          <div
            class="nav nav-pills gap-1"
            id="popularProperty"
            role="tablist"
            aria-orientation="vertical"
          >
            <button
              class="btn btn-ghost-info btn-sm"
              [class.active]="currentTab === 'check-in'"
              id="rentProperty"
              data-bs-toggle="pill"
              (click)="changeTab('check-in')"
              type="button"
              role="tab"
              aria-controls="rentPropertyTabs"
              aria-selected="false"
              tabindex="-1"
            >
              check-in
            </button>

            <button
              class="btn btn-ghost-danger btn-sm"
              [class.active]="currentTab === 'check-out'"
              id="saleProperty"
              data-bs-toggle="pill"
              (click)="changeTab('check-out')"
              type="button"
              role="tab"
              aria-controls="salePropertyTabs"
              aria-selected="true"
            >
              check-out
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ngx-simplebar class="mb-2 mx-n3 px-3" style="height: 330px">
          <div class="tab-content" id="popularPropertyContent">
            <div
              [hidden]="currentTab !== 'check-in'"
              class="tab-pane show active"
              id="salePropertyTabs"
            >
              <div class="table-responsive">
                <table class="table mb-0">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Address</th>
                      <th scope="col">Time</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (item of checkIn; track $index) {
                    <tr>
                      <th scope="row">{{ $index + 1 }}</th>
                      <td>
                        <div class="d-flex align-items-center">
                          <div class="flex-shrink-0 position-relative p-1 me-2">
                            @if(item.image){
                            <img
                              alt=""
                              class="avatar-sm rounded-circle rounded"
                              src="{{ item.image }}"
                            /><span
                              [ngClass]="
                                item.latestCheckStatus == 'Check-in'
                                  ? 'bg-success'
                                  : ' bg-danger'
                              "
                              class="position-absolute top-0 start-100 translate-middle badge border border-2 border-white rounded-circle p-1"
                              ><span class="visually-hidden"></span
                            ></span>
                            }@else {

                            <img
                              alt=""
                              class="avatar-sm rounded-circle rounded"
                              src="assets/images/users/avatar-1.jpg"
                            /><span
                              [ngClass]="
                                item.latestCheckStatus == 'Check-in'
                                  ? 'bg-success'
                                  : ' bg-danger'
                              "
                              class="position-absolute top-0 start-100 translate-middle badge border border-2 border-white rounded-circle p-1"
                              ><span class="visually-hidden"></span
                            ></span>
                            > }
                          </div>
                          <div>
                            <h6 class="mb-0">
                              <a class="text-reset products">{{ item.name }}</a>
                            </h6>
                          </div>
                        </div>
                      </td>

                      <td>{{ item.address }}</td>
                      <td [innerHTML]="formatTime(item.checkInTime)"></td>
                    </tr>
                    }@empty {
                    <h6 class="text-muted my-3 fw-medium fs-xs text-uppercase">
                      No employee have Checked-in yet.
                    </h6>
                    }
                  </tbody>
                </table>
              </div>
            </div>
            <div
              [hidden]="currentTab !== 'check-out'"
              class="tab-pane show active"
              id="salePropertyTabs"
            >
              <div class="table-responsive">
                <table class="table mb-0">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Address</th>
                      <th scope="col">Time</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (item of checkOut; track $index) {
                    <tr>
                      <th scope="row">{{ $index + 1 }}</th>
                      <td>
                        <div class="d-flex align-items-center">
                          <div class="flex-shrink-0 position-relative p-1 me-2">
                            @if(item.image){
                            <img
                              alt=""
                              class="avatar-sm rounded"
                              src="{{ item.image }}"
                            /><span
                              [ngClass]="
                                item.latestCheckStatus == 'Check-in'
                                  ? 'bg-success'
                                  : ' bg-danger'
                              "
                              class="position-absolute top-0 start-100 translate-middle badge border border-2 border-white rounded-circle p-1"
                              ><span class="visually-hidden"></span
                            ></span>
                            }@else {

                            <img
                              alt=""
                              class="avatar-sm rounded"
                              src="assets/images/users/avatar-1.jpg"
                            /><span
                              [ngClass]="
                                item.latestCheckStatus == 'Check-in'
                                  ? 'bg-success'
                                  : ' bg-danger'
                              "
                              class="position-absolute top-0 start-100 translate-middle badge border border-2 border-white rounded-circle p-1"
                              ><span class="visually-hidden"></span
                            ></span>
                            > }
                          </div>
                          <div>
                            <h6 class="mb-0">
                              <a class="text-reset products">{{ item.name }}</a>
                            </h6>
                          </div>
                        </div>
                      </td>

                      <td>{{ item.address }}</td>
                      <td [innerHTML]="formatTime(item.checkOutTime)"></td>
                    </tr>
                    }@empty {
                    <h6 class="text-muted my-3 fw-medium fs-xs text-uppercase">
                      No employee have Checked-Out yet.
                    </h6>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </ngx-simplebar>
        <div class="text-center">
          <a routerLink="/attendance-list" class="icon-link"
            >View All <i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
    <!--end card-->
  </div>

  <!-- <div class="col-xxl-5">
   
    <div class="card">
      <div class="card-body">
        <h5 class="">Who's Check in/Out</h5>
        <ng-template class="nav-item">
          <a href="javascript:void(0);" class="nav-link border-0">
            <i class="ri-login-box-line nav-icon nav-tab-position"></i>
            <h5 class="nav-titl nav-tab-position m-0">Check In</h5>
          </a>
        </ng-template>

      
      </div>
      <div class="border">
        <tabset
          class="nav-pills custom-hover-nav-tabs d-flex gap-3 flex-column"
        >
          <tab class="card-body">
            <ng-template tabHeading class="nav-item">
              <a href="javascript:void(0);" class="nav-link border-0">
                <i class="ri-login-box-line nav-icon nav-tab-position"></i>
                <h5 class="nav-titl nav-tab-position m-0">Check In</h5>
              </a>
            </ng-template>
            <h6>Check In</h6>
            <div class="table-responsive">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Time</th>
                  </tr>
                </thead>
                <tbody>
                  @for (item of checkIn; track $index) {
                  <tr>
                    <th scope="row">{{ $index + 1 }}</th>
                    <td>
                      <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 position-relative p-1 me-2">
                          @if(item.image){
                          <img
                            alt=""
                            class="avatar-sm rounded-circle rounded"
                            src="{{ item.image }}"
                          /><span
                            [ngClass]="
                              item.latestCheckStatus == 'Check-in'
                                ? 'bg-success'
                                : ' bg-danger'
                            "
                            class="position-absolute top-0 start-100 translate-middle badge border border-2 border-white rounded-circle p-1"
                            ><span class="visually-hidden"></span
                          ></span>
                          }@else {

                          <img
                            alt=""
                            class="avatar-sm rounded-circle rounded"
                            src="assets/images/users/avatar-1.jpg"
                          /><span
                            [ngClass]="
                              item.latestCheckStatus == 'Check-in'
                                ? 'bg-success'
                                : ' bg-danger'
                            "
                            class="position-absolute top-0 start-100 translate-middle badge border border-2 border-white rounded-circle p-1"
                            ><span class="visually-hidden"></span
                          ></span>
                          > }
                        </div>
                        <div>
                          <h6 class="mb-0">
                            <a class="text-reset products">{{ item.name }}</a>
                          </h6>
                        </div>
                      </div>
                    </td>

                    <td>{{ item.address }}</td>
                    <td [innerHTML]="formatTime(item.checkInTime)"></td>
                  </tr>
                  }
                </tbody>
              </table>
            </div>
          </tab>
          <tab class="card-body">
            <ng-template tabHeading class="nav-item">
              <a href="javascript:void(0);" class="nav-link border-0">
                <i class="ri-logout-box-line nav-icon nav-tab-position"></i>
                <h5 class="nav-titl nav-tab-position m-0">Check Out</h5>
              </a>
            </ng-template>
            <h6>Check Out</h6>
            <div class="table-responsive">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Time</th>
                  </tr>
                </thead>
                <tbody>
                  @for (item of checkOut; track $index) {
                  <tr>
                    <th scope="row">{{ $index + 1 }}</th>
                    <td>
                      <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 position-relative p-1 me-2">
                          @if(item.image){
                          <img
                            alt=""
                            class="avatar-sm rounded"
                            src="{{ item.image }}"
                          /><span
                            [ngClass]="
                              item.latestCheckStatus == 'Check-in'
                                ? 'bg-success'
                                : ' bg-danger'
                            "
                            class="position-absolute top-0 start-100 translate-middle badge border border-2 border-white rounded-circle p-1"
                            ><span class="visually-hidden"></span
                          ></span>
                          }@else {

                          <img
                            alt=""
                            class="avatar-sm rounded"
                            src="assets/images/users/avatar-1.jpg"
                          /><span
                            [ngClass]="
                              item.latestCheckStatus == 'Check-in'
                                ? 'bg-success'
                                : ' bg-danger'
                            "
                            class="position-absolute top-0 start-100 translate-middle badge border border-2 border-white rounded-circle p-1"
                            ><span class="visually-hidden"></span
                          ></span>
                          > }
                        </div>
                        <div>
                          <h6 class="mb-0">
                            <a class="text-reset products">{{ item.name }}</a>
                          </h6>
                        </div>
                      </div>
                    </td>

                    <td>{{ item.address }}</td>
                    <td [innerHTML]="formatTime(item.checkOutTime)"></td>
                  </tr>
                  }
                </tbody>
              </table>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div> -->

  <div class="col-xl-4">
    <div class="card">
      <div class="card-header d-flex">
        <h5 class="card-title mb-0 flex-grow-1">Weekly Attendance Charts</h5>
        <div class="flex-shrink-0">
          <div dropdown class="dropdown card-header-dropdown sortble-dropdown">
            <a
              dropdownToggle
              class="text-reset dropdown-btn"
              href="javascript:void(0);"
            >
              <span class="text-muted dropdown-title">{{ sortValue }}</span>
              <i class="mdi mdi-chevron-down ms-1"></i>
            </a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-end">
              <button
                class="dropdown-item sort"
                (click)="sortBy(0, 'This week')"
              >
                This week
              </button>
              <button
                class="dropdown-item sort"
                (click)="sortBy(-1, 'Last week')"
              >
                Last week
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- end card header -->

      <div class="card-body">
        <apx-chart
          [series]="basicChart.series"
          [chart]="basicChart.chart"
          [dataLabels]="basicChart.dataLabels"
          [plotOptions]="basicChart.plotOptions"
          [yaxis]="basicChart.yaxis"
          [legend]="basicChart.legend"
          [fill]="basicChart.fill"
          [stroke]="basicChart.stroke"
          [tooltip]="basicChart.tooltip"
          [xaxis]="basicChart.xaxis"
          [colors]="basicChart.colors"
          dir="ltr"
        ></apx-chart>
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card -->
  </div>
</div>
