<app-breadcrumbs
  [title]="editId ? 'Edit Product' : 'Add Product'"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<!-- End Breadcrumbs -->
@if (spinnerStatus) {
<div id="elmLoader">
  <div class="spinner-border text-primary avatar-sm" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
}
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <accordion
          [closeOthers]="true"
          class="accordion custom-accordionwithicon-plus"
          id="accordionWithplusicon"
        >
          <accordion-group class="accordion-item">
            <h2
              accordion-heading
              class="accordion-header"
              id="accordionwithplusExample1"
            >
              <button class="accordion-button text-uppercase" type="button">
                General information
              </button>
            </h2>
            <div
              id="accor_plusExamplecollapse1"
              class="accordion-collapse collapse show"
            >
              <div class="accordion-body">
                <form [formGroup]="formGroup" (submit)="onSubmit()">
                  <div class="row">
                    <!-- Left Column -->
                    <div class="col-lg-6">
                      <div class="row">
                        <div class="col-lg-6">
                          <!-- Product Name -->
                          <div class="mb-3">
                            <label for="title" class="form-label"
                              >Product Name<span class="text-danger"
                                >*</span
                              ></label
                            >
                            <input
                              type="text"
                              id="title"
                              formControlName="title"
                              class="form-control"
                              placeholder="Enter title"
                              [ngClass]="
                                s2['title'] &&
                                s2['title'].hasError('required') &&
                                s2['title'].touched
                                  ? 'is-invalid'
                                  : ''
                              "
                            />
                            <div
                              *ngIf="
                                s2['title'] &&
                                s2['title'].hasError('required') &&
                                s2['title'].touched
                              "
                              class="invalid-text"
                            >
                              Title is required.
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <!-- Product Type -->
                          <div class="mb-3">
                            <label for="productType" class="form-label"
                              >Product Type<span class="text-danger"
                                >*</span
                              ></label
                            >
                            <select
                              class="form-control"
                              formControlName="product_type"
                              data-choices
                              id="productType"
                              [ngClass]="
                                s2['product_type'] &&
                                s2['product_type'].hasError('required') &&
                                s2['product_type'].touched
                                  ? 'is-invalid'
                                  : ''
                              "
                            >
                              <option value="">Select Product Type</option>
                              <option value="service">Service</option>
                              <option value="product">Product</option>
                              <option value="package">Package</option>
                            </select>
                            <div
                              *ngIf="
                                s2['product_type'] &&
                                s2['product_type'].hasError('required') &&
                                s2['product_type'].touched
                              "
                              class="invalid-text"
                            >
                              Product type is required.
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Description -->
                      <div class="mb-3">
                        <label class="form-label"
                          >Description<span class="text-danger">*</span></label
                        >

                        <ngx-editor-menu
                          [editor]="editordescription"
                          [toolbar]="toolbar"
                        >
                        </ngx-editor-menu>
                        <ngx-editor
                          [editor]="editordescription"
                          formControlName="description"
                          [placeholder]="'Type here...'"
                          [ngClass]="{
                            'is-invalid':
                              s2['description'] &&
                              s2['description'].errors &&
                              s2['description'].touched
                          }"
                        ></ngx-editor>

                        <div
                          *ngIf="
                            s2['description'] &&
                            s2['description'].hasError('required') &&
                            s2['description'].touched
                          "
                          class="invalid-text"
                        >
                          Description is required.
                        </div>
                      </div>

                      <!-- Instructions -->
                      <div class="mb-3">
                        <label for="instructions" class="form-label"
                          >Instructions</label
                        >
                        <ngx-editor-menu
                          [editor]="editorinstructions"
                          [toolbar]="toolbar"
                        >
                        </ngx-editor-menu>
                        <ngx-editor
                          [editor]="editorinstructions"
                          formControlName="instructions"
                          [placeholder]="'Type here...'"
                          [ngClass]="{
                            'is-invalid':
                              s2['instructions'] &&
                              s2['instructions'].errors &&
                              s2['instructions'].touched
                          }"
                        ></ngx-editor>
                      </div>

                      <div class="row">
                        <div class="col-lg-6">
                          <!-- SKU Number -->
                          <div class="mb-3">
                            <label for="skuNo" class="form-label"
                              >SKU Number<span class="text-danger"
                                >*</span
                              ></label
                            >
                            <input
                              type="text"
                              id="skuNo"
                              formControlName="sku_no"
                              class="form-control"
                              placeholder="Enter SKU number"
                              [ngClass]="
                                s2['sku_no'] &&
                                s2['sku_no'].hasError('required') &&
                                s2['sku_no'].touched
                                  ? 'is-invalid'
                                  : ''
                              "
                            />
                            <div
                              *ngIf="
                                s2['sku_no'] &&
                                s2['sku_no'].hasError('required') &&
                                s2['sku_no'].touched
                              "
                              class="invalid-text"
                            >
                              SKU number is required.
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <!-- price on request -->
                          <div class="mb-3">
                            <label for="addprice_on_req" class="form-label"
                              >Price visibility
                              <span class="text-danger">*</span></label
                            >
                            <select
                              class="form-control"
                              formControlName="price_on_req"
                              data-choices
                              id="addprice_on_req"
                              [ngClass]="
                                s2['price_on_req'] &&
                                s2['price_on_req'].hasError('required') &&
                                s2['price_on_req'].touched
                                  ? 'is-invalid'
                                  : ''
                              "
                            >
                              <option value="">Select</option>
                              <option value="true">Yes</option>
                              <option value="false">No</option>
                            </select>
                            @if (s2['price_on_req'] &&
                            s2['price_on_req'].hasError('required') &&
                            s2['price_on_req'].touched) {
                            <div class="invalid-text">
                              This field is required.
                            </div>
                            }
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <!-- Tags -->
                          <div class="mb-3">
                            <label for="tags" class="form-label">Tags</label>

                            <ng-select
                              id="tags"
                              formControlName="tags"
                              [items]="tags"
                              [multiple]="true"
                              bindLabel="title"
                              [clearable]="false"
                            >
                              <ng-template ng-optgroup-tmp let-item="item">
                                {{ item.title || "Unnamed group" }}
                              </ng-template>
                            </ng-select>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <!-- Status -->
                          <div class="mb-3">
                            <label for="addstatus" class="form-label"
                              >Product Status
                              <span class="text-danger">*</span></label
                            >
                            <select
                              class="form-control"
                              formControlName="status"
                              data-choices
                              id="addstatus"
                              [ngClass]="
                                s2['status'] &&
                                s2['status'].hasError('required') &&
                                s2['status'].touched
                                  ? 'is-invalid'
                                  : ''
                              "
                            >
                              <option value="">Select Status</option>
                              <option value="active">Active</option>
                              <option value="inactive">Inactive</option>
                            </select>
                            @if (s2['status'] &&
                            s2['status'].hasError('required') &&
                            s2['status'].touched) {
                            <div class="invalid-text">Status is required.</div>
                            }
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Right Column -->
                    <div class="col-lg-6">
                      <div class="row">
                        <div class="col-lg-6">
                          <!-- category name -->
                          <div class="mb-3">
                            <label for="category_id" class="form-label"
                              >Category<span class="text-danger">*</span></label
                            >
                            <select
                              class="form-control"
                              formControlName="category_id"
                              data-choices
                              id="productType"
                              [ngClass]="
                                s2['category_id'] &&
                                s2['category_id'].hasError('required') &&
                                s2['category_id'].touched
                                  ? 'is-invalid'
                                  : ''
                              "
                            >
                              <option value="">Select Sub Category</option>
                              @for (item of categoryData; track $index) {
                              <option value="{{ item.id }}">
                                {{ item.title }}
                              </option>
                              }
                            </select>

                            <div
                              *ngIf="
                                s2['category_id'] &&
                                s2['category_id'].hasError('required') &&
                                s2['category_id'].touched
                              "
                              class="invalid-text"
                            >
                              Category ID is required.
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <!-- sub category  -->
                          <div class="mb-3">
                            <label for="sub_category_id" class="form-label"
                              >Sub Category
                              <span class="text-danger">*</span></label
                            >
                            <select
                              class="form-control"
                              formControlName="sub_category_id"
                              data-choices
                              id="productType"
                              [ngClass]="
                                s2['sub_category_id'] &&
                                s2['sub_category_id'].hasError('required') &&
                                s2['sub_category_id'].touched
                                  ? 'is-invalid'
                                  : ''
                              "
                            >
                              <option value="">Select Sub Category</option>
                              @for (item of subcategoryData; track $index) {
                              <option value="{{ item.id }}">
                                {{ item.title }}
                              </option>
                              }
                            </select>

                            <div
                              *ngIf="
                                s2['sub_category_id'] &&
                                s2['sub_category_id'].hasError('required') &&
                                s2['sub_category_id'].touched
                              "
                              class="invalid-text"
                            >
                              Sub Category ID is required.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <!-- Short Description -->
                          <div class="mb-3">
                            <label for="shortDescription" class="form-label"
                              >Short Description</label
                            >
                            <ngx-editor-menu
                              [editor]="editorshortDescription"
                              [toolbar]="toolbar"
                            >
                            </ngx-editor-menu>
                            <ngx-editor
                              [editor]="editorshortDescription"
                              formControlName="short_description"
                              [placeholder]="'Type here...'"
                              [ngClass]="{
                                'is-invalid':
                                  s2['short_description'] &&
                                  s2['short_description'].errors &&
                                  s2['short_description'].touched
                              }"
                            ></ngx-editor>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-12">
                          <!-- Disclaimer -->
                          <div class="mb-3">
                            <label for="disclaimer" class="form-label"
                              >Disclaimer</label
                            >
                            <ngx-editor-menu
                              [editor]="editordisclaimer"
                              [toolbar]="toolbar"
                            >
                            </ngx-editor-menu>
                            <ngx-editor
                              [editor]="editordisclaimer"
                              formControlName="disclaimer"
                              [placeholder]="'Type here...'"
                              [ngClass]="{
                                'is-invalid':
                                  s2['disclaimer'] &&
                                  s2['disclaimer'].errors &&
                                  s2['disclaimer'].touched
                              }"
                            ></ngx-editor>
                          </div>
                        </div>
                      </div>

                      @if(s2['price_on_req'].value == 'false'){
                      <div class="row">
                        <div class="col-lg-6">
                          <!--cta button -->
                          <div class="mb-3">
                            <label for="catbtn" class="form-label"
                              >CTA Button<span class="text-danger"
                                >*</span
                              ></label
                            >
                            <input
                              type="text"
                              id="catbtn"
                              formControlName="cta_btn"
                              class="form-control"
                              placeholder="Enter CTA name"
                              [ngClass]="
                                s2['cta_btn'] &&
                                s2['cta_btn'].hasError('required') &&
                                s2['cta_btn'].touched
                                  ? 'is-invalid'
                                  : ''
                              "
                            />
                            <div
                              *ngIf="
                                s2['cta_btn'] &&
                                s2['cta_btn'].hasError('required') &&
                                s2['cta_btn'].touched
                              "
                              class="invalid-text"
                            >
                              CTA name is required.
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <!-- cta link -->
                          <div class="mb-3">
                            <label for="addcta_status" class="form-label"
                              >CTA Status</label
                            >

                            <select
                              class="form-control"
                              formControlName="cta_status"
                              data-choices
                              id="addcta_status"
                              [ngClass]="
                                s2['cta_status'] &&
                                s2['cta_status'].hasError('required') &&
                                s2['cta_status'].touched
                                  ? 'is-invalid'
                                  : ''
                              "
                            >
                              <option value="">Select Status</option>
                              <option value="active">Active</option>
                              <option value="inactive">Inactive</option>
                            </select>
                            <div
                              *ngIf="
                                s2['cta_status'] &&
                                s2['cta_status'].hasError('required') &&
                                s2['cta_status'].touched
                              "
                              class="invalid-text"
                            >
                              CTA Status is required.
                            </div>
                          </div>
                        </div>
                      </div>
                      } @if(s2['price_on_req'].value == 'true'){
                      <div class="row">
                        <div class="col-lg-6">
                          <!-- Product Price -->
                          <div class="mb-3">
                            <label for="productPrice" class="form-label"
                              >Product MRP<span class="text-danger"
                                >*</span
                              ></label
                            >
                            <input
                              type="number"
                              id="productPrice"
                              formControlName="product_price"
                              class="form-control"
                              placeholder="Enter product price"
                              [ngClass]="
                                s2['product_price'] &&
                                s2['product_price'].hasError('required') &&
                                s2['product_price'].touched
                                  ? 'is-invalid'
                                  : ''
                              "
                            />
                            <div
                              *ngIf="
                                s2['product_price'] &&
                                s2['product_price'].hasError('required') &&
                                s2['product_price'].touched
                              "
                              class="invalid-text"
                            >
                              Product price is required.
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <!-- Discount Price -->
                          <div class="mb-3">
                            <label for="discountPrice" class="form-label"
                              >Discount MRP</label
                            >
                            <input
                              type="number"
                              id="discountPrice"
                              formControlName="discount_price"
                              class="form-control"
                              placeholder="Enter discount price"
                            />
                          </div>
                        </div>
                      </div>
                      }

                      <!-- Validity -->
                      @if(s2['product_type'].value == 'service'){
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="mb-3">
                            <label for="validity" class="form-label"
                              >Validity</label
                            >
                            <input
                              type="number"
                              id="validity"
                              formControlName="validity"
                              class="form-control"
                              placeholder="Enter validity"
                              [ngClass]="{
                                'is-invalid':
                                  formGroup.get('validity')?.invalid &&
                                  formGroup.get('validity')?.touched
                              }"
                            />
                            <div
                              *ngIf="
                                formGroup.get('validity')?.invalid &&
                                formGroup.get('validity')?.touched
                              "
                              class="invalid-text"
                            >
                              Validity is required.
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="mb-3">
                            <label for="validityUnit" class="form-label"
                              >Validity Unit</label
                            >
                            <select
                              id="validityUnit"
                              formControlName="validityUnit"
                              class="form-control"
                              [ngClass]="{
                                'is-invalid':
                                  formGroup.get('validityUnit')?.invalid &&
                                  formGroup.get('validityUnit')?.touched
                              }"
                            >
                              <option value="">Select Unit</option>
                              <option value="day">Day</option>
                              <option value="week">Week</option>
                              <option value="month">Month</option>
                              <option value="year">Year</option>
                            </select>
                            <div
                              *ngIf="
                                formGroup.get('validityUnit')?.invalid &&
                                formGroup.get('validityUnit')?.touched
                              "
                              class="invalid-text"
                            >
                              Validity Unit is required.
                            </div>
                          </div>
                        </div>
                      </div>

                      } @if(s2['product_type'].value == 'product'){
                      <div class="row">
                        <div class="col-lg-6">
                          <!-- Quantity -->
                          <div class="mb-3">
                            <label for="quantity" class="form-label"
                              >Quantity</label
                            >
                            <input
                              type="number"
                              id="quantity"
                              formControlName="quantity"
                              class="form-control"
                              placeholder="Enter quantity"
                              [ngClass]="{
                                'is-invalid':
                                  formGroup.get('quantity')?.invalid &&
                                  formGroup.get('quantity')?.touched
                              }"
                            />
                            <div
                              *ngIf="
                                formGroup.get('quantity')?.invalid &&
                                formGroup.get('quantity')?.touched
                              "
                              class="invalid-text"
                            >
                              Quantity is required.
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <!-- Product Limit -->
                          <div class="mb-3">
                            <label for="productLimit" class="form-label"
                              >Product Limit</label
                            >
                            <input
                              type="number"
                              id="productLimit"
                              formControlName="product_limit"
                              class="form-control"
                              placeholder="Enter product limit"
                              [ngClass]="{
                                'is-invalid':
                                  formGroup.get('product_limit')?.invalid &&
                                  formGroup.get('product_limit')?.touched
                              }"
                            />
                            <div
                              *ngIf="
                                formGroup.get('product_limit')?.invalid &&
                                formGroup.get('product_limit')?.touched
                              "
                              class="invalid-text"
                            >
                              Product limit is required.
                            </div>
                          </div>
                        </div>
                      </div>

                      }
                    </div>

                    <div class="col-12 mt-4">
                      <div class="hstack gap-2 justify-content-start">
                        @if (addSaveButtonActive) {
                        <button
                          type="submit"
                          class="btn btn-primary"
                          id="add-btn"
                        >
                          <i
                            class="bi bi-file-earmark-text me-1 align-baseline"
                          ></i>
                          Save
                        </button>
                        } @else {
                        <button
                          class="btn btn-secondary"
                          type="button"
                          disabled
                        >
                          <span
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                          ></span>
                          Please wait
                        </button>
                        }
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </accordion-group>

          <accordion-group class="accordion-item">
            <h2
              accordion-heading
              class="accordion-header"
              id="accordionwithplusExample1"
            >
              <button class="accordion-button text-uppercase" type="button">
                Meta tag information
              </button>
            </h2>
            <div
              id="accor_plusExamplecollapse1"
              class="accordion-collapse collapse show"
            >
              <div class="accordion-body">
                <form [formGroup]="formGroup" (submit)="onSubmit()">
                  <div class="row">
                    <!-- Right Column -->
                    <div class="col-12">
                      <div class="row">
                        <div class="col-lg-4">
                          <!-- SEO URL -->
                          <div class="mb-3">
                            <label for="seoUrl" class="form-label"
                              >SEO URL</label
                            >
                            <input
                              type="text"
                              id="seoUrl"
                              formControlName="seo_url"
                              class="form-control"
                              placeholder="Enter SEO URL"
                            />
                          </div>
                        </div>

                        <div class="col-lg-4">
                          <!-- Slug -->
                          <div class="mb-3">
                            <label for="slug" class="form-label">Slug</label>
                            <input
                              type="text"
                              id="slug"
                              formControlName="slug"
                              class="form-control"
                              placeholder="Enter slug"
                            />
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <!-- Meta Tag -->
                          <div class="mb-3">
                            <label for="metaTag" class="form-label"
                              >Meta Tag</label
                            >
                            <input
                              type="text"
                              id="metaTag"
                              formControlName="meta_tag"
                              class="form-control"
                              placeholder="Enter meta tag"
                            />
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-4">
                          <!-- Meta Keywords -->
                          <div class="mb-3">
                            <label for="metaKeywords" class="form-label"
                              >Meta Keywords</label
                            >
                            <input
                              type="text"
                              id="metaKeywords"
                              formControlName="meta_keywords"
                              class="form-control"
                              placeholder="Enter meta keywords"
                            />
                          </div>
                        </div>

                        <div class="col-lg-4">
                          <!-- Meta Description -->
                          <div class="mb-3">
                            <label for="metaDescription" class="form-label"
                              >Meta Description</label
                            >
                            <input
                              type="text"
                              id="metaDescription"
                              formControlName="meta_description"
                              class="form-control"
                              placeholder="Enter meta description"
                            />
                          </div>
                        </div>
                      </div>

                      <div class="col-12 mt-4">
                        <div class="hstack gap-2 justify-content-start">
                          @if (addSaveButtonActive) {
                          <button
                            type="submit"
                            class="btn btn-primary"
                            id="add-btn"
                          >
                            <i
                              class="bi bi-file-earmark-text me-1 align-baseline"
                            ></i>
                            Save
                          </button>
                          } @else {
                          <button
                            class="btn btn-secondary"
                            type="button"
                            disabled
                          >
                            <span
                              class="spinner-border spinner-border-sm"
                              role="status"
                              aria-hidden="true"
                            ></span>
                            Please wait
                          </button>
                          }
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </accordion-group>

          <accordion-group class="accordion-item">
            <h2
              accordion-heading
              class="accordion-header"
              id="accordionwithplusExample1"
            >
              <button class="accordion-button text-uppercase" type="button">
                Product catalog
              </button>
            </h2>
            <div
              id="accor_plusExamplecollapse1"
              class="accordion-collapse collapse show"
            >
              <div class="accordion-body">
                <app-add-catalog></app-add-catalog>
              </div>
            </div>
          </accordion-group>

          <accordion-group class="accordion-item">
            <h2
              accordion-heading
              class="accordion-header"
              id="accordionwithplusExample1"
            >
              <button class="accordion-button text-uppercase" type="button">
                Product Image
              </button>
            </h2>
            <div
              id="accor_plusExamplecollapse1"
              class="accordion-collapse collapse show"
            >
              <div class="accordion-body">
                <app-add-product-image></app-add-product-image>
              </div>
            </div>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
</div>
