<!-- Start Breadcrumbs -->
<app-breadcrumbs
  title="Employees List"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div id="productList">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <div class="flex-grow-1">
            <h5 class="card-title mb-0">
              Employeess
              <span class="badge bg-dark-subtle text-dark ms-1">{{
                employeeDataList?.length
              }}</span>
            </h5>
          </div>

          <div class="flex-shrink-0">
            <div class="d-flex flex-wrap align-items-start gap-2">
              <div class="col-xxl">
                <div class="search-box">
                  <input
                    type="text"
                    class="form-control search"
                    [(ngModel)]="term"
                    (keyup)="filterdata()"
                    placeholder="Search name, mobile,etc..."
                  />
                  <i class="ri-search-line search-icon"></i>
                </div>
              </div>

              <button
                class="btn btn-subtle-danger d-none"
                id="remove-actions"
                (click)="deleteRecordModal.show()"
              >
                <i class="ri-delete-bin-2-line"></i>
              </button>
              <button
                type="button"
                class="btn btn-primary add-btn"
                routerLink="/add-employee"
              >
                <i class="bi bi-plus-circle align-baseline me-1"></i> Add
                Employee
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-centered align-middle table-nowrap mb-0">
              <thead class="table-active">
                <tr>
                  <th>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value="option"
                        [(ngModel)]="masterSelected"
                        (change)="checkUncheckAll($event)"
                        id="checkAll"
                      />
                      <label class="form-check-label" for="checkAll"></label>
                    </div>
                  </th>
                  <th class="sort cursor-pointer" (click)="onSort('name')">
                    Employee Name
                  </th>

                  <th class="sort cursor-pointer" (click)="onSort('mobile')">
                    Mobile
                  </th>

                  <th
                    class="sort cursor-pointer"
                    (click)="onSort('employee_id')"
                  >
                    Employee ID
                  </th>

                  <th
                    class="sort cursor-pointer"
                    (click)="onSort('designation')"
                  >
                    Designation
                  </th>
                  <th
                    class="sort cursor-pointer"
                    (click)="onSort('department')"
                  >
                    Department
                  </th>
                  <th class="sort cursor-pointer" (click)="onSort('status')">
                    Status
                  </th>

                  <th>Action</th>
                </tr>
              </thead>
              <tbody class="list form-check-all">
                @for ( data of employeeData; track $index) {
                <tr id="p_{{ data._id }}">
                  <td>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="checkAll"
                        value="{{ data._id }}"
                        [(ngModel)]="data.states"
                        (change)="onCheckboxChange($event)"
                      />
                      <label class="form-check-label"></label>
                    </div>
                  </td>
                  <td class="id" style="display: none">
                    <a href="javascript:void(0);" class="fw-medium link-primary"
                      >#TB01</a
                    >
                  </td>
                  <td class="products">
                    <div class="d-flex align-items-center">
                      <div class="avatar-sm bg-light rounded p-1 me-2">
                        @if(data.image){
                        <img
                          src="{{ data.image }}"
                          alt=""
                          class="img-fluid d-block"
                        />
                        }@else {
                        <img
                          src="assets/images/users/avatar-1.jpg"
                          alt=""
                          class="img-fluid d-block"
                        />

                        }
                      </div>
                      <div>
                        <h6 class="mb-0">
                          <a
                            routerLink="/ecommerce/product-details"
                            class="text-reset products"
                            >{{ data.name }}</a
                          >
                        </h6>
                      </div>
                    </div>
                  </td>

                  <td class="category">
                    {{ data.mobile }}
                  </td>

                  <td class="category">
                    {{ data.employee_id }}
                  </td>

                  <td class="category">
                    {{ data.designation }}
                  </td>
                  <td class="category">
                    {{ data.department }}
                  </td>

                  <td class="discount">
                    <div class="form-switch form-switch-md mb-3">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        [checked]="data.status === 'active'"
                        (change)="setStatus(data.id, $event)"
                        [id]="'customSwitchsizemd' + $index"
                      />
                      <label
                        class="form-check-label"
                        [for]="'customSwitchsizemd' + $index"
                      >
                        <span
                          class="badge text-capitalize"
                          [ngClass]="{
                            'bg-info-subtle text-info':
                              data.status === 'active',
                            'bg-danger-subtle text-danger':
                              data.status === 'inactive'
                          }"
                        >
                          {{ data.status }}
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>
                    <div dropdown class="dropdown">
                      <button
                        dropdownToggle
                        class="btn btn-subtle-secondary btn-sm btn-icon"
                      >
                        <i class="bi bi-three-dots-vertical"></i>
                      </button>

                      <ul
                        *bsDropdownMenu
                        class="dropdown-menu dropdown-menu-end"
                      >
                        <li>
                          <a
                            class="dropdown-item"
                            routerLink="/employee-detail/{{ data.id }}"
                            [queryParams]="{ tab: 'personalDetails' }"
                            ><i class="ph-eye align-middle me-1"></i> View</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item edit-item-btn"
                            routerLink="/edit-employee/{{ data.id }}"
                            ><i class="ph-pencil align-middle me-1"></i> Edit</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item remove-item-btn"
                            (click)="removeItem(data.id)"
                            ><i class="ph-trash align-middle me-1"></i>
                            Remove</a
                          >
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
                }
              </tbody>
              @if (spinnerStatus) {
              <div id="elmLoader">
                <div
                  class="spinner-border text-primary avatar-sm"
                  role="status"
                >
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
              }
            </table>
          </div>

          <div class="noresult" style="display: none">
            <div class="text-center py-4">
              <div class="avatar-md mx-auto mb-4">
                <div
                  class="avatar-title bg-light text-primary rounded-circle fs-4xl"
                >
                  <i class="bi bi-search"></i>
                </div>
              </div>
              <h5 class="mt-2">Sorry! No Result Found</h5>
              <p class="text-muted mb-0">
                We've searched
                {{ this.employeeDataList.length }} Department We did not find
                any Department for you search.
              </p>
            </div>
          </div>

          <div class="row mt-3 align-items-center" id="pagination-element">
            <div class="col-sm">
              <div class="text-muted text-center text-sm-start">
                Showing
                <span class="fw-semibold">{{ employeeData?.length }}</span> of
                <span class="fw-semibold">{{ employeeDataList?.length }}</span>
                Results
              </div>
            </div>

            <div class="col-sm-auto mt-3 mt-sm-0">
              <pagination
                class="pagination-wrap hstack gap-2 justify-content-center"
                [totalItems]="employeeDataList?.length"
                [itemsPerPage]="10"
                (pageChanged)="pageChanged($event)"
              ></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="row">
  <div class="col-xl-12">
    <div class="">
      <div class="">
        <div class="row">
          <div class="col-lg-12">
            <div class="card" id="coursesList">
              <div class="card-body ps-0">
                <div class="row align-items-center g-2">
                  <div class="col-6 mt-0">
                    <div class="card-header ps-0 pt-0">
                      <div
                        class="d-flex justify-content-between align-items-center"
                      ></div>
                    </div>
                  </div>
                  <div class="col-lg-5 d-flex justify-content-end">
                    <div class="search-box">
                      <input
                        type="text"
                        class="form-control search"
                        placeholder="Search"
                        [(ngModel)]="term"
                        (keyup)="filterdata()"
                      />
                      <i class="ri-search-line search-icon"></i>
                    </div>
                  </div>

                  <div class="col-lg-1">
                    <div class="hstack flex-wrap gap-2">
                      <div>
                        <a routerLink="/add-employee" class="btn btn-secondary"
                          ><i class="bi bi-plus-circle align-baseline me-1"></i
                          >Add</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive table-card">
                  <table
                    class="table table-bordered table-centered align-middle table-custom-effect table-nowrap mb-0"
                  >
                    <thead class="text-muted text-center table-light">
                      <tr>
                        <th scope="col" class="cursor-pointer">S No.</th>
                        <th scope="col" class="cursor-pointer">Image</th>
                        <th scope="col" class="cursor-pointer">
                          Employee Name
                        </th>
                        <th scope="col" class="cursor-pointer">Employee ID</th>
                        <th scope="col" class="cursor-pointer">Status</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody class="list form-check-all text-center">
                      @for (data of employeeData; track $index) {
                      <tr>
                        <td class="id">
                          {{ (currentPage - 1) * itemsPerPage + $index + 1 }}
                        </td>

                        <td class="category">
                          <div
                            class="flex-shrink-0 d-flex justify-content-center"
                          >
                            <div
                              class="uploaded-image-avatar bg-light rounded p-2"
                            >
                              <img
                                class="img-fluid rounded"
                                src="{{ data.image }}"
                              />
                            </div>
                          </div>
                        </td>

                        <td class="instructor" [innerHtml]="data.name"></td>

                        <td
                          class="instructor"
                          [innerHtml]="data.employee_id"
                        ></td>

                        <td class="status">
                          <div class="form-switch form-switch-md mb-3">
                            <input
                              type="checkbox"
                              class="form-check-input"
                              [checked]="data.status === 'active'"
                              (change)="setStatus(data.id, $event)"
                              [id]="'customSwitchsizemd' + $index"
                            />
                            <label
                              class="form-check-label"
                              [for]="'customSwitchsizemd' + $index"
                            >
                              <span
                                class="badge text-capitalize"
                                [ngClass]="{
                                  'bg-info-subtle text-info':
                                    data.status === 'active',
                                  'bg-danger-subtle text-danger':
                                    data.status === 'inactive'
                                }"
                              >
                                {{ data.status }}
                              </span>
                            </label>
                          </div>
                        </td>

                        <td class="px-0">
                          <ul
                            class="d-flex justify-content-center gap-2 list-unstyled mb-0"
                          >
                            <li>
                              <a
                                routerLink="/employee-detail/{{ data.id }}"
                                class="btn btn-subtle-primary btn-icon btn-sm edit-item-btn"
                                ><i class="ph-eye fs-5"></i
                              ></a>
                            </li>

                            <li>
                              <a
                                routerLink="/edit-employee/{{ data.id }}"
                                class="btn btn-subtle-secondary btn-icon btn-sm edit-item-btn"
                                ><i class="ph-pencil fs-5"></i
                              ></a>
                            </li>
                            <li>
                              <a
                                (click)="delete(data.id)"
                                class="btn btn-subtle-danger btn-icon btn-sm remove-item-btn"
                                ><i class="ph-trash fs-5"></i
                              ></a>
                            </li>
                          </ul>
                        </td>
                      </tr>
                      }
                    </tbody>
                  </table>

                  <div class="noresult" style="display: none">
                    <div class="text-center py-4">
                      <i class="ph-magnifying-glass fs-1 text-primary"></i>
                      <h5 class="mt-2">Sorry! No Result Found</h5>
                      <p class="text-muted mb-0">
                        We did not find any Details for you search.
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  class="row align-items-center mt-4 pt-2"
                  id="pagination-element"
                >
                  <div class="col-sm">
                    <div class="text-muted text-center text-sm-start">
                      Showing
                      <span class="fw-semibold">{{
                        employeeData?.length
                      }}</span>
                      of
                      <span class="fw-semibold">{{
                        employeeDataList?.length
                      }}</span>
                      Results
                    </div>
                  </div>

                  <div class="col-sm-auto mt-3 mt-sm-0">
                    <pagination
                      class="pagination-wrap hstack gap-2 justify-content-center"
                      [totalItems]="employeeDataList?.length"
                      [itemsPerPage]="this.itemsPerPage"
                      (pageChanged)="pageChanged($event)"
                    ></pagination>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
        
        </div>
        @if (spinnerStatus) {
        <div id="elmLoader">
          <div class="spinner-border text-primary avatar-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div> -->

<!-- deleteRecordModal -->
<div
  id="deleteRecordModal"
  class="modal fade zoomIn"
  bsModal
  #deleteRecordModal="bs-modal"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          id="deleteRecord-close"
          (click)="deleteRecordModal.hide()"
        ></button>
      </div>
      <div class="modal-body p-md-5">
        <div class="text-center">
          <div class="text-danger">
            <i class="bi bi-trash display-4"></i>
          </div>
          <div class="mt-4">
            <h3 class="mb-2">Are you sure ?</h3>
            <p class="text-muted fs-lg mx-3 mb-0">
              Are you sure you want to remove this record ?
            </p>
          </div>
        </div>
        <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
          <button
            type="button"
            class="btn w-sm btn-light btn-hover"
            (click)="deleteRecordModal.hide()"
          >
            Close
          </button>
          <button
            type="button"
            class="btn w-sm btn-danger btn-hover"
            id="delete-record"
            (click)="deleteData(deleteId)"
          >
            Yes, Delete It!
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
