<!-- Start Breadcrumbs -->
<app-breadcrumbs
  title="Overview"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<!-- End Breadcrumbs -->
<div class="row align-items-center justify-content-between flex-nowrap">
  <div class="col-sm-4 col">
    @if(taskDetail?.isOverdue){
    <alert type="danger alert-label-icon rounded-label">
      <i class="ri-alert-line label-icon"></i><strong>Warning</strong> - Task is
      overdue!
    </alert>
    }

    <!-- Success Alert -->
    @if(taskDetail?.status === 'Completed'){
    <alert type="success alert-label-icon rounded-label" class="">
      <i class="ri-user-smile-line label-icon"></i><strong>Success</strong>
      - Task is Completed
    </alert>
    } @if(taskDetail?.status === 'On-Hold'){
    <!-- Secondary Alert -->
    <alert type="secondary alert-label-icon rounded-label">
      <i class="bx bx-stop-circle label-icon"></i><strong>Hold</strong>
      - Task is On-Hold
    </alert>
    } @if(taskDetail?.status === 'Pending-Review'){
    <!-- Secondary Alert -->
    <alert type="warning alert-label-icon rounded-label">
      <i class="ri-information-fill label-icon"></i
      ><strong>Pending-Review</strong>
    </alert>
    } @if(taskDetail?.status === 'Cancelled'){
    <alert type="danger alert-label-icon rounded-label">
      <i class="ri-alert-line label-icon"></i><strong>Cancelled</strong> - Task
      is Cancelled!
    </alert>
    } @if(taskDetail?.status === 'In-Progress'){
    <alert type="info alert-label-icon rounded-label">
      <i class="ri-information-fill label-icon"></i
      ><strong>In-Progress</strong> - Task is In-Progress!
    </alert>
    }
  </div>
  <div class="col-lg-4 col-auto">
    <div class="text-end">
      <button class="btn btn-secondary mb-2" (click)="goBack()">
        <i class="mdi mdi-keyboard-backspace align-baseline me-1"></i>
        Back
      </button>
    </div>
  </div>
</div>
<div class="card">
  <div class="row g-0">
    <div class="col-xl-9 col-lg-8">
      <div class="card-body border-end h-100">
        <div class="row mb-4 pb-2 g-3">
          <div class="col-auto">
            <div class="avatar-sm">
              <div class="avatar-title bg-success-subtle rounded">
                <img
                  src="assets/images/companies/img-3.png"
                  alt=""
                  class="avatar-xs"
                />
              </div>
            </div>
          </div>
          <div class="col-md order-3 order-md-2">
            <div>
              <h5>#{{ taskDetail?.task_id }} - {{ taskDetail?.task_title }}</h5>
              <div class="hstack gap-2 gap-md-3 flex-wrap">
                <!-- <div class="text-muted"><i class="ri-building-line align-bottom me-1"></i><span id="ticket-client">Themesbrand</span></div>
                                <div class="vr"></div> -->
                <div class="text-muted">
                  Start Date :
                  <span class="fw-medium" id="create-date">
                    {{ taskDetail?.start_date | date : "dd MMM, YYYY" }}</span
                  >
                </div>
                <div class="vr"></div>
                <div class="text-muted">
                  Due Date :
                  <span class="fw-medium" id="due-date">{{
                    taskDetail?.end_date | date : "dd MMM, YYYY"
                  }}</span>
                </div>
                <div class="vr"></div>
                <div class="text-muted">
                  Priority :
                  <span
                    class="badge"
                    [ngClass]="{
                      'bg-danger': taskDetail?.priority === 'High',
                      'bg-info': taskDetail?.priority === 'Medium',
                      'bg-success': taskDetail?.priority === 'Low'
                    }"
                    >{{ taskDetail?.priority }}</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto ms-auto order-2 order-md-3">
            <!-- <a routerLink="/assign-task" class="btn btn-primary btn-sm"> Add Ticket</a> -->

            <div
              dropdown
              [insideClick]="true"
              class="dropdown topbar-head-dropdown ms-1 header-item"
              id="notificationDropdown"
            >
              <!-- Buttons Group -->

              <button
                dropdownToggle
                type="button"
                class="btn btn-primary rounded-circle"
                id="page-header-notifications-dropdown"
                data-bs-toggle="dropdown"
                data-bs-auto-close="outside"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="mdi mdi-bell-ring fs-2xl"></i>
              </button>
              <div
                *dropdownMenu
                class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                aria-labelledby="page-header-notifications-dropdown"
              >
                <div class="dropdown-head rounded-top">
                  <div class="p-3 border-bottom border-bottom-dashed">
                    <div class="row align-items-center">
                      <div class="col">
                        <h6 class="mb-0 fs-lg fw-semibold">Reminder</h6>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="py-2 ps-2" id="notificationItemsTabContent">
                  <ngx-simplebar
                    data-simplebar-track="light"
                    style="max-height: 300px"
                    class="pe-2"
                  >
                    @for (data of taskDetail?.employeeDetails; track $index) {
                    <div>
                      <div
                        class="text-reset notification-item d-block dropdown-item position-relative unread-message"
                      >
                        <div class="d-flex">
                          <div class="position-relative me-3 flex-shrink-0">
                            <img
                              [src]="
                                data.image
                                  ? data.image
                                  : 'assets/images/users/avatar-1.jpg'
                              "
                              class="rounded-circle avatar-xs"
                              alt="user-pic"
                            />
                          </div>

                          <div class="flex-grow-1">
                            <a class="stretched-link">
                              <h6 class="mt-0 mb-1 fs-md fw-semibold">
                                {{ data.name }}
                              </h6>
                            </a>

                            <p
                              class="mb-0 fs-11 fw-medium text-uppercase text-muted"
                            >
                              <span
                                class="badge"
                                [ngClass]="{
                                  'bg-primary-subtle text-primary':
                                    data.status === 'To-Do',
                                  'bg-info-subtle text-info':
                                    data.status === 'In-Progress',
                                  'bg-warning-subtle text-warning':
                                    data.status === 'Pending-Review',
                                  'bg-success-subtle text-success':
                                    data.status === 'Completed',
                                  'bg-secondary-subtle text-dark':
                                    data.status === 'On-Hold',
                                  'bg-danger-subtle text-danger':
                                    data.status === 'Cancelled'
                                }"
                                >{{ data.status }}</span
                              >
                            </p>
                          </div>
                          <div class="px-2 fs-base">
                            <div class="form-check notification-check">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                [value]="data.id"
                                [checked]="selectedEmpIds.includes(data.id)"
                                (change)="toggleSelection(data.id, $event)"
                              />
                              <label class="form-check-label"></label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    }
                  </ngx-simplebar>
                  <div
                    class="notification-actions"
                    id="notification-actions"
                    *ngIf="selectedEmpIds.length > 0"
                  >
                    <div
                      class="d-flex text-muted justify-content-center align-items-center"
                    >
                      <!-- <button type="button" class="btn btn-primary" (click)="sendReminder()">
                                    Send
                                  </button>
                                  <button
                                  type="button"
                                  class="btn btn-link link-danger p-0 ms-2"
                                  (click)="sendReminder()"
                                >
                                Send
                                </button> -->

                      <button
                        (click)="sendReminder()"
                        class="btn btn-dark chat-send waves-effect waves-light mt-3"
                      >
                        <i class="ph-paper-plane-right align-middle me-2"></i>
                        Send
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h6 class="fw-semibold text-uppercase mb-2">Task Descriptions</h6>
        <p class="text-muted mb-4">{{ taskDetail?.task_description }}</p>
        <!-- <h6 class="fw-semibold text-uppercase mb-3">Create an Excellent UI for a Dashboard</h6>
                <ul class="text-muted vstack gap-2 mb-4 list-unstyled">
                    <li><i class="bi bi-check-lg text-success"></i> App Registry Error in React</li>
                    <li><i class="bi bi-check-lg text-success"></i> Development Server Error in React</li>
                    <li><i class="bi bi-check-lg text-success"></i> Undefined is not an object error in React</li>
                    <li><i class="bi bi-check-lg text-success"></i> Not following the ReactJS folder structure</li>
                    <li><i class="bi bi-check-lg text-success"></i> Webstorm does not recognize tags</li>
                </ul> -->
        <!-- <h6 class="fw-semibold text-uppercase mb-4">
          Team Status and Comments
        </h6>
        @for (employee of taskDetail?.employeeDetails; track $index) {
        <div class="d-flex my-4">
          <div class="flex-shrink-0">
            <img
              [src]="
                employee.image
                  ? employee.image
                  : 'assets/images/users/avatar-1.jpg'
              "
              alt=""
              class="avatar-xs rounded-circle"
            />
          </div>
          <div class="flex-grow-1 ms-3">
            <h6>
              {{ employee.name }}

            
            </h6>
            <p class="text-truncate text-muted fs-md mb-0 userStatus">
              <span
                class="badge"
                [ngClass]="{
                  'bg-primary-subtle text-primary': employee.status === 'To-Do',
                  'bg-info-subtle text-info': employee.status === 'In-Progress',
                  'bg-warning-subtle text-warning':
                    employee.status === 'Pending-Review',
                  'bg-success-subtle text-success':
                    employee.status === 'Completed',
                  'bg-secondary-subtle text-dark':
                    employee.status === 'On-Hold',
                  'bg-danger-subtle text-danger':
                    employee.status === 'Cancelled'
                }"
                >{{ employee.status }}</span
              >
            </p>
          </div>
        </div>
        <ngx-simplebar style="max-height: 200px" class="px-3 ms-4">
          @for (item of employee.comment; track $index) {
          <small class="text-muted">{{
            item.timestamp | date : "dd MMM, YYYY - HH:mm a"
          }}</small>
          <p class="text-muted">{{ item.text }}</p>
     
          }
        </ngx-simplebar>
        } -->
        <div class="chat-wrapper d-lg-flex gap-1 p-1 mb-3">
          <div class="chat-leftsidebar">
            <div class="tab-content">
              <div class="tab-pane show active" id="pills-chats">
                <div class="p-4">
                  <div class="d-flex align-items-start">
                    <div class="flex-grow-1">
                      <h5 class="mb-4">Chats</h5>
                    </div>
                    <!-- <div class="flex-shrink-0">
                      <div placement="bottom" tooltip="Add Contact">
     
                        <button
                          type="button"
                          class="btn btn-subtle-primary btn-sm"
                        >
                          <i class="ri-add-line align-bottom"></i>
                        </button>
                      </div>
                    </div> -->
                  </div>
                  <div class="search-box">
                    <input
                      type="text"
                      class="form-control bg-light border-light"
                      placeholder="Search here..."
                    />
                    <i class="ri-search-2-line search-icon"></i>
                  </div>
                </div>
                <!-- .p-4 -->
                <ngx-simplebar class="chat-room-list">
                  <div class="chat-message-list">
                    <ul
                      class="list-unstyled chat-list chat-user-list"
                      id="userList"
                    >
                      @for (employee of taskDetail?.employeeDetails; track
                      $index) {
                      <li
                        [ngClass]="
                          selectedEmployee === employee ? 'active' : ''
                        "
                        (click)="selectEmployee(employee)"
                      >
                        <a href="javascript:void(0);">
                          <div class="d-flex align-items-center">
                            <div
                              class="flex-shrink-0 chat-user-img align-self-center me-2 ms-0"
                            >
                              <div class="avatar-xxs">
                                @if (employee.nickname) {
                                <div
                                  class="avatar-title rounded-circle bg-primary text-white fs-xxs"
                                >
                                  {{ employee.nickname }}
                                </div>
                                } @else {
                                <img
                                  [src]="
                                    employee.image ||
                                    'assets/images/users/avatar-1.jpg'
                                  "
                                  class="rounded-circle img-fluid userprofile"
                                  alt=""
                                />
                                }
                              </div>
                            </div>
                            <div class="flex-grow-1 overflow-hidden">
                              <p class="text-truncate mb-0">
                                {{ employee.name }}
                              </p>

                               <p class="text-truncate text-muted fs-md mb-0 userStatus">
              <span
                class="badge"
                [ngClass]="{
                  'bg-primary-subtle text-primary': employee.status === 'To-Do',
                  'bg-info-subtle text-info': employee.status === 'In-Progress',
                  'bg-warning-subtle text-warning':
                    employee.status === 'Pending-Review',
                  'bg-success-subtle text-success':
                    employee.status === 'Completed',
                  'bg-secondary-subtle text-dark':
                    employee.status === 'On-Hold',
                  'bg-danger-subtle text-danger':
                    employee.status === 'Cancelled'
                }"
                >{{ employee.status }}</span
              >
            </p>
                            </div>
                            @if (employee.messagecount) {
                            <div class="ms-auto">
                              <span
                                class="badge bg-dark-subtle text-dark rounded p-1"
                                >{{ employee.messagecount }}</span
                              >
                            </div>
                            }
                          </div>
                        </a>
                      </li>
                      }
                    </ul>
                  </div>

  
                </ngx-simplebar>
              </div>
            </div>
          </div>

          
          <div class="user-chat w-100 overflow-hidden">
            <div class="chat-content d-lg-flex">
            
              <div class="w-100 overflow-hidden position-relative">

                <div class="position-relative">
                  <div class="position-relative" id="users-chat">
                    <div class="p-3 user-chat-topbar border-bottom border-2">
                      <div class="row align-items-center flex-nowrap">
                        <div class="col-sm-4 col">
                          <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 d-block d-lg-none me-3">
                              <a
                                href="javascript: void(0);"
                                (click)="hideChat()"
                                class="user-chat-remove fs-lg p-1"
                                ><i
                                  class="ri-arrow-left-s-line align-bottom"
                                ></i
                              ></a>
                            </div>
                            <div class="flex-grow-1 overflow-hidden">
                              <div
                                class="d-flex align-items-center"
                                (click)="openEnd()"
                              >
                                <div
                                  class="flex-shrink-0 chat-user-img user-own-img align-self-center me-3 ms-0"
                                  [ngClass]="{
                                    away: isStatus == 'away',
                                    online: isStatus == 'online'
                                  }"
                                >
                                  <!-- <img src="{{isProfile}}" class="rounded-circle avatar-xs" alt=""> -->
                                  <span class="user-status"></span>
                                </div>
                                <div class="flex-grow-1 overflow-hidden">
                                  <h5 class="text-truncate mb-1 fs-lg">
                                    <a
                                      class="text-reset username"
                                      data-bs-toggle="offcanvas"
                                      href="javascript:void(0);"
                                      aria-controls="userProfileCanvasExample"
                                    >
                                    {{ taskDetail?.task_title }}</a
                                    >
                                  </h5>
                                  <!-- <p
                                    class="text-truncate text-muted fs-md mb-0 userStatus"
                                  >
                                    <small>{{ isStatus | titlecase }}</small>
                                    <small>{{
                                      selectedEmployee?.status || ""
                                    }}</small>
                                  </p> -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-8 col-auto">
                          <ul class="list-inline user-chat-nav text-end mb-0">
                            <li class="list-inline-item m-0">
                              <div
                                dropdown
                                [insideClick]="true"
                                class="dropdown"
                              >
                                <button
                                  dropdownToggle
                                  class="btn btn-ghost-secondary btn-icon"
                                  type="button"
                                >
                                  <i class="bi bi-search"></i>
                                </button>
                                <div
                                  *bsDropdownMenu
                                  class="dropdown-menu p-0 dropdown-menu-end dropdown-menu-lg"
                                >
                                  <div class="p-2">
                                    <div class="search-box">
                                      <input
                                        type="text"
                                        class="form-control bg-light border-light"
                                        placeholder="Search here..."
                                        (keyup)="MessageSearch()"
                                        id="searchMessage"
                                      />
                                      <i
                                        class="ri-search-2-line search-icon"
                                      ></i>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>


                            <!-- <li
                              class="list-inline-item d-none d-lg-inline-block m-0"
                            >
                              <button
                                type="button"
                                class="btn btn-ghost-secondary fs-lg btn-icon"
                                data-bs-toggle="offcanvas"
                                data-bs-target="#userProfileCanvasExample"
                                aria-controls="userProfileCanvasExample"
                                (click)="openEnd()"
                              >
                                <i class="bi bi-telephone"></i>
                              </button>
                            </li>

                            <li class="list-inline-item m-0">
                              <div dropdown class="dropdown">
                                <button
                                  dropdownToggle
                                  class="btn btn-ghost-secondary fs-lg btn-icon"
                                  type="button"
                                >
                                  <i class="bi bi-three-dots-vertical"></i>
                                </button>
                                <div
                                  *bsDropdownMenu
                                  class="dropdown-menu dropdown-menu-end"
                                >
                                  <a
                                    class="dropdown-item d-block d-lg-none user-profile-show"
                                    href="javascript:void(0);"
                                    ><i
                                      class="ri-user-2-fill align-bottom text-muted me-2"
                                    ></i>
                                    View Profile</a
                                  >
                                  <a
                                    class="dropdown-item"
                                    href="javascript:void(0);"
                                    ><i
                                      class="ri-inbox-archive-line align-bottom text-muted me-2"
                                    ></i>
                                    Archive</a
                                  >
                                  <a
                                    class="dropdown-item"
                                    href="javascript:void(0);"
                                    ><i
                                      class="ri-mic-off-line align-bottom text-muted me-2"
                                    ></i>
                                    Muted</a
                                  >
                                  <a
                                    class="dropdown-item"
                                    href="javascript:void(0);"
                                    (click)="deleteAllMessage($event)"
                                    ><i
                                      class="ri-delete-bin-5-line align-bottom text-muted me-2"
                                    ></i>
                                    Delete</a
                                  >
                                </div>
                              </div>
                            </li> -->
                          </ul>
                        </div>
                      </div>
                    </div>
               
                    <ngx-simplebar
                      class="chat-conversation p-3 p-lg-4"
                      #scrollRef
                    >
                      <ul
                        class="list-unstyled chat-conversation-list"
                        id="users-conversation"
                      >
                        @for (msg of taskDetail?.group?.messages || []; track
                        $index) {
                        <li
                          class="chat-list"
                          [ngClass]="
                            msg.sender.id === company_id ? 'right' : 'left'
                          "
                        >
                          <div class="conversation-list">
                            <div
                              class="chat-avatar"
                              *ngIf="msg.sender.id !== company_id"
                            >
                              <img
                                [src]="
                                  msg.sender.image ||
                                  'assets/images/users/avatar-1.jpg'
                                "
                                alt="user"
                              />
                            </div>

                            <div class="user-chat-content">
                              <div class="ctext-wrap">
                                <div class="ctext-wrap-content">
                                  @if (msg.repmessage) {
                                  <div
                                    class="replymessage-block mb-2 d-flex align-items-start"
                                  >
                                    <div class="flex-grow-1">
                                      <h5 class="conversation-name">
                                        {{ msg.receiver.name }}
                                      </h5>
                                      <p class="mb-0">{{ msg.repmessage }}</p>
                                    </div>
                                  </div>
                                  }

                                  <p class="mb-0 ctext-content">
                                    {{ msg.message }}
                                  </p>
                                </div>
                                <div
                                  
                                  class="dropdown align-self-start message-box-drop"
                                  dropdown
                                >
                                  <a
                                    class="dropdown-toggle"
                                    href="javascript:void(0);"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    dropdownToggle
                                  >
                                    <i class="ri-more-2-fill"></i>
                                  </a>
                                  <div class="dropdown-menu" *bsDropdownMenu>
                                    <a
                                      class="dropdown-item reply-message"
                                      href="javascript:void(0);"
                                      (click)="
                                        replyMessage($event, msg.id , msg.sender.id)
                                      "
                                      ><i
                                        class="ri-reply-line me-2 text-muted align-bottom float-start"
                                      ></i
                                      >Reply</a
                                    >

                                    <a
                                      class="dropdown-item copy-message"
                                      href="javascript:void(0);"
                                      (click)="copyMessage($event)"
                                      ><i
                                        class="ri-file-copy-line me-2 text-muted align-bottom float-start"
                                      ></i
                                      >Copy</a
                                    >
                                  </div>
                                </div>

                              </div>

                                        <div class="conversation-name">
  <strong class="text-dark d-block">
    {{ msg.sender.id == company_id ? 'You' : msg.sender.name }}
  </strong>
  <small class="text-muted time">
    {{ msg.sent_at | date : "dd MMM, yyyy - hh:mm a" }}
  </small>
  <span class="text-success check-message-icon">
    <!-- <i class="ri-check-double-line align-bottom"></i> -->
  </span>
</div>
                            </div>
                          </div>
                        </li>
                        }

                       
                      </ul>
                    </ngx-simplebar>

                    <div
                      class="alert alert-warning alert-dismissible copyclipboard-alert px-4 fade show"
                      id="copyClipBoard"
                      role="alert"
                    >
                      Message copied
                    </div>
                  </div>

                  <div
                    class="chat-input-section p-3 p-lg-4 border-top border-2"
                  >
                    <form
                      (ngSubmit)="messageSave()"
                      [formGroup]="formData"
                      id="chatinput-form"
                      enctype="multipart/form-data"
                    >
                      <div class="row g-0 align-items-center">
                        <div class="col-auto">
                          <div class="chat-input-links me-2">
                            <div class="links-list-item">
                              <!--  -->
                              <button
                                type="button"
                                class="btn btn-link text-decoration-none emoji-btn"
                                (click)="toggleEmojiPicker()"
                                id="emoji-btn"
                              >
                                <i class="bx bx-smile align-middle"></i>
                              </button>
                              @if (showEmojiPicker) {
                              <emoji-mart
                                class="emoji-mart"
                                (emojiSelect)="addEmoji($event)"
                                title="Pick your emoji…"
                              ></emoji-mart>
                              }
                            </div>
                          </div>
                        </div>

                        <div class="col">
                          @if (submitted && form['message'].errors) {
                          <div class="chat-input-feedback">
                            @if (form['message'].errors['required']) {
                            <span>Please Enter a Message</span>
                            }
                          </div>
                          }
                          <input
                            type="text"
                            class="form-control chat-input bg-light border-light"
                            formControlName="message"
                            [ngClass]="{
                              'is-invalid': submitted && form['message'].errors
                            }"
                            [(ngModel)]="emoji"
                            (blur)="onBlur()"
                            (focus)="onFocus()"
                            id="chat-input"
                            placeholder="Type your message..."
                            autocomplete="off"
                          />
                        </div>
                        <div class="col-auto">
                          <div class="chat-input-links ms-2">
                            <div class="links-list-item">
                              <button
                                type="submit"
                                class="btn btn-dark chat-send waves-effect waves-light"
                              >
                                <i
                                  class="ph-paper-plane-right align-middle"
                                ></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="replyCard">
                    <div class="card mb-0">
                      <div class="card-body">
                        <div
                          class="replymessage-block mb-0 d-flex align-items-start"
                        >
                          <div class="flex-grow-1">
                            <h5 class="conversation-name"></h5>
                            <p class="mb-0"></p>
                          </div>
                          <div class="flex-shrink-0">
                            <button
                              type="button"
                              id="close_toggle"
                              (click)="closeReplay()"
                              class="btn btn-sm btn-link mt-n2 me-n3 fs-lg"
                            >
                              <i class="bx bx-x align-middle"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


       
     
      </div>
    </div>
    <!--end col-->
    <div class="col-xl-3 col-lg-4">
      <div class="card-header">
        <h6 class="card-title mb-0">Task Details</h6>
      </div>
      <div class="card-body mt-2">
        <div class="table-responsive table-card">
          <table class="table table-borderless align-middle mb-0">
            <tbody>
              <tr>
                <th>Task No</th>
                <td>{{ taskDetail?.task_id }}</td>
              </tr>

              <tr>
                <th>Assigned To:</th>
                <td>
                  <div class="avatar-group">
                    @for (profile of taskDetail?.employeeDetails; track $index)
                    {
                    <a class="avatar-group-item" tooltip="{{ profile.name }}">
                      <img
                        [src]="
                          profile.image
                            ? profile.image
                            : 'assets/images/users/avatar-1.jpg'
                        "
                        alt=""
                        class="avatar-xxs rounded-circle"
                      />
                    </a>
                    }
                  </div>
                </td>
              </tr>
              <tr>
                <th>Status:</th>
                <td>
                  <span
                    class="badge"
                    [ngClass]="{
                      'bg-primary-subtle text-primary':
                        taskDetail?.status === 'To-Do',
                      'bg-info-subtle text-info':
                        taskDetail?.status === 'In-Progress',
                      'bg-warning-subtle text-warning':
                        taskDetail?.status === 'Pending-Review',
                      'bg-success-subtle text-success':
                        taskDetail?.status === 'Completed',
                      'bg-secondary-subtle text-dark':
                        taskDetail?.status === 'On-Hold',
                      'bg-danger-subtle text-danger':
                        taskDetail?.status === 'Cancelled'
                    }"
                    >{{ taskDetail?.status }}</span
                  >
                </td>
              </tr>
              <tr>
                <th>Priority</th>
                <td>
                  <span
                    class="badge"
                    [ngClass]="{
                      'bg-danger': taskDetail?.priority === 'High',
                      'bg-info': taskDetail?.priority === 'Medium',
                      'bg-success': taskDetail?.priority === 'Low'
                    }"
                    >{{ taskDetail?.priority }}</span
                  >
                </td>
              </tr>
              <tr>
                <th>Start Date</th>
                <td id="c-date">
                  {{ taskDetail?.start_date | date : "dd MMM, YYYY" }}
                </td>
              </tr>
              <tr>
                <th>Due Date</th>
                <td id="d-date">
                  {{ taskDetail?.end_date | date : "dd MMM, YYYY" }}
                </td>
              </tr>
              <tr>
                <th>Create Date</th>
                <td id="d-date">
                  {{ taskDetail?.created_at | date : "dd MMM, YYYY" }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--end card-body-->
      <!-- <div class="card-body border-top mt-2">
                <a href="javascript:void(0);" class="float-end link-effect">View More <i class="bi bi-arrow-right align-baseline ms-1"></i></a>
                <h6 class="card-title mb-0">Support Team</h6>
            </div>
            <div class="card-body">
                <div class="d-flex gap-2 align-items-center mb-3">
                    <div class="flex-shrink-0">
                        <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-sm rounded">
                    </div>
                    <div class="flex-grow-1">
                        <h6 class="fs-md">Morton Satterfield</h6>
                        <p class="text-muted mb-0">Admin & Founder</p>
                    </div>
                </div>
                <button class="btn btn-secondary w-100" id="agent-chat"><i class="bi bi-chat-text align-baseline me-1"></i> Get In Touch</button>
            </div> -->
    </div>
  </div>
  <!--end row-->
</div>
