.activity-timeline-2 {
    border-right: 1px solid #e0e0e0;
    // padding-right: 15px;
  }
  
  .activity-item {
    border-bottom: 1px solid #e0e0e0;
    // padding: 5px ;
    cursor: pointer;
  }
  
  .activity-item:hover {
    background-color: #f8f8f8;
  }

  .selected-item {
    background-color: #d1ecf1; /* Change this color to your preferred selection color */
  }
  
  .battery-status {
    display: flex;
    align-items: center;
  }
  
  .battery-status .ri-battery-saver-line {
    margin-right: 5px;
  }
  
  .battery-high {
    color: green;
  }
  
  .battery-mid {
    color: orange;
  }
  
  .battery-low {
    color: red;
  }
  
  #noresult {
    text-align: center;
    padding: 20px;
  }
  
  #map {
    width: 100% !important;
    // height: 100% !important;
    border-left: 1px solid #e0e0e0;
  }
  
  .match-parent {
    height: 100%;
  }
  

  .cursor-pointer {
    cursor: pointer;
  }

  .overflow{
    overflow-y: auto;
    height: 500px;
  }



  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotate {
    animation: rotate 0.5s linear;
  }

  .bi-arrow-clockwise{
    font-size: 22px;
  }
  