// :host ::ng-deep #mapId {
//   width: 100% !important;
//   height: 500px !important;
   
//   }
  
 #mapId {
  width: 100%; /* Adjust to your requirement */
  height: 80vh !important; /* Adjust to your requirement */
  position: relative;
}


// .container {
//   display:grid;
//   grid-template-columns:1fr 1fr;
//   height:500px;
//   border:2px solid red;
// }

  // #mapId { position: relative; top: 0; bottom: 0; width: 100% !important;  height: 500px !important;}
  .match-parent {
    height: 100%;
  }

   @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotate {
    animation: rotate 0.5s linear;
  }

  .bi-arrow-clockwise{
    font-size: 22px;
  }


  .battery-status {
    display: flex;
    align-items: center;
  }
  
  .battery-status .ri-battery-saver-line {
    margin-right: 5px;
  }
  
  .battery-high {
    color: green;
  }
  
  .battery-mid {
    color: orange;
  }
  
  .battery-low {
    color: red;
  }