<!-- Start Breadcrumbs -->
<app-breadcrumbs
  title="Profile"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<!-- End Breadcrumbs -->
@if (spinnerStatus) {
<div id="elmLoader">
  <div class="spinner-border text-primary avatar-sm" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
}

<div class="row">
  <div class="col-xl-4">
    <div class="card">
      <div class="card-body">
        <!-- <div class="d-flex mb-3">
                    <div dropdown class="dropdown flex-shrink-0 ms-auto">
                        <button dropdownToggle class="btn btn-light btn-icon btn-sm" type="button">
                            <i class="bi bi-share"></i>
                        </button>
                        <ul *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="javascript:void(0);"><i class="bi bi-facebook me-1 align-baseline"></i> Facebook</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);"><i class="bi bi-whatsapp me-1 align-baseline"></i> Whatsapp</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);"><i class="bi bi-instagram me-1 align-baseline"></i> Instagram</a></li>
                        </ul>
                    </div>
                </div> -->
        <div class="text-center border-bottom border-dashed pb-4">
          <img
            [src]="
              companyData?.logo
                ? companyData?.logo
                : 'assets/images/users/avatar-1.jpg'
            "
            alt=""
            class="avatar-lg rounded-circle p-1 img-thumbnail"
          />
          <div class="mt-3">
            <h5>
              {{ companyData?.name }}
            </h5>
            <p class="text-muted">{{ companyData?.business_type }}</p>
          </div>

          <!-- <div class="d-flex gap-2 mt-4">
            <button
              type="button"
              class="btn btn-subtle-secondary custom-toggle w-50"
              (click)="Followbtn($event)"
            >
              <span class="icon-on"
                ><i class="bi bi-person-plus align-baseline me-1"></i>
                Follow</span
              >
              <span class="icon-off"
                ><i class="bi bi-person-x align-baseline me-1"></i>
                Unfollow</span
              >
            </button>
            <button type="button" class="btn btn-primary text-truncate w-50">
              <i class="bi bi-chat-left-text align-baseline me-1"></i> Contact
              Us
            </button>
          </div> -->
        </div>

        <div class="border-bottom border-dashed py-4">
          <h5 class="card-title mb-3">Information</h5>
          <div class="table-responsive">
            <table class="table table-borderless table-sm align-middle mb-0">
              <tbody>
                <tr>
                  <th class="ps-0" scope="row">TIN</th>
                  <td class="text-muted text-end">{{ companyData?.tax_no }}</td>
                </tr>
                <tr>
                  <th class="ps-0" scope="row">CIN</th>
                  <td class="text-muted text-end">{{ companyData?.cin_id }}</td>
                </tr>

                <tr>
                  <th class="ps-0" scope="row">Website</th>
                  <td class="text-muted text-end">
                    <a href="/{{ companyData?.website_url }}" target="_blank">{{
                      companyData?.website_url
                    }}</a>
                  </td>
                </tr>
                <tr>
                  <th class="ps-0" scope="row">Email</th>
                  <td class="text-muted text-end">
                    {{ companyData?.email }}
                  </td>
                </tr>
                <tr>
                  <th class="ps-0" scope="row">Phone Number</th>
                  <td class="text-muted text-end">{{ companyData?.mobile }}</td>
                </tr>
                <tr>
                  <th class="ps-0" scope="row">Location</th>
                  <td class="text-muted text-end">
                    {{ companyData?.address }}
                  </td>
                </tr>

                <!-- <tr>
                  <th>Social Media</th>
                  <td>
                    <div class="d-flex flex-wrap justify-content-end gap-2">
                      <a href="javascript:void(0);" class="avatar-xs d-block">
                        <span
                          class="avatar-title rounded-circle bg-secondary-subtle text-dark"
                        >
                          <i class="bi bi-github"></i>
                        </span>
                      </a>
                      <a href="javascript:void(0);" class="avatar-xs d-block">
                        <span
                          class="avatar-title rounded-circle bg-primary-subtle text-primary"
                        >
                          <i class="bi bi-facebook"></i>
                        </span>
                      </a>
                      <a href="javascript:void(0);" class="avatar-xs d-block">
                        <span
                          class="avatar-title rounded-circle bg-success-subtle text-success"
                        >
                          <i class="bi bi-dribbble"></i>
                        </span>
                      </a>
                      <a href="javascript:void(0);" class="avatar-xs d-block">
                        <span
                          class="avatar-title rounded-circle bg-danger-subtle text-danger"
                        >
                          <i class="bi bi-instagram"></i>
                        </span>
                      </a>
                    </div>
                  </td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>

        <!-- <div class="border-bottom border-dashed py-4">
          <h5 class="card-title mb-3">Documents</h5>
          <div class="vstack gap-3">
            <div class="d-flex gap-2 align-items-center position-relative">
              <div class="flex-shrink-0">
                <div class="avatar-sm border border rounded">
                  <div
                    class="avatar-title bg-body-secondary text-secondary rounded fs-lg"
                  >
                    <i class="bi bi-file-zip"></i>
                  </div>
                </div>
              </div>
              <div class="flex-grow-1">
                <h6>Artboard.zip</h6>
                <p class="text-muted mb-0">2.02MB</p>
              </div>
              <div class="flex-shrink-0">
                <a
                  href="javascript:void(0);"
                  class="icon-link icon-link-hover text-reset stretched-link fs-xl"
                  style="--tb-icon-link-transform: translate3d(0, -0.125rem, 0)"
                  ><i class="bi bi-download"></i
                ></a>
              </div>
            </div>

            <div class="d-flex gap-2 align-items-center position-relative">
              <div class="flex-shrink-0">
                <div class="avatar-sm border border rounded">
                  <div
                    class="avatar-title bg-body-secondary text-secondary rounded fs-lg"
                  >
                    <i class="bi bi-filetype-txt"></i>
                  </div>
                </div>
              </div>
              <div class="flex-grow-1">
                <h6>Steex.txt</h6>
                <p class="text-muted mb-0">1.49 MB</p>
              </div>
              <div class="flex-shrink-0">
                <a
                  href="javascript:void(0);"
                  class="icon-link icon-link-hover text-reset stretched-link fs-xl"
                  style="--tb-icon-link-transform: translate3d(0, -0.125rem, 0)"
                  ><i class="bi bi-download"></i
                ></a>
              </div>
            </div>

            <div class="d-flex gap-2 align-items-center position-relative">
              <div class="flex-shrink-0">
                <div class="avatar-sm border border rounded">
                  <div
                    class="avatar-title bg-body-secondary text-secondary rounded fs-lg"
                  >
                    <i class="bi bi-image"></i>
                  </div>
                </div>
              </div>
              <div class="flex-grow-1">
                <h6>Profile bg.png</h6>
                <p class="text-muted mb-0">325 KB</p>
              </div>
              <div class="flex-shrink-0">
                <a
                  href="javascript:void(0);"
                  class="icon-link icon-link-hover text-reset stretched-link fs-xl"
                  style="--tb-icon-link-transform: translate3d(0, -0.125rem, 0)"
                  ><i class="bi bi-download"></i
                ></a>
              </div>
            </div>

            <div class="d-flex gap-2 align-items-center position-relative">
              <div class="flex-shrink-0">
                <div class="avatar-sm border border rounded">
                  <div
                    class="avatar-title bg-body-secondary text-secondary rounded fs-lg"
                  >
                    <i class="bi bi-file-pdf"></i>
                  </div>
                </div>
              </div>
              <div class="flex-grow-1">
                <h6>Steex Docs.pdf</h6>
                <p class="text-muted mb-0">2.06 MB</p>
              </div>
              <div class="flex-shrink-0">
                <a
                  href="javascript:void(0);"
                  class="icon-link icon-link-hover text-reset stretched-link fs-xl"
                  style="--tb-icon-link-transform: translate3d(0, -0.125rem, 0)"
                  ><i class="bi bi-download"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="pt-4">
          <div class="d-flex align-items-center mb-3 gap-2">
            <div class="flex-grow-1">
              <h5 class="card-title mb-0">Recent Followers</h5>
            </div>
            <div class="flex-shrink-0">
              <a href="javascript:void(0);" class="icon-link"
                >View all <i class="bi bi-arrow-right"></i
              ></a>
            </div>
          </div>
          <div>
            <div>
              <div class="d-flex align-items-center gap-2 pb-2">
                <div class="avatar-sm flex-shrink-0">
                  <img
                    src="assets/images/users/avatar-3.jpg"
                    alt=""
                    class="img-fluid img-thumbnail"
                  />
                </div>
                <div class="flex-grow-1">
                  <h6 class="fs-md">Esther James</h6>
                  <p class="text-muted fs-sm mb-0">Web Designer</p>
                </div>
                <div class="flex-shrink-0">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-info custom-toggle active"
                    (click)="Followbtn($event)"
                  >
                    <span class="icon-on"
                      ><i class="bx bx-user-check align-bottom fs-md"></i
                    ></span>
                    <span class="icon-off"
                      ><i class="bx bx-user-x align-bottom fs-md"></i
                    ></span>
                  </button>
                </div>
              </div>
              <div class="d-flex align-items-center gap-2 pb-2">
                <div class="avatar-sm flex-shrink-0">
                  <img
                    src="assets/images/users/avatar-6.jpg"
                    alt=""
                    class="img-fluid img-thumbnail"
                  />
                </div>
                <div class="flex-grow-1">
                  <h6 class="fs-md">Jacqueline Steve</h6>
                  <p class="fs-sm text-muted mb-0">UI/UX Designer</p>
                </div>
                <div class="flex-shrink-0">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-info custom-toggle"
                    (click)="Followbtn($event)"
                  >
                    <span class="icon-on"
                      ><i class="bx bx-user-check align-bottom fs-md"></i
                    ></span>
                    <span class="icon-off"
                      ><i class="bx bx-user-x align-bottom fs-md"></i
                    ></span>
                  </button>
                </div>
              </div>
              <div class="d-flex align-items-center gap-2">
                <div class="avatar-sm flex-shrink-0">
                  <img
                    src="assets/images/users/48/avatar-2.jpg"
                    alt=""
                    class="img-fluid img-thumbnail"
                  />
                </div>
                <div class="flex-grow-1">
                  <h6 class="fs-md">George Whalen</h6>
                  <p class="fs-sm text-muted mb-0">Backend Developer</p>
                </div>
                <div class="flex-shrink-0">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-info custom-toggle"
                    (click)="Followbtn($event)"
                  >
                    <span class="icon-on"
                      ><i class="bx bx-user-check align-bottom fs-md"></i
                    ></span>
                    <span class="icon-off"
                      ><i class="bx bx-user-x align-bottom fs-md"></i
                    ></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
       
        </div> -->
      </div>
    </div>
    <!--end card-->
  </div>
  <!--end col-->

  <div class="col-xl-8 position-relative">
    <div class="position-absolute end-0 top-0" style="z-index: 999">
      <a
        routerLink="/edit-company/{{ companyData?.id }}"
        class="btn btn-primary"
        ><i class="ri-edit-box-line align-bottom"></i> Edit Profile</a
      >
    </div>
    <!--end col-->
    <div class="row align-items-center mt-4 mt-sm-0 pt-2 pt-sm-0 mb-3">
      <div class="col-md">
        <!-- Nav tabs -->
        <tabset
          class="nav nav-pills arrow-navtabs nav-secondary gap-2 flex-grow-1"
        >
          <tab class="nav-item">
            <ng-template tabHeading class="nav-link active">
              Overview
            </ng-template>
            <div class="tab-pane active" id="overview-tab">
              <div class="card">
                <div class="card-body">
                  <div class="mb-4">
                    <h5 class="card-title mb-3">Profile</h5>
                    <div class="row profile-media g-3">
                      <div class="col-xxl-12">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="mb-3">
                              <label for="name" class="form-label"
                                >Company name
                                <span class="text-danger">*</span></label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="name"
                                placeholder="Enter company name"
                                value="{{ companyData?.name }}"
                                disabled
                              />
                            </div>
                          </div>

                          <div class="col-lg-6">
                            <div class="mb-3">
                              <label for="business_type" class="form-label"
                                >Business type
                                <span class="text-danger">*</span></label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="business_type"
                                placeholder="Enter Business type"
                                value="{{ companyData?.business_type }}"
                                disabled
                              />
                            </div>
                          </div>

                          <div class="col-lg-6">
                            <div class="mb-3">
                              <label for="tax_no" class="form-label"
                                >Tax Identification Number (TIN)
                                <span class="text-danger">*</span></label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="tax_no"
                                value="{{ companyData?.tax_no }}"
                                disabled
                              />
                            </div>
                          </div>

                          <div class="col-lg-6">
                            <div class="mb-3">
                              <label for="cin_id" class="form-label"
                                >Corporate Identification Number (CIN)
                                <span class="text-danger">*</span></label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="cin_id"
                                placeholder="Enter CIN"
                                value="{{ companyData?.cin_id }}"
                                disabled
                              />
                            </div>
                          </div>

                          <div class="col-lg-6">
                            <div class="mb-3">
                              <label for="no_of_emp" class="form-label"
                                >No. of Employee
                                <span class="text-danger"
                                  >(max can be added)</span
                                >
                                <span class="text-danger">*</span></label
                              >
                              <input
                                type="number"
                                class="form-control"
                                id="no_of_emp"
                                placeholder="Enter No. of employee"
                                value="{{ companyData?.no_of_emp }}"
                                disabled
                              />
                            </div>
                          </div>

                          <div class="col-lg-6">
                            <div class="mb-3">
                              <label for="website_url" class="form-label"
                                >Website Url<span class="text-danger"
                                  >*</span
                                ></label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="website_url"
                                placeholder="Enter Website Url"
                                value="{{ companyData?.website_url }}"
                                disabled
                              />
                            </div>
                          </div>

                          <div class="col-lg-6">
                            <div class="mb-3">
                              <label for="checkInTimeStart" class="form-label"
                                >Check-In Time</label
                              >
                              <div class="row g-2">
                                <div class="col-lg-5">
                                  <input
                                    type="time"
                                    id="checkInTimeStart"
                                    class="form-control"
                                    value="{{
                                      companyData?.check_in_time_start
                                    }}"
                                    disabled
                                  />
                                </div>
                                <div class="col-auto align-self-center">to</div>
                                <div class="col-lg-5">
                                  <input
                                    type="time"
                                    id="checkInTimeEnd"
                                    class="form-control"
                                    value="{{ companyData?.check_in_time_end }}"
                                    disabled
                                  />
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-lg-6">
                            <div class="mb-3">
                              <label for="checkOutTime" class="form-label"
                                >Check-Out Time</label
                              >
                              <input
                                type="time"
                                id="checkOutTime"
                                class="form-control"
                                value="{{ companyData?.check_out_time }}"
                                disabled
                              />
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xxl-12">
                        <div class="row">
                          <div class="col-lg-4">
                            <div class="mb-3">
                              <label for="contact_person" class="form-label"
                                >Contact person
                                <span class="text-danger">*</span></label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="contact_person"
                                placeholder="Enter Contact person"
                                value="{{ companyData?.contact_person }}"
                                disabled
                              />
                            </div>
                          </div>

                          <div class="col-lg-4">
                            <div class="mb-3">
                              <label for="email" class="form-label"
                                >Email <span class="text-danger">*</span></label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="email"
                                placeholder="Enter email"
                                value="{{ companyData?.email }}"
                                disabled
                              />
                            </div>
                          </div>

                          <div class="col-lg-4">
                            <div class="mb-3">
                              <label for="contact" class="form-label"
                                >Contact Number
                                <span class="text-danger">*</span></label
                              >
                              <input
                                type="number"
                                class="form-control"
                                id="contact"
                                placeholder="Enter mobile"
                                value="{{ companyData?.mobile }}"
                                disabled
                              />
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xxl-12">
                        <div class="row">
                          <div class="col-lg-4">
                            <div class="mb-3">
                              <label for="city" class="form-label"
                                >City <span class="text-danger">*</span></label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="city"
                                placeholder="Enter City"
                                value="{{ companyData?.city }}"
                                disabled
                              />
                            </div>
                          </div>

                          <div class="col-lg-4">
                            <div class="mb-3">
                              <label for="State" class="form-label"
                                >State <span class="text-danger">*</span></label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="State"
                                placeholder="Enter state"
                                value="{{ companyData?.state }}"
                                disabled
                              />
                            </div>
                          </div>

                          <div class="col-lg-4">
                            <div class="mb-3">
                              <label for="zip_code" class="form-label"
                                >Zip code
                                <span class="text-danger">*</span></label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="zip_code"
                                placeholder="Enter zip code"
                                value="{{ companyData?.zip_code }}"
                                disabled
                              />
                            </div>
                          </div>

                          <div class="col-lg-12">
                            <div class="mb-3">
                              <label for="address" class="form-label">
                                Address
                                <span class="text-danger">*</span></label
                              >

                              <textarea
                                class="form-control"
                                placeholder="Enter address"
                                rows="5"
                                value="{{ companyData?.address }}"
                                disabled
                              ></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end card-body-->
              </div>
              <!-- end card -->
            </div>
          </tab>

          <tab class="nav-item">
            <ng-template tabHeading class="nav-link"> Employees </ng-template>
            <div class="card">
              <div class="card-body">
                <div class="mb-4">
                  <div class="tab-pane fade show" id="friends">
                    <div class="d-flex align-items-center mb-4">
                      <h5 class="card-title flex-grow-1 mb-0">Employees</h5>
                      <div>
                        <a routerLink="/employee" class="icon-link"
                          >View All <i class="bi bi-arrow-right"></i
                        ></a>
                      </div>
                    </div>
                    <div class="row">
                      @for (item of employeeData; track $index) {
                      <div class="col-xxl-4 col-sm-6">
                        <div class="card">
                          <div class="card-body">
                            <!-- <div dropdown class="dropdown float-end">
                                      <a
                                        dropdownToggle
                                        class="text-muted"
                                        href="javascript:void(0);"
                                        ><i class="bx bx-dots-horizontal-rounded"></i
                                      ></a>
                                      <div
                                        *bsDropdownMenu
                                        class="dropdown-menu dropdown-menu-end"
                                      >
                                        <a
                                          class="dropdown-item"
                                          href="javascript:void(0);"
                                          >Edit</a
                                        >
                                        <a
                                          class="dropdown-item"
                                          href="javascript:void(0);"
                                          >Action</a
                                        >
                                        <a
                                          class="dropdown-item"
                                          href="javascript:void(0);"
                                          >Remove</a
                                        >
                                      </div>
                                    </div> -->
                            <div class="d-flex align-items-center">
                              <div class="flex-shrink-0 position-relative">
                                <img
                                  [src]="
                                    item.image
                                      ? item.image
                                      : 'assets/images/users/avatar-1.jpg'
                                  "
                                  alt=""
                                  class="avatar-sm rounded"
                                />
                                <span
                                  [ngClass]="
                                    item.checkin_status
                                      ? 'bg-success'
                                      : 'bg-danger'
                                  "
                                  class="position-absolute top-0 start-100 translate-middle badge border border-2 border-white rounded-circle p-1"
                                  ><span class="visually-hidden"
                                    >unread messages</span
                                  ></span
                                >
                              </div>
                              <div class="flex-grow-1 ms-2">
                                <h5 class="fs-md">
                                  <a
                                    routerLink="/pages/profile"
                                    class="text-dark"
                                    >{{ item.name }}</a
                                  >
                                </h5>
                                <p class="text-muted mb-0">
                                  {{ item.designation_name }}
                                </p>
                              </div>
                            </div>
                            <div class="mt-4">
                              <p class="text-muted mb-2">
                                <i
                                  class="bi bi-telephone align-baseline me-1"
                                ></i>
                                {{ item.mobile }}
                              </p>
                              <p class="text-muted mb-2">
                                <i
                                  class="bi bi-envelope align-baseline me-1"
                                ></i>
                                {{ item.email }}
                              </p>
                              <p class="text-muted mb-0">
                                <i
                                  class="bi bi-geo-alt align-baseline me-1"
                                ></i>
                                {{ item.address }}
                              </p>
                            </div>
                            <div class="d-flex gap-2 pt-4">
                              <a
                                [routerLink]="['/employee-detail', item.id]"
                                [queryParams]="{ tab: 'personalDetails' }"
                                class="btn btn-subtle-secondary w-50"
                                ><i
                                  class="bi bi-person align-baseline me-1"
                                ></i>
                                Profile</a
                              >
                              <a
                                type="button"
                                class="btn btn-primary text-truncate w-50"
                                href="mailto:{{ item.email }}"
                              >
                                <i
                                  class="bi bi-chat-left-text align-baseline me-1"
                                ></i>
                                Contact
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      }
                    </div>
                    <!--end row-->

                    <div class="row align-items-center mb-3">
                      <div class="col-sm">
                        <div class="text-muted text-center text-sm-start">
                          Showing
                          <span class="fw-semibold">{{
                            employeeData?.length
                          }}</span>
                          of
                          <span class="fw-semibold">{{
                            employeeDataList?.length
                          }}</span>
                          Results
                        </div>
                      </div>

                      <div class="col-sm-auto mt-3 mt-sm-0">
                        @if(employeeDataList?.length){
                        <!-- <pagination
                          class="pagination-wrap hstack gap-2 justify-content-center"
                          [(ngModel)]="currentPage"
                          [totalItems]="employeeDataList?.length"
                          [itemsPerPage]="currentItemsPerPage"
                          (pageChanged)="pageChanged($event)"
                          [maxSize]="5"
                        ></pagination> -->

                        <pagination
                          class="pagination-wrap hstack gap-2 justify-content-center"
                          [totalItems]="employeeDataList?.length"
                          [itemsPerPage]="9"
                          (pageChanged)="pageChanged($event)"
                          [maxSize]="5"
                        ></pagination>
                        }
                      </div>
                      <!--end col-->
                    </div>
                    <!--end row-->
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <!--end tab-pane-->
        </tabset>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end col-->
</div>
<!--end row-->
