<!-- Start Breadcrumbs -->
<app-breadcrumbs
  title="Employee Attendance"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div id="productList">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row g-4 parent">
            <div class="child childA border-end-sm h-100">
              <div class="d-flex align-items-center gap-2 mb-4">
                <div class="avatar-xs flex-shrink-0">
                  <div
                    class="avatar-title bg-body-secondary border border-primary-subtle rounded-circle text-primary"
                  >
                    <i class="ri-user-line"></i>
                  </div>
                </div>
                <div class="flex-grow-1">
                  <p class="text-muted mb-0">Total Employee</p>
                </div>
              </div>
              <h3 class="mb-0">
                <span
                  class="counter-value"
                  [countUp]="attendanceDataList?.length"
                  >{{ attendanceDataList?.length }}</span
                >
              </h3>
            </div>
            <div class="child childA border-end-sm h-100">
              <div class="d-flex align-items-center gap-2 mb-4">
                <div class="avatar-xs flex-shrink-0">
                  <div
                    class="avatar-title bg-body-secondary border border-success-subtle rounded-circle text-success"
                  >
                    <i class="ri-user-follow-line"></i>
                  </div>
                </div>
                <div class="flex-grow-1">
                  <p class="text-muted mb-0">Present</p>
                </div>
              </div>
              <h3 class="mb-0">
                <span
                  class="counter-value"
                  [countUp]="this.attendanceCount?.totalPresent"
                  >{{ this.attendanceCount?.totalPresent }}</span
                >
                <!-- <small class="fs-xs fw-normal ms-1 text-success"
                  ><i class="align-baseline bi bi-arrow-up"></i> 6.57%</small
                > -->
              </h3>
            </div>
            <div class="child childA border-end-sm h-100">
              <div class="d-flex align-items-center gap-2 mb-4">
                <div class="avatar-xs flex-shrink-0">
                  <div
                    class="avatar-title bg-body-secondary border border-danger-subtle rounded-circle text-danger"
                  >
                    <i class="ri-user-unfollow-line"></i>
                  </div>
                </div>
                <div class="flex-grow-1">
                  <p class="text-muted mb-0">Absent</p>
                </div>
              </div>
              <h3 class="mb-0">
                <span
                  class="counter-value"
                  [countUp]="this.attendanceCount?.totalAbsent"
                  >{{ this.attendanceCount?.totalAbsent }}</span
                >
                <!-- <small class="fs-xs fw-normal ms-1 text-success"
                  ><i class="align-baseline bi bi-arrow-up"></i> 4.07%</small
                > -->
              </h3>
            </div>
            <div class="child childA border-end-sm h-100">
              <div class="d-flex align-items-center gap-2 mb-4">
                <div class="avatar-xs flex-shrink-0">
                  <div
                    class="avatar-title bg-body-secondary border border-warning-subtle rounded-circle text-warning"
                  >
                    <i class="mdi mdi-account-alert-outline"></i>
                  </div>
                </div>
                <div class="flex-grow-1">
                  <p class="text-muted mb-0">Leave</p>
                </div>
              </div>
              <h3 class="mb-0">
                <span
                  class="counter-value"
                  [countUp]="this.attendanceCount?.totalLeave"
                  >{{ this.attendanceCount?.totalLeave }}</span
                >
                <!-- <small class="fs-xs fw-normal ms-1 text-success"
                  ><i class="align-baseline bi bi-arrow-up"></i> 4.07%</small
                > -->
              </h3>
            </div>
            <div class="child childA border-end-sm h-100">
              <div class="d-flex align-items-center gap-2 mb-4">
                <div class="avatar-xs flex-shrink-0">
                  <div
                    class="avatar-title bg-body-secondary border border-success-subtle rounded-circle text-success"
                  >
                    <i class="ri-timer-line"></i>
                  </div>
                </div>
                <div class="flex-grow-1">
                  <p class="text-muted mb-0">On Time</p>
                </div>
              </div>
              <h3 class="mb-0">
                <span class="counter-value">{{
                  this.attendanceCount?.totalOnTime
                }}</span>
              </h3>
            </div>
            <div class="child childA border-end-sm h-100">
              <div class="d-flex align-items-center gap-2 mb-4">
                <div class="avatar-xs flex-shrink-0">
                  <div
                    class="avatar-title bg-body-secondary border border-secondary-subtle rounded-circle text-secondary"
                  >
                    <i class="bi bi-clock-history"></i>
                  </div>
                </div>
                <div class="flex-grow-1">
                  <p class="text-muted mb-0">Early</p>
                </div>
              </div>
              <h3 class="mb-0">
                <span class="counter-value">{{
                  this.attendanceCount?.totalEarly
                }}</span>
              </h3>
            </div>
            <div class="child childA h-100">
              <div class="d-flex align-items-center gap-2 mb-4">
                <div class="avatar-xs flex-shrink-0">
                  <div
                    class="avatar-title bg-body-secondary border border-danger-subtle rounded-circle text-danger"
                  >
                    <i class="bx bx-timer"></i>
                  </div>
                </div>
                <div class="flex-grow-1">
                  <p class="text-muted mb-0">Late</p>
                </div>
              </div>
              <h3 class="mb-0">
                <span class="counter-value">{{
                  this.attendanceCount?.totalLate
                }}</span>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <div class="row g-4">
            <div class="col-lg-2 col-sm-6 border-end-sm ng-star-inserted">
              <div>
                <div class="d-flex align-items-center gap-2 mb-4">
                  <div class="avatar-xs flex-shrink-0">
                    <div
                      class="avatar-title bg-body-secondary border border-primary-subtle rounded-circle text-primary"
                    >
                      <i class="ri-user-line"></i>
                    </div>
                  </div>
                  <div class="flex-grow-1">
                    <p class="text-muted mb-0">Total Employee</p>
                  </div>
                </div>
                <h3 class="mb-0">
                  <span
                    class="counter-value"
                    [countUp]="attendanceDataList?.length"
                    >{{ attendanceDataList?.length }}</span
                  >
                </h3>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 border-end-sm ng-star-inserted">
              <div>
                <div class="d-flex align-items-center gap-2 mb-4">
                  <div class="avatar-xs flex-shrink-0">
                    <div
                      class="avatar-title bg-body-secondary border border-success-subtle rounded-circle text-success"
                    >
                      <i class="ri-user-follow-line"></i>
                    </div>
                  </div>
                  <div class="flex-grow-1">
                    <p class="text-muted mb-0">Present</p>
                  </div>
                </div>
                <h3 class="mb-0">
                  <span
                    class="counter-value"
                    [countUp]="this.attendanceCount?.totalPresent"
                    >{{ this.attendanceCount?.totalPresent }}</span
                  >
                
                </h3>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 border-end-sm ng-star-inserted">
              <div>
                <div class="d-flex align-items-center gap-2 mb-4">
                  <div class="avatar-xs flex-shrink-0">
                    <div
                      class="avatar-title bg-body-secondary border border-danger-subtle rounded-circle text-danger"
                    >
                      <i class="ri-user-unfollow-line"></i>
                    </div>
                  </div>
                  <div class="flex-grow-1">
                    <p class="text-muted mb-0">Absent</p>
                  </div>
                </div>
                <h3 class="mb-0">
                  <span
                    class="counter-value"
                    [countUp]="this.attendanceCount?.totalAbsent"
                    >{{ this.attendanceCount?.totalAbsent }}</span
                  >
            
                </h3>
              </div>
            </div>

            <div class="col-lg-2 col-sm-6 border-end-sm ng-star-inserted">
              <div>
                <div class="d-flex align-items-center gap-2 mb-4">
                  <div class="avatar-xs flex-shrink-0">
                    <div
                      class="avatar-title bg-body-secondary border border-warning-subtle rounded-circle text-warning"
                    >
                      <i class="mdi mdi-account-alert-outline"></i>
                    </div>
                  </div>
                  <div class="flex-grow-1">
                    <p class="text-muted mb-0">Leave</p>
                  </div>
                </div>
                <h3 class="mb-0">
                  <span
                    class="counter-value"
                    [countUp]="this.attendanceCount?.totalLeave"
                    >{{ this.attendanceCount?.totalLeave }}</span
                  >
                 
                </h3>
              </div>
            </div>

            <div class="col-lg-2 col-sm-6 border-end-sm ng-star-inserted">
              <div>
                <div class="d-flex align-items-center gap-2 mb-4">
                  <div class="avatar-xs flex-shrink-0">
                    <div
                      class="avatar-title bg-body-secondary border border-secondary-subtle rounded-circle text-secondary"
                    >
                      <i class="bi bi-clock-history"></i>
                    </div>
                  </div>
                  <div class="flex-grow-1">
                    <p class="text-muted mb-0">Total Duration</p>
                  </div>
                </div>
                <h3 class="mb-0">
                  <span class="counter-value">{{
                    this.attendanceCount?.totalDuration
                  }}</span>
                
                </h3>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 border-end-sm ng-star-inserted">
              <div>
                <div class="d-flex align-items-center gap-2 mb-4">
                  <div class="avatar-xs flex-shrink-0">
                    <div
                      class="avatar-title bg-body-secondary border border-secondary-subtle rounded-circle text-secondary"
                    >
                      <i class="bi bi-clock-history"></i>
                    </div>
                  </div>
                  <div class="flex-grow-1">
                    <p class="text-muted mb-0">On Time</p>
                  </div>
                </div>
                <h3 class="mb-0">
                  <span class="counter-value">{{
                    this.attendanceCount?.totalOnTime
                  }}</span>
                </h3>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 border-end-sm ng-star-inserted">
              <div>
                <div class="d-flex align-items-center gap-2 mb-4">
                  <div class="avatar-xs flex-shrink-0">
                    <div
                      class="avatar-title bg-body-secondary border border-secondary-subtle rounded-circle text-secondary"
                    >
                      <i class="bi bi-clock-history"></i>
                    </div>
                  </div>
                  <div class="flex-grow-1">
                    <p class="text-muted mb-0">Early</p>
                  </div>
                </div>
                <h3 class="mb-0">
                  <span class="counter-value">{{
                    this.attendanceCount?.totalEarly
                  }}</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </div> -->
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header d-lg-flex align-items-center">
          <div class="flex-grow-1">
            <h5 class="card-title mb-0">
              Employees
              <span class="badge bg-dark-subtle text-dark ms-1">{{
                attendanceData?.length
              }}</span>
              <span class="badge text-dark ms-1">
                <div
                  class="d-flex me-3 mt-1 justify-content-center align-items-center"
                >
                  <div class="text-muted text-center text-sm-start me-2">
                    Items per page :
                  </div>
                  <div class="">
                    <div class="input-group input-group-sm">
                      <select
                        id="itemsPerPage"
                        class="form-control"
                        [(ngModel)]="currentItemsPerPage"
                        (change)="onItemsPerPageChange()"
                      >
                        <option
                          *ngFor="let option of itemsPerPageOptions"
                          [value]="option"
                        >
                          {{ option }}
                        </option>
                        <option [value]="attendanceDataList?.length">
                          Show All
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </span>
            </h5>

            <p class="text-muted mb-0 mt-2">
              Showing Result of Date:
              <span class="fw-bold">
                {{ this.formattedDate | date : "EEEE, dd MMM , yyyy" }}</span
              >
            </p>
          </div>
          <div class="flex-shrink-0">
            <div class="d-flex flex-wrap align-items-start gap-2">
              <div class="col-xxl">
                <div class="input-group">
                  <input
                    type="text"
                    id="datepicker"
                    class="form-control"
                    showWeekNumbers="false"
                    bsDatepicker
                    [bsConfig]="bsConfig"
                    [(ngModel)]="selectedDate"
                    (bsValueChange)="onDateChange($event)"
                  />
                  <div class="input-group-append">
                    <label
                      for="datepicker"
                      class="input-group-text cursor-pointer"
                    >
                      <i class="ri-calendar-fill"></i>
                    </label>
                  </div>
                </div>
              </div>
              <div class="search-box">
                <input
                  type="text"
                  class="form-control search"
                  [(ngModel)]="term"
                  (keyup)="filterdata()"
                  placeholder="Search name, mobile etc..."
                />

                <i class="ri-search-line search-icon"></i>
              </div>

              <div class="col-lg-auto">
                <div class="hstack flex-wrap gap-2">
                  <div>
                    <button
                      type="button"
                      class="btn btn-info me-1"
                      (click)="openEnd()"
                    >
                      <i class="bi bi-funnel align-baseline me-1"></i> Filter
                      @if(totalFilterCount >0){
                      <span
                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
                        >{{ totalFilterCount }}
                      </span>
                      }
                    </button>
                  </div>
                </div>
              </div>
              <!--end col-->

              <!-- <button class="btn btn-subtle-danger d-none" id="remove-actions">
                <i class="ri-delete-bin-2-line"></i>
              </button>
              <button type="button" class="btn btn-primary add-btn">
                <i class="bi bi-plus-circle align-baseline me-1"></i> Add
                Product
              </button> -->
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-centered align-middle table-nowrap mb-0">
              <thead class="table-active">
                <tr>
                  <th>
                    <div class="form-check">
                      <!-- <input
                        class="form-check-input"
                        type="checkbox"
                        value="option"
                        [(ngModel)]="masterSelected"
                        (change)="checkUncheckAll($event)"
                        id="checkAll"
                      /> -->
                      <label class="form-check-label" for="checkAll"></label>
                    </div>
                  </th>
                  <th class="sort cursor-pointer" (click)="onSort('name')">
                    Name
                  </th>
                  <!-- <th class="sort cursor-pointer" (click)="onSort('mobile')">
                    Mobile
                  </th>
                  <th class="sort cursor-pointer" (click)="onSort('email')">
                    Email
                  </th> -->
                  <th
                    class="sort cursor-pointer"
                    (click)="onSort('department')"
                  >
                    Department
                  </th>
                  <th
                    class="sort cursor-pointer"
                    (click)="onSort('check_in_time')"
                  >
                    Check-in Time
                  </th>
                  <th
                    class="sort cursor-pointer"
                    (click)="onSort('check_out_time')"
                  >
                    Check-out Time
                  </th>
                  <th
                    class="sort cursor-pointer"
                    (click)="onSort('totalDuration')"
                  >
                    Work Hours
                  </th>
                  <th
                    class="sort cursor-pointer"
                    (click)="onSort('attendance_status')"
                  >
                    Attendance Status
                  </th>
                  <!-- <th
                    class="sort cursor-pointer"
                    (click)="onSort('checkin_statusv2')"
                  >
                    Check-in Status
                  </th> -->
                  <!-- <th
                    class="sort cursor-pointer"
                    (click)="onSort('timeDifferencev2')"
                  >
                    Time Difference
                  </th> -->
                  <th>Action</th>
                </tr>
              </thead>
              <tbody class="list form-check-all">
                @for ( data of attendanceData; track $index) {
                <tr id="p_{{ data._id }}">
                  <td></td>
                  <td class="id" style="display: none">
                    <a href="javascript:void(0);" class="fw-medium link-primary"
                      >#TB01</a
                    >
                  </td>
                  <td class="products">
                    <div class="d-flex align-items-center">
                      <!-- <div class="avatar-sm bg-light rounded"> -->
                      <div class="flex-shrink-0 position-relative">
                        <img
                          [src]="
                            data.image
                              ? data.image
                              : 'assets/images/users/avatar-1.jpg'
                          "
                          alt=""
                          class="avatar-sm rounded"
                        />
                      </div>
                      <!-- </div> -->
                      <div class="flex-grow-1 ms-2">
                        <h5 class="fs-md">
                          <a
                            [routerLink]="['/employee-detail', data.id]"
                            [queryParams]="{ tab: 'personalDetails' }"
                            class="text-dark"
                            >{{ data.name }}</a
                          >
                        </h5>
                        <p class="text-muted mb-0">
                          {{ data.designation }}
                        </p>
                      </div>
                    </div>
                  </td>
                  <!-- <td class="discount">{{ data.mobile }}</td>
                  <td class="category">{{ data.email }}</td> -->
                  <td class="stock">{{ data.department }}</td>
                  <td class="price">
                    <span class="text-center">{{
                      formatTime(data.latestCheckInTime)
                    }}</span>
                    <br />
                    @if(data.checkin_status != 'Absent' && data.checkin_status
                    != 'Leave'){
                    <span
                      class="badge"
                      [ngClass]="
                        data.checkin_status == 'Early'
                          ? 'bg-warning'
                          : data.checkin_status == 'Late'
                          ? 'bg-danger'
                          : 'bg-success'
                      "
                      >{{ data.checkin_status }} @if(data.checkin_status !=
                      'On-Time' && data.checkin_status != 'Leave'){ by
                      {{ data.timeDifference }}
                      }
                    </span>
                    }
                  </td>
                  <td class="orders">
                    {{ formatTime(data.latestCheckOutTime) }}
                  </td>
                  <td class="orders">
                    {{ data.totalDuration }}<br />
                    <a
                      (click)="
                        tooltipmodal.show();
                        updateCheckInDetal(data.checkIns, data.totalDuration)
                      "
                      class="text-decoration-underline ng-star-inserted"
                      >Check Detail
                    </a>
                  </td>
                  <td class="published">
                    <span
                      class="badge"
                      [ngClass]="
                        data.attendance_status == 'Present'
                          ? 'bg-success'
                          : data.attendance_status == 'Absent'
                          ? 'bg-danger'
                          : 'bg-warning'
                      "
                      >{{ data.attendance_status }}</span
                    >
                  </td>

                  <!-- <td class="published">
                    @if(data.checkin_status != 'Absent' && data.checkin_status
                    != 'Leave'){
                    <span
                      class="badge"
                      [ngClass]="
                        data.checkin_status == 'Early'
                          ? 'bg-warning'
                          : data.checkin_status == 'Late'
                          ? 'bg-danger'
                          : 'bg-success'
                      "
                      >{{ data.checkin_status }} @if(data.checkin_status !=
                      'On-Time' && data.checkin_status != 'Leave'){ by
                      {{ data.timeDifference }}
                      }
                    </span>
                    } @else { -}
                  </td> -->
                  <!-- <td class="published">
                    @if(data.checkin_status != 'Absent'){

                    <p
                      [ngClass]="
                        data.checkin_status == 'Early'
                          ? 'text-warning'
                          : data.checkin_status == 'Late'
                          ? 'text-danger'
                          : 'text-success'
                      "
                      class="mb-0"
                    >
                      {{ data.timeDifference }}
                    </p>

                    } @else { -}
                  </td> -->
                  <td>
                    <ul class="d-flex gap-2 list-unstyled mb-0">
                      <li>
                        <a
                          routerLink="/employee-detail/{{ data.id }}"
                          [queryParams]="{
                        tab: 'timeline',
                     
                      }"
                          class="btn btn-subtle-secondary btn-icon btn-sm edit-item-btn"
                          ><i class="ph-eye align-middle"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          routerLink="/attendance-calender/{{ data.id }}/{{
                            this.company_id
                          }}"
                          class="btn btn-subtle-danger btn-icon btn-sm remove-item-btn"
                          ><i class="ri-folder-reduce-line align-middle"></i
                        ></a>
                      </li>
                    </ul>

                    <!-- <div dropdown class="dropdown">
                      <button
                        dropdownToggle
                        class="btn btn-subtle-secondary btn-sm btn-icon"
                      >
                        <i class="bi bi-three-dots-vertical"></i>
                      </button>

                      <ul
                        *bsDropdownMenu
                        class="dropdown-menu dropdown-menu-end"
                      >
                        <li>
                          <a
                            class="dropdown-item"
                            routerLink="/employee-detail/{{ data.id }}"
                            [queryParams]="{
                              tab: 'timeline',
                           
                            }"
                            href="javascript:void(0);"
                            ><i class="ph-eye align-middle me-1"></i> View
                            Timeline</a
                          >
                        </li>
                        <li>
                          <a
                            routerLink="/attendance-calender/{{ data.id }}/{{
                              this.company_id
                            }}"
                            class="dropdown-item edit-item-btn"
                            ><i
                              class="ri-folder-reduce-line align-middle me-1"
                            ></i
                            >Attendance Detail</a
                          >
                        </li>
                       
                      </ul>
                    </div> -->
                  </td>
                </tr>
                }
              </tbody>
              @if (spinnerStatus) {
              <div id="elmLoader">
                <div
                  class="spinner-border text-primary avatar-sm"
                  role="status"
                >
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
              }
            </table>
          </div>
          <!--end table-responsive-->

          <div class="noresult" style="display: none">
            <div class="text-center py-4">
              <div class="avatar-md mx-auto mb-4">
                <div
                  class="avatar-title bg-light text-primary rounded-circle fs-4xl"
                >
                  <i class="bi bi-search"></i>
                </div>
              </div>
              <h5 class="mt-2">Sorry! No Result Found</h5>
              <p class="text-muted mb-0">
                We've searched {{ attendanceDataList?.length }} Employee Data.
                We did not find any Employee for you search.
              </p>
            </div>
          </div>
          <!-- end noresult -->

          <div class="row mt-3 align-items-center" id="pagination-element">
            <div class="col-sm">
              <div class="text-muted text-center text-sm-start">
                Showing
                <span class="fw-semibold">{{ attendanceData?.length }}</span> of
                <span class="fw-semibold">{{
                  filteredAttendanceData?.length
                }}</span>
                Results
              </div>
            </div>

            <div class="col-sm-auto mt-3 mt-sm-0">
              @if(filteredAttendanceData?.length){
              <pagination
                class="pagination-wrap hstack gap-2 justify-content-center"
                [(ngModel)]="currentPage"
                [totalItems]="filteredAttendanceData?.length"
                [itemsPerPage]="currentItemsPerPage"
                (pageChanged)="pageChanged($event)"
                [maxSize]="5"
              ></pagination>
              }
            </div>
          </div>
          <!-- end pagination-element -->
        </div>
      </div>
      <!--end card-->
    </div>
    <!--end col-->
  </div>
  <!--end row-->
</div>

<div
  bsModal
  #tooltipmodal="bs-modal"
  class="modal fade"
  id="exampleModalPopovers"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Check-in Detail</h5>
        <button
          type="button"
          class="btn-close"
          (click)="tooltipmodal.hide()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive mt-4">
          <table
            class="table table-borderless text-center table-nowrap align-middle mb-0"
          >
            <thead>
              <tr class="table-light">
                <th scope="col" style="width: 50px">#</th>
                <!-- <th  scope="col">
                Address
                </th> -->
                <th scope="col">Check-In Time</th>
                <th scope="col">Check-Out Time</th>
                <th scope="col" class="text-end">Duration</th>
              </tr>
            </thead>
            <tbody id="products-list">
              @for (item of checkInDetails; track $index) {
              <tr>
                <th scope="row">{{ $index + 1 }}</th>
                <!-- <td  class="text-start">
                    <span  class="fw-medium"
                      >Branded T-Shirts</span
                    >
                    <p  class="text-muted mb-0">
                      Fashion
                    </p>
                  </td> -->
                <td>{{ formatTime(item.check_in_time) }}</td>
                <td>{{ formatTime(item.check_out_time) }}</td>
                <td class="text-end">{{ item.duration }}</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <div id="products-list-total" class="border-top border-top-dashed mt-2">
          <table
            class="table table-borderless table-nowrap align-middle mb-0 ms-auto"
            style="width: 250px"
          >
            <tbody>
              <tr class="border-top border-top-dashed fs-base">
                <th scope="row">Total Duration</th>
                <th class="text-end">
                  <i class="bi bi-clock align-baseline me-1"></i>
                  {{ this.totalDuration }}
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-lg-12">
          <div class="hstack gap-2 justify-content-end">
            <button
              type="button"
              (click)="tooltipmodal.hide()"
              class="btn btn-light"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="custom-offcanvas" id="courseFilters">
  <div class="offcanvas-header border-bottom p-3">
    <h5 class="offcanvas-title" id="courseFiltersLabel">Attendance Filters</h5>
    <button type="button" class="btn-close" (click)="closeoffcanvas()"></button>
  </div>
  <div class="offcanvas-body">
    <!-- <form action="#!"> -->
    <div class="row">
      <div class="col-lg-12">
        <div class="mb-3">
          <p class="text-muted fw-medium text-uppercase mb-3">Select Date</p>
          <div class="input-group">
            <input
              type="text"
              id="datepickers"
              class="form-control"
              showWeekNumbers="false"
              bsDatepicker
              [bsConfig]="bsConfig"
              [(ngModel)]="selectedDate"
              (bsValueChange)="onDateChange($event)"
            />
            <div class="input-group-append">
              <label for="datepickers" class="input-group-text cursor-pointer">
                <i class="ri-calendar-fill"></i>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="mb-3">
          <p class="text-muted fw-medium text-uppercase mb-3">
            Search name, Employee id etc...
          </p>
          <div class="search-box">
            <input
              type="text"
              class="form-control search"
              [(ngModel)]="term"
              (keyup)="filterdata()"
              placeholder="Search name, Employee id etc..."
            />

            <i class="ri-search-line search-icon"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="mb-3">
          <p class="text-muted fw-medium text-uppercase mb-3">Employee Name</p>
          <ng-select
            [items]="attendanceDataList"
            [multiple]="true"
            bindLabel="name"
            bindValue="name"
            (change)="filterdata()"
            [(ngModel)]="selectedEmp"
            name="Employee name"
            placeholder="Select Employee name"
          >
          </ng-select>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="mb-3">
          <p class="text-muted fw-medium text-uppercase mb-3">
            Attendance Status
          </p>
          <select
            class="form-control"
            [(ngModel)]="selectedStatus"
            (change)="filterdata()"
            [ngModelOptions]="{ standalone: true }"
          >
            <option value="">All</option>
            <option value="Present">Present</option>
            <option value="Absent">Absent</option>
            <option value="Leave">Leave</option>
          </select>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="mb-3">
          <p class="text-muted fw-medium text-uppercase mb-3">
            Check-in Status
          </p>
          <select
            class="form-control"
            [(ngModel)]="selectedCheckStatus"
            (change)="filterdata()"
            [ngModelOptions]="{ standalone: true }"
          >
            <option value="">All</option>
            <option value="On-Time">On Time</option>
            <option value="Early">Early</option>
            <option value="Late">Late</option>
          </select>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="mb-3">
          <p class="text-muted fw-medium text-uppercase mb-3">Department</p>
          <ng-select
            [items]="departments"
            [multiple]="true"
            bindLabel="name"
            bindValue="name"
            (change)="filterdata()"
            [(ngModel)]="selectedDepartments"
            name="departments"
            placeholder="Select departments"
          >
          </ng-select>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="mb-3">
          <p class="text-muted fw-medium text-uppercase mb-3">Designation</p>
          <ng-select
            [items]="designations"
            [multiple]="true"
            bindLabel="name"
            bindValue="name"
            (change)="filterdata()"
            [(ngModel)]="selectedDesignations"
            name="designations"
            placeholder="Select designations"
          >
          </ng-select>
        </div>
      </div>
      <!-- <div class="col-lg-12">
          <div class="mb-3">
            <label
              class="select-category-filter form-label fs-md mb-3 text-decoration-underline"
              >Ratings</label
            >
            <div class="vstack gap-2">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="rating-all"
                />
                <label class="form-check-label" for="rating-all">
                  Select All
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="rating-filter1"
                />
                <label
                  class="form-check-label text-warning"
                  for="rating-filter1"
                >
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="rating-filter2"
                />
                <label
                  class="form-check-label text-warning"
                  for="rating-filter2"
                >
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill text-muted"></i>
                  <span class="ms-1 text-muted">4 & Up</span>
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="rating-filter3"
                />
                <label
                  class="form-check-label text-warning"
                  for="rating-filter3"
                >
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill text-muted"></i>
                  <i class="bi bi-star-fill text-muted"></i>
                  <span class="ms-1 text-muted">3 & Up</span>
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="rating-filter4"
                />
                <label
                  class="form-check-label text-warning"
                  for="rating-filter4"
                >
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill text-muted"></i>
                  <i class="bi bi-star-fill text-muted"></i>
                  <i class="bi bi-star-fill text-muted"></i>
                  <span class="ms-1 text-muted">2 & Up</span>
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="rating-filter5"
                />
                <label
                  class="form-check-label text-warning"
                  for="rating-filter5"
                >
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill text-muted"></i>
                  <i class="bi bi-star-fill text-muted"></i>
                  <i class="bi bi-star-fill text-muted"></i>
                  <i class="bi bi-star-fill text-muted"></i>
                  <span class="ms-1 text-muted">1 & Up</span>
                </label>
              </div>
            </div>
          </div>
        </div> -->
    </div>
    <!-- </form> -->
  </div>
  <div class="offcanvas-header htsack gap-2 border-top p-3">
    <button class="btn btn-subtle-danger w-100" (click)="reset()">
      <i class="bi bi-x-lg align-baseline me-1"></i> Reset
    </button>
    <!-- <button class="btn btn-secondary w-100">
      <i class="bi bi-funnel align-baseline me-1"></i> Filters
    </button> -->
  </div>
</div>

<div
  class="offcanvas-backdrop fade backdrop3"
  id="backdrop"
  (click)="closeoffcanvas()"
></div>
