<!-- Start Breadcrumbs -->
<app-breadcrumbs
  title="Leave Record"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-xl-3">
    <div class="card">
      <div class="card-body">
        <!-- <div class="d-flex mb-3">
          <div dropdown class="dropdown flex-shrink-0 ms-auto">
            <button
              dropdownToggle
              class="btn btn-light btn-icon btn-sm"
              type="button"
            >
              <i class="bi bi-share"></i>
            </button>
            <ul *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="javascript:void(0);"
                  ><i class="bi bi-facebook me-1 align-baseline"></i>
                  Facebook</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);"
                  ><i class="bi bi-whatsapp me-1 align-baseline"></i>
                  Whatsapp</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);"
                  ><i class="bi bi-instagram me-1 align-baseline"></i>
                  Instagram</a
                >
              </li>
            </ul>
          </div>
        </div> -->
        <div class="text-center border-bottom border-dashed pb-4">
          @if(empLeaveRecordData?.image){
          <img
            src="{{ empLeaveRecordData.image }}"
            alt=""
            class="avatar-lg rounded-circle p-1 img-thumbnail"
          />
          } @else {
          <img
            src="assets/images/users/avatar-1.jpg"
            alt=""
            id="user-img"
            class="avatar-lg rounded-circle object-fit-cover border-0 img-thumbnail user-profile-image"
          />
          }
          <div class="mt-3">
            <h5>
              {{ empLeaveRecordData?.name }}
              <!-- <i
                class="bi bi-patch-check-fill align-baseline text-info ms-1"
              ></i> -->
            </h5>
            <p class="text-muted">{{ empLeaveRecordData?.designation }}</p>
          </div>

          <!-- <div class="d-flex gap-2 mt-4">
                        <button type="button" class="btn btn-subtle-secondary custom-toggle w-50" (click)="Followbtn($event)">
                            <span class="icon-on"><i class="bi bi-person-plus align-baseline me-1"></i> Follow</span>
                            <span class="icon-off"><i class="bi bi-person-x align-baseline me-1"></i> Unfollow</span>
                        </button>
                        <button type="button" class="btn btn-primary text-truncate w-50"><i class="bi bi-chat-left-text align-baseline me-1"></i> Contact Us</button>
                    </div> -->
        </div>

        <div class="border-bottom border-dashed py-4">
          <h5 class="card-title mb-3">Information</h5>
          <div class="table-responsive">
            <table class="table table-borderless table-sm align-middle mb-0">
              <tbody>
                <tr>
                  <th class="ps-0" scope="row">Designation</th>
                  <td class="text-muted text-end">
                    {{ employeeDetail?.designation_name }}
                  </td>
                </tr>
                <tr>
                  <th class="ps-0" scope="row">Department</th>
                  <td class="text-muted text-end">
                    {{ employeeDetail?.department_name }}
                  </td>
                </tr>
                <tr>
                  <th class="ps-0" scope="row">Phone No</th>
                  <td class="text-muted text-end">
                    {{ employeeDetail?.mobile }}
                  </td>
                </tr>
                <tr>
                  <th class="ps-0" scope="row">Gender</th>
                  <td class="text-muted text-end">
                    {{ employeeDetail?.gender }}
                  </td>
                </tr>

                <tr>
                  <th class="ps-0" scope="row">Birth of Date</th>
                  <td class="text-muted text-end">
                    {{ employeeDetail?.dob | date : "dd MMM, YYYY" }}
                  </td>
                </tr>

                <tr>
                  <th class="ps-0" scope="row">Email</th>
                  <td class="text-muted text-end">
                    {{ employeeDetail?.email }}
                  </td>
                </tr>
                <tr>
                  <th class="ps-0" scope="row">Address</th>
                  <td class="text-muted text-end">
                    {{ employeeDetail?.address }}
                  </td>
                </tr>
                <tr>
                  <th class="ps-0" scope="row">Joining Date</th>
                  <td class="text-muted text-end">
                    {{ employeeDetail?.joining_date | date : "dd MMM, YYYY" }}
                  </td>
                </tr>
                <!-- <tr>
                  <th>Social Media</th>
                  <td>
                    <div class="d-flex flex-wrap justify-content-end gap-2">
                      <a href="javascript:void(0);" class="avatar-xs d-block">
                        <span
                          class="avatar-title rounded-circle bg-secondary-subtle text-dark"
                        >
                          <i class="bi bi-github"></i>
                        </span>
                      </a>
                      <a href="javascript:void(0);" class="avatar-xs d-block">
                        <span
                          class="avatar-title rounded-circle bg-primary-subtle text-primary"
                        >
                          <i class="bi bi-facebook"></i>
                        </span>
                      </a>
                      <a href="javascript:void(0);" class="avatar-xs d-block">
                        <span
                          class="avatar-title rounded-circle bg-success-subtle text-success"
                        >
                          <i class="bi bi-dribbble"></i>
                        </span>
                      </a>
                      <a href="javascript:void(0);" class="avatar-xs d-block">
                        <span
                          class="avatar-title rounded-circle bg-danger-subtle text-danger"
                        >
                          <i class="bi bi-instagram"></i>
                        </span>
                      </a>
                    </div>
                  </td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--end card-->
  </div>
  <!--end col-->

  <div class="col-xxl-9">
    <div class="d-flex align-items-center flex-wrap gap-2 mb-4">
      <ul
        class="nav nav-pills arrow-navtabs nav-secondary gap-2 flex-grow-1 order-2 order-lg-1"
        role="tablist"
      >
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active"
            data-bs-toggle="tab"
            href="javascript:void(0);"
            [class.active]="currentTab === 'personalDetails'"
            (click)="changeTab('personalDetails')"
            role="tab"
            aria-selected="true"
          >
            Leave Details
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            data-bs-toggle="tab"
            href="javascript:void(0);"
            [class.active]="currentTab === 'approvedLeave'"
            (click)="changeTab('approvedLeave')"
            role="tab"
            aria-selected="false"
            tabindex="-1"
          >
            Approved Leave
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            data-bs-toggle="tab"
            href="javascript:void(0);"
            [class.active]="currentTab === 'RejectLeave'"
            (click)="changeTab('RejectLeave')"
            role="tab"
            aria-selected="false"
            tabindex="-1"
          >
            Rejected Leave
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            data-bs-toggle="tab"
            href="javascript:void(0);"
            [class.active]="currentTab === 'pendingLeave'"
            (click)="changeTab('pendingLeave')"
            role="tab"
            aria-selected="false"
            tabindex="-1"
          >
            Pending Leaves
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link"
            data-bs-toggle="tab"
            href="javascript:void(0);"
            [class.active]="currentTab === 'expiredLeave'"
            (click)="changeTab('expiredLeave')"
            role="tab"
            aria-selected="false"
            tabindex="-1"
          >
            Expired Leaves
          </a>
        </li>
      </ul>
      <div class="flex-shrink-0 ms-auto order-1 order-lg-2">
        <button class="btn btn-secondary" (click)="goBack()">
          <i class="mdi mdi-keyboard-backspace align-baseline me-1"></i>
          Back
        </button>
      </div>
    </div>
    <div class="card">
      <div class="tab-content">
        <div
          [hidden]="currentTab !== 'personalDetails'"
          class="tab-pane active"
          id="personalDetails"
          role="tabpanel"
        >
          <div class="card">
            <div class="card-header">
              <h6 class="card-title mb-0">Leave Type Detail</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table
                  class="table align-middle table-nowrap table-borderless mb-0"
                >
                  <thead class="table-active">
                    <tr>
                      <th>Leave Type</th>
                      <th>Allotted Leaves</th>
                      <th>Balance Leaves</th>
                      <th class="text-end">Total Leaves</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (data of leaveTypesData; track $index) {
                    <tr class="product">
                      <td>
                        {{ data.name }}
                      </td>
                      <td>
                        <span class="product-price">{{
                          data.no_of_days_taken
                        }}</span>
                      </td>
                      <td>
                        {{ data.remaining_leave }}
                      </td>
                      <td class="fw-medium text-end">
                        <span class="product-line-price">{{
                          data.total_leave_days
                        }}</span>
                      </td>
                    </tr>
                    }
                  </tbody>
                </table>
                <div
                  id="products-list-total"
                  class="border-top border-top-dashed mt-2"
                >
                  <table
                    class="table table-borderless table-nowrap align-middle mb-0 ms-auto"
                    style="width: 250px"
                  >
                    <tbody>
                      <tr>
                        <td>Total Leaves</td>

                        <td class="text-end">
                          {{ getTotal("total_leave_days") }}
                        </td>
                      </tr>
                      <tr>
                        <td>Total Allotted Leaves</td>
                        <td class="text-end">
                          {{ getTotal("no_of_days_taken") }}
                        </td>
                      </tr>

                      <!-- <tr>
                                <td>Shipping Charge</td>
                                <td class="text-end">$65.00</td>
                              </tr> -->
                      <tr class="border-top border-top-dashed fs-base">
                        <th scope="row">Total Balance Leaves</th>
                        <th class="text-end">
                          {{ getTotal("remaining_leave") }}
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          [hidden]="currentTab !== 'approvedLeave'"
          class="tab-pane active"
          id="approvedLeave"
          role="tabpanel"
        >
          @if(this.approveLeaveList && approveLeaveList.length > 0){
          <app-approved-leave
            [approveLeaveList]="this.approveLeaveList"
          ></app-approved-leave>
          }@else {
          <div class="card-header">
            <h6 class="card-title mb-0">Approved Leaves</h6>
          </div>
          <div class="noresult">
            <div class="text-center py-4">
              <div class="avatar-md mx-auto mb-4">
                <div
                  class="avatar-title bg-light text-primary rounded-circle fs-4xl"
                >
                  <i class="bi bi-search"></i>
                </div>
              </div>
              <h5 class="mt-2">Sorry! No Result Found</h5>
              <!-- <p class="text-muted mb-0">
                  We've searched
                  {{ this.leaveRequestDataList.length }} Leave Request We did not
                  find any Leave Request for you search.
                </p> -->
            </div>
          </div>
          }
        </div>
        <!--end tab-pane-->
        <div
          [hidden]="currentTab !== 'RejectLeave'"
          class="tab-pane active"
          id="RejectLeave"
          role="tabpanel"
        >
          @if(this.rejectLeaveList && rejectLeaveList.length > 0){
          <app-reject-leave
            [rejectLeaveList]="this.rejectLeaveList"
          ></app-reject-leave>
          }@else {
          <div class="card-header">
            <h6 class="card-title mb-0">Rejected Leaves</h6>
          </div>
          <div class="noresult">
            <div class="text-center py-4">
              <div class="avatar-md mx-auto mb-4">
                <div
                  class="avatar-title bg-light text-primary rounded-circle fs-4xl"
                >
                  <i class="bi bi-search"></i>
                </div>
              </div>
              <h5 class="mt-2">Sorry! No Result Found</h5>
              <!-- <p class="text-muted mb-0">
                  We've searched
                  {{ this.leaveRequestDataList.length }} Leave Request We did not
                  find any Leave Request for you search.
                </p> -->
            </div>
          </div>
          }
        </div>
        <!--end tab-pane-->
        <div
          [hidden]="currentTab !== 'pendingLeave'"
          class="tab-pane active"
          id="pendingLeave"
          role="tabpanel"
        >
          @if(this.pendingLeaveList && pendingLeaveList.length > 0){
          <app-pending-leave
            [pendingLeaveList]="this.pendingLeaveList"
          ></app-pending-leave>
          }@else {
          <div class="card-header">
            <h6 class="card-title mb-0">Pending Leaves</h6>
          </div>
          <div class="noresult">
            <div class="text-center py-4">
              <div class="avatar-md mx-auto mb-4">
                <div
                  class="avatar-title bg-light text-primary rounded-circle fs-4xl"
                >
                  <i class="bi bi-search"></i>
                </div>
              </div>
              <h5 class="mt-2">Sorry! No Result Found</h5>
              <!-- <p class="text-muted mb-0">
                  We've searched
                  {{ this.leaveRequestDataList.length }} Leave Request We did not
                  find any Leave Request for you search.
                </p> -->
            </div>
          </div>
          }
        </div>
        <!--end tab-pane-->

        <div
          [hidden]="currentTab !== 'expiredLeave'"
          class="tab-pane active"
          id="expiredLeave"
          role="tabpanel"
        >
          @if(this.expiredLeaveList && expiredLeaveList.length > 0){

          <app-expired-leave
            [expiredLeaveList]="this.expiredLeaveList"
          ></app-expired-leave>
          }@else {
          <div class="card-header">
            <h6 class="card-title mb-0">Expired Leaves</h6>
          </div>
          <div class="noresult">
            <div class="text-center py-4">
              <div class="avatar-md mx-auto mb-4">
                <div
                  class="avatar-title bg-light text-primary rounded-circle fs-4xl"
                >
                  <i class="bi bi-search"></i>
                </div>
              </div>
              <h5 class="mt-2">Sorry! No Result Found</h5>
              <!-- <p class="text-muted mb-0">
                We've searched
                {{ this.leaveRequestDataList.length }} Leave Request We did not
                find any Leave Request for you search.
              </p> -->
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
<!--end row-->
