<!-- Start Breadcrumbs -->
<!-- <app-breadcrumbs
  title="Privacy Policy"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs> -->
<!-- End Breadcrumbs -->

<div class="row justify-content-center">
  <div class="col-xxl-9">
    <div class="card overflow-hidden">
      <div class="bg-primary pb-0">
        <div
          class="card-body text-center py-4 d-flex justify-content-between align-items-center"
        >
          <img
            src="../../../assets/10.png"
            class="img-fluid"
            style="width: 50px"
          />
          <h4 class="fw-medium text-white mb-3">TEL App Privacy Policy</h4>
          <img
            src="../../../assets/11.png"
            class="img-fluid"
            style="width: 50px"
          />
          <!-- <p class="text-white text-opacity-75 mb-0">
            To learn more about Privacy at themesbrand please visit our
            <a
              href="javascript:void(0);"
              class="text-white text-decoration-underline"
              >Privacy Hub</a
            >.
          </p> -->
        </div>
        <div class="card-body py-2 bg-white bg-opacity-10">
          <ul
            class="list-unstyled mb-0 text-white-75 hstack gap-2 justify-content-between"
          >
            <li>Our privacy policy hes been updated</li>
            <li>24, November 2024</li>
          </ul>
        </div>
      </div>
      <div class="card-body">
        <p class="text-muted mb-2">
          This Privacy Policy explains how TEL (Track Employee Location),
          developed by <b>Crrescita Innovators Private Limited</b>, collects,
          uses, and discloses Personal Data from individuals or companies and
          their employees who subscribe to our app, visit our website, or engage
          in business activities with us.
        </p>
        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Types of Personal Data
        </h6>
        <p class="text-muted mb-2">
          By using our app or site, you agree to the terms and conditions
          outlined in this Privacy Policy. TEL may update these terms at any
          time without notice. Specific areas of our site may have additional
          terms of use, which will take precedence in case of conflict.
        </p>
        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          How TEL Collects Personal Data
        </h6>
        <p class="text-muted mb-2">
          We primarily collect Personal Data directly from you. We may request
          Personal Data when you interact with us, such as registering on our
          app or website, subscribing to a newsletter, making purchases, or
          signing up for marketing communications.
        </p>
        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          How TEL Uses Personal Data
        </h6>
        <p class="text-muted mb-2">
          TEL uses your Personal Data for the following purposes:
        </p>

        <p class="text-muted mb-2">
          (a) Business Purposes for Processing Employee Data
        </p>
        <ul class="text-muted">
          <li>
            <p class="mb-2">
              To initiate, develop, maintain, or expand business relationships,
              including negotiating, contracting, and fulfilling contractual
              obligations.
            </p>
          </li>
          <li>
            <p class="mb-2">
              To send transactional communications such as information requests,
              order confirmations, training, and service updates.
            </p>
          </li>
          <li>
            <p class="mb-2">
              For account management, service provision, dispute resolution, and
              reporting.
            </p>
          </li>
        </ul>

        <p class="text-muted mb-2">
          (b) Business Purposes for Processing Consumer and Individual Data
        </p>
        <ul class="text-muted">
          <li>
            <p class="mb-2">
              To provide requested information, products, or services, and as
              reasonably expected by the individual based on the context of data
              collection and this privacy policy.
            </p>
          </li>
          <li>
            <p class="mb-2">
              For due diligence, including verifying identity and eligibility to
              receive information, products, or services.
            </p>
          </li>
          <li>
            <p class="mb-2">
              To send transactional communications like information requests,
              order confirmations, and service updates.
            </p>
          </li>
          <li>
            <p class="mb-2">
              To manage accounts for customer service, financial, and dispute
              resolution purposes.
            </p>
          </li>
        </ul>

        <p class="text-muted mb-2">
          (c) Business-necessary Processing Activities
        </p>
        <ul class="text-muted">
          <li>
            <p class="mb-2">
              TEL will collect and process customer data only as instructed or
              permitted by our clients. We maintain appropriate security
              measures to protect this information.
            </p>
          </li>
        </ul>

        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i> Data
          Categories
        </h6>
        <p class="text-muted mb-2">
          <b>Clients' Contact Information</b>
        </p>
        <p class="text-muted mb-2">
          We collect information such as the name, phone number, and email of
          field employees' clients for app functionality, only after obtaining
          the necessary permissions from our customers.
        </p>
        <p class="text-muted mb-2">
          <b>Clients' GPS Location</b>
        </p>
        <p class="text-muted mb-2">
          We collect location-based data (GPS coordinates) through our
          geolocation feature to record employee visits with their GPS location.
        </p>
        <p class="text-muted mb-2">
          <b>Clients' Images</b>
        </p>
        <p class="text-muted mb-2">
          We collect company images if a client has signed up for this feature
          and agreed to its use. This feature is optional and only available to
          those who opt in. We do not share collected images with third parties,
          nor use them for purposes other than those disclosed. Images are
          stored for the duration of the client's subscription and are
          automatically deleted 365 days after the service ends.
        </p>

        <p class="text-muted mb-2">
          <b>Data Processing</b>
        </p>
        <p class="text-muted mb-2">
          We may process data for business management, reporting, and analysis
          to provide business services, analytics, and business intelligence.
        </p>
        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Disclosure of Personal Data
        </h6>
        <p class="text-muted mb-2">
          TEL is committed to not providing your Personal Data to third parties.
          We limit data sharing to:
        </p>
        <ul class="text-muted vstack gap-2">
          <li>
            Service providers who are bound to protect your data and use it only
            according to our instructions.
          </li>
          <li>
            Business partners, but only if you have purchased a product or
            service from them or authorized the sharing.
          </li>
          <li>
            Legal requirements, rights enforcement, property protection, or as
            needed to support auditing, compliance, and corporate governance.
          </li>
        </ul>
        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Mobile & Desktop Applications
        </h6>
        <p class="text-muted mb-2">
          Our applications allow access to your account and interaction with us
          online. Personal Data collected via our mobile applications is
          protected according to this Privacy Policy.
        </p>
        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Communication Preferences
        </h6>
        <p class="text-muted mb-2">
          You can limit the information you provide and the communications you
          receive. To opt-out of commercial emails, click "unsubscribe" at the
          bottom of any email. Opting out of promotional emails will not affect
          service-related communications. For assistance with opting out,
          contact us at contact&#64;crrescita.com.
        </p>
        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Access, Correction, Erasure, and Other Individual Rights
        </h6>
        <p class="text-muted mb-2">
          We respect your rights to access, correct, and delete your Personal
          Data, or object to its processing. You can log into your account to
          manage your data or contact us to exercise your rights as per
          applicable data protection laws.
        </p>
        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Information Security
        </h6>
        <p class="text-muted mb-2">
          TEL (Track Employee Location) is committed to maintaining appropriate
          organizational, technical, and physical controls to protect Personal
          Data. These measures safeguard against anticipated threats and
          unauthorized access. We focus on protecting sensitive and other
          Personal Data that could cause substantial harm if compromised.
        </p>
        <p class="text-muted mb-2">
          We encourage you to take online safety measures, such as choosing a
          strong, unique password for TEL and not sharing it. TEL will never ask
          for your password via unsolicited communications. Remember to sign out
          and close your browser after use to protect your data.
        </p>

        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Data Retention
        </h6>
        <p class="text-muted mb-2">
          We retain Personal Data only as long as necessary for business
          purposes or as required by law. Images and other data collected
          through the app are stored for the duration of the client's
          subscription and deleted 365 days after service termination.
        </p>

        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Job Applicants
        </h6>
        <p class="text-muted mb-2">
          TEL is not liable for any damages arising from the use of our website
          or app. This includes, but is not limited to, damages related to
          profits, business interruption, and data loss due to errors or
          inaccuracies.
        </p>

        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Processing Personal Data
        </h6>
        <p class="text-muted mb-2">
          TEL implements the following for processing Personal Data of
          individuals we have business relationships with:
        </p>
        <ul class="text-muted vstack gap-2">
          <li>Business relationship management</li>
          <li>Due diligence</li>
          <li>Transactional communications</li>
          <li>Account management</li>
          <li>Quality and risk management</li>
          <li>Security management</li>
          <li>Anonymization of data</li>
        </ul>

        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Business Purposes for Processing User Data
        </h6>

        <ul class="text-muted vstack gap-2">
          <li>Provide requested information, products, or services</li>
          <li>Conduct due diligence</li>
          <li>Manage accounts</li>
          <li>Ensure compliance</li>
          <li>Conduct business structuring activities</li>
          <li>Reporting and analysis</li>
          <li>Ensure disaster recovery, business continuity, and archiving</li>
        </ul>

        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Quantity and Quality of Data
        </h6>
        <p class="text-muted mb-2">
          TEL ensures that Personal Data is retained only as necessary for
          business purposes, legal compliance, or as advisable under statutes of
          limitations. Personal Data should be accurate, complete, and
          up-to-date. Individuals are responsible for ensuring their data meets
          these standards.
        </p>

        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Individual Rights of Access, Rectification, and Objection
        </h6>
        <p class="text-muted mb-2">
          Individuals can request a copy of their Personal Data held by TEL. If
          the data is incorrect, incomplete, or not processed lawfully,
          individuals can request rectification, restriction, or erasure.
          Individuals may also object to processing based on their specific
          situation or opt-out of direct marketing communications.
        </p>

        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Security and Confidentiality Requirements
        </h6>
        <p class="text-muted mb-2">
          TEL implements reasonable technical, physical, and organizational
          measures to protect Personal Data from misuse, loss, or unauthorized
          access. Access is limited to business purposes, and staff with access
          are bound by confidentiality obligations. TEL investigates and
          documents all data security breaches and their remedies.
        </p>

        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Direct Marketing
        </h6>
        <p class="text-muted mb-2">
          TEL respects individual preferences and allows opt-in and opt-out of
          direct marketing. We send marketing materials only with opt-in consent
          or where permitted by law based on an existing business relationship.
        </p>

        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Monitoring and Audit
        </h6>
        <p class="text-muted mb-2">
          TEL regularly audits processes involving Personal Data to ensure
          compliance with privacy standards. Our processing facilities are
          subject to audits as defined by our privacy protocols.
        </p>

        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Complaints Procedure
        </h6>
        <p class="text-muted mb-2">
          Individuals can file a written complaint if they suspect a violation
          of privacy commitments. Complaints should be submitted in writing to
          our support team at contact&#64;crrescita.com
        </p>

        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Privacy Statement for Client Employees
        </h6>
        <p class="text-muted mb-2">
          TEL has a Data Privacy Policy to ensure consistent handling of
          personal data across all operations. This policy applies to data
          collected both online and offline and governs data processed on behalf
          of clients. We collect and process personal data as instructed by our
          clients, maintaining appropriate security measures to protect it.
        </p>

        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Employees' Contact Information
        </h6>
        <p class="text-muted mb-2">
          We collect employees' personal and company information, such as name,
          phone number, and email, to administer the app's functions. This is
          done only after obtaining the necessary permissions from employers.
        </p>

        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Employees' GPS Location
        </h6>
        <p class="text-muted mb-2">
          We collect GPS data to record employees' time in/out. Location data is
          collected only with explicit consent and used to enhance app services.
          Permissions can be managed or revoked via device settings. We do not
          share location data with third parties without consent, except as
          required by law.
        </p>

        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Employees' Selfies
        </h6>
        <p class="text-muted mb-2">
          We collect employee selfies for attendance if the client opts into
          this feature. This is optional and can be disabled by the client.
          Selfies are stored for the duration of the service and deleted 365
          days after the end of the subscription. We do not share selfies with
          third parties.
        </p>

        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Sensitive Personal Data
        </h6>
        <p class="text-muted mb-2">
          We process sensitive personal data on behalf of employers, with
          safeguards in place to protect against unauthorized use or disclosure.
          Access is limited to those who need it for operational purposes, and
          sensitive data is only disclosed to service providers.
        </p>

        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Sensitive Personal Data
        </h6>
        <p class="text-muted mb-2">
          We process sensitive personal data on behalf of employers, with
          safeguards in place to protect against unauthorized use or disclosure.
          Access is limited to those who need it for operational purposes, and
          sensitive data is only disclosed to service providers.
        </p>

        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Questions About Your Personal Data
        </h6>
        <p class="text-muted mb-2">
          We are committed to transparency. Employees should contact their
          employer for more information on how their data is collected and
          processed.
        </p>

        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          TEL App & Site Content
        </h6>
        <p class="text-muted mb-2">
          All content on this site is owned by TEL. No material may be copied,
          modified, or distributed without prior written permission.
          Unauthorized use may violate laws and result in penalties.
        </p>

        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Service Guarantees
        </h6>
        <p class="text-muted mb-2">We do not guarantee that:</p>

        <ul class="text-muted vstack gap-2">
          <li>our app will meet your requirements;</li>
          <li>it will be available uninterrupted, timely, or error-free.</li>
        </ul>

        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Changes to this Privacy Statement
        </h6>
        <p class="text-muted mb-2">
          We may update this Privacy Statement to reflect changes in privacy
          practices. Any changes will be effective immediately upon notice on
          the site.
        </p>

        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Contact Us
        </h6>
        <p class="text-muted mb-2">
          If you have questions or comments, please contact us. Provide your
          name, address, email address, and detailed information about your
          inquiry.
        </p>

        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Email
        </h6>
        <p class="text-muted mb-2 fw-semibold">contact&#64;crrescita.com</p>

        <h6 class="card-title mb-3">
          <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
          Phone
        </h6>
        <p class="text-muted mb-2 fw-semibold">+91 8810446191</p>

        <!-- <p class="text-muted fw-semibold">
          Website Name's Privacy Policy does not apply to other advertisers or
          websites. Thus, we are advising you to consult the respective Privacy
          Policies of these third-party ad servers for more detailed
          information. It may include their practices and instructions about how
          to opt-out of certain options. You may find a complete list of these
          Privacy Policies and their links here: Privacy Policy Links.
        </p>
        <div class="text-end">
          <button type="button" class="btn btn-secondary">
            I'm Understand
          </button>
        </div> -->
      </div>
    </div>
    <!--end card-->
  </div>
  <!--end col-->
</div>
<!--end row-->
