<!-- Start Breadcrumbs -->
<app-breadcrumbs
  [title]="urlId ? 'Edit Banner' : 'Add Banner'"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>

<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <div class="col-xxl-12">
          <form [formGroup]="BannerSectionform" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-lg-4">
                <div class="mb-3">
                  <label for="title" class="form-label"> Title</label>
                  <input
                    type="text"
                    class="form-control"
                    id="title"
                    formControlName="title"
                    placeholder="Enter Title"
                    value="title"
                    [ngClass]="
                      f['title'] &&
                      f['title'].hasError('required') &&
                      f['title'].touched
                        ? 'is-invalid'
                        : ''
                    "
                  />

                  <!-- <textarea
                    class="form-control"
                    placeholder="Enter Title"
                    rows="5"
                    formControlName="title"
                    maxlength="150"
                    [ngClass]="{
                      'is-invalid':
                        f['title'] && f['title'].errors && f['title'].touched
                    }"
                  ></textarea> -->
                  <!-- @if (f['title'] && f['title'].hasError('required') &&
                  f['title'].touched) {
                  <div class="invalid-text">Title is required.</div>
                  } -->
                  @if(f['title'] && f['title'].hasError('maxlength') &&
                  f['title'].touched){
                  <div class="invalid-text">
                    Title must be at most 25 characters
                  </div>
                  }
                </div>
              </div>

              <div class="col-lg-4">
                <div class="mb-3">
                  <label for="sub_title" class="form-label">Sub title</label>
                  <input
                    type="text"
                    class="form-control"
                    id="sub_title"
                    formControlName="sub_title"
                    placeholder="Enter Sub title"
                    value="sub_title"
                    [ngClass]="
                      f['sub_title'] &&
                      f['sub_title'].hasError('required') &&
                      f['sub_title'].touched
                        ? 'is-invalid'
                        : ''
                    "
                  />

                  <!-- @if (f['sub_title'] && f['sub_title'].hasError('required') &&
                  f['sub_title'].touched) {
                  <div class="invalid-text">Sub title is required.</div>
                  }  -->
                  @if(f['sub_title'] && f['sub_title'].hasError('maxlength') &&
                  f['sub_title'].touched){
                  <div class="invalid-text">
                    Sub title must be at most 25 characters
                  </div>
                  }
                </div>
              </div>

              <div class="col-lg-4">
                <div class="mb-3">
                  <label for="description" class="form-label">
                    Description<span class="text-danger"></span
                  ></label>

                  <textarea
                    class="form-control"
                    placeholder="Enter description"
                    rows="5"
                    formControlName="description"
                    [ngClass]="{
                      'is-invalid':
                        f['description'] &&
                        f['description'].errors &&
                        f['description'].touched
                    }"
                  ></textarea>

                  <!-- @if (f['description'] &&
                          f['description'].hasError('required') &&
                          f['description'].touched) {
                          <div class="invalid-text">
                            description is required.
                          </div>
                          } -->

                  @if(f['description'] && f['description'].hasError('maxlength')
                  && f['description'].touched){
                  <div class="invalid-text">
                    Description must be at most 150 characters
                  </div>
                  }
                </div>
              </div>

              <div class="col-lg-4">
                <div class="mb-3">
                  <label class="form-label"
                    >Type <span class="text-danger">*</span></label
                  >
                  <div class="position-relative">
                    <select
                      class="form-control"
                      formControlName="type"
                      (change)="onTypeChange($event)"
                      [ngClass]="
                        f['type'] &&
                        f['type'].hasError('required') &&
                        f['type'].touched
                          ? 'is-invalid'
                          : ''
                      "
                    >
                      <option value="">Select Banner</option>
                      <option value="video">Video</option>
                      <option value="image">Image</option>
                    </select>
                    @if (f['type'] && f['type'].hasError('required') &&
                    f['type'].touched) {
                    <div class="invalid-text">Type is required.</div>
                    }
                  </div>
                </div>
              </div>

              @if (f['type'].value == 'video'){
              <div class="col-lg-4">
                <div class="mb-3">
                  <label class="form-label">
                    Video Upload Type (for desktop)
                    <span class="text-danger">*</span></label
                  >
                  <div class="position-relative">
                    <select
                      formControlName="videotype"
                      class="form-control"
                      [ngClass]="
                        f['videotype'] &&
                        f['videotype'].hasError('required') &&
                        f['videotype'].touched
                          ? 'is-invalid'
                          : ''
                      "
                    >
                      <option value="">Select Type</option>
                      <option value="url">URL</option>
                      <option value="file">File</option>
                    </select>
                    @if (f['videotype'] && f['videotype'].hasError('required')
                    && f['videotype'].touched) {
                    <div class="invalid-text">Video type is required.</div>
                    }
                  </div>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="mb-3">
                  <label class="form-label">
                    Video Upload Type (for mobile)
                    <span class="text-danger">*</span></label
                  >
                  <div class="position-relative">
                    <select
                      formControlName="videotypemob"
                      class="form-control"
                      [ngClass]="
                        f['videotypemob'] &&
                        f['videotypemob'].hasError('required') &&
                        f['videotypemob'].touched
                          ? 'is-invalid'
                          : ''
                      "
                    >
                      <option value="">Select Type</option>
                      <option value="url">URL</option>
                      <option value="file">File</option>
                    </select>
                    @if (f['videotypemob'] &&
                    f['videotypemob'].hasError('required') &&
                    f['videotypemob'].touched) {
                    <div class="invalid-text">Video type is required.</div>
                    }
                  </div>
                </div>
              </div>

              @if (f['videotype'].value == 'url') {
              <div class="col-lg-4">
                <div class="mb-3">
                  <label for="videoURL" class="form-label">Video URL </label>
                  <div class="position-relative">
                    <input
                      type="text"
                      class="form-control password-input"
                      formControlName="bannervideoUrl"
                      id="videoURL"
                      placeholder="Enter video URL"
                    />
                  </div>
                </div>
              </div>
              } @if (f['videotypemob'].value == 'url') {
              <div class="col-lg-4">
                <div class="mb-3">
                  <label for="mobvideoURL" class="form-label"
                    >Mobile Video URL
                  </label>
                  <div class="position-relative">
                    <input
                      type="text"
                      class="form-control password-input"
                      formControlName="mobbannervideoUrl"
                      id="mobvideoURL"
                      placeholder="Enter video URL"
                    />
                  </div>
                </div>
              </div>
              } } @if (f['type'].value == 'image') {
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-6">
                    <div>
                      <label class="form-label"
                        >Banner/Poster Image<span class="text-danger"
                          >*</span
                        ></label
                      >
                      <div class="custom-dropzone">
                        <input
                          type="file"
                          id="bannerFileInput"
                          accept="image/*"
                          (change)="onBannerImageSelected($event)"
                          hidden
                          #bannerFileInput
                        />
                        <label for="bannerFileInput" class="custom-file-input">
                          <span class="custom-file-text"
                            >Choose a file to upload.
                            <br />
                            <span class="custom-file-text2"
                              >File size 1400 × 750 px
                            </span>
                          </span>
                        </label>
                      </div>

                      @if (BannerImageSelectedFiles) {
                      <ul class="list-unstyled mb-0" id="dropzone-preview">
                        <li class="mt-2" id="dropzone-preview-list">
                          <div class="border rounded">
                            <div class="d-flex flex-wrap gap-2 p-2">
                              <div class="flex-shrink-0 me-3">
                                <div class="avatar-sm bg-light rounded p-2">
                                  @if (BannerImageFilePreview) {
                                  <img
                                    class="img-fluid rounded d-block"
                                    [src]="BannerImageFilePreview"
                                    alt="Dropzone-Image"
                                  />
                                  }
                                </div>
                              </div>
                              <div class="flex-grow-1">
                                <div class="pt-1">
                                  @if (BannerImageSelectedFiles.name) {
                                  <h5 class="fs-md mb-1">
                                    {{ BannerImageSelectedFiles.name }}
                                  </h5>
                                  } @if (BannerImageSelectedFiles.size) {
                                  <p class="fs-sm text-muted mb-0">
                                    {{ BannerImageSelectedFiles.size }}
                                  </p>
                                  }
                                </div>
                              </div>
                              <div class="flex-shrink-0 ms-3">
                                <button
                                  (click)="
                                    removeImageSelectedFile(bannerFileInput)
                                  "
                                  class="btn btn-sm btn-danger"
                                >
                                  Delete
                                </button>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                      }
                    </div>
                  </div>

                  @if (uploadedThumbnail) {
                  <div class="col-lg-6 mt-3 mt-lg-0">
                    <div>
                      <label class="form-label">Uploaded Banner</label>
                      <div class="uploaded-img">
                        <div>
                          <img
                            class="thumbnail-img-fluid rounded d-block"
                            [src]="uploadedThumbnail"
                            alt="Uploaded Thumbnail"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  }
                </div>
              </div>

              <!-- mob-thumbnail start-->
              <div class="col-lg-12 mt-3">
                <div class="row">
                  <div class="col-lg-6">
                    <div>
                      <label class="form-label"
                        >Banner/Poster Mobile Image<span class="text-danger"
                          >*</span
                        ></label
                      >
                      <div class="custom-dropzone">
                        <input
                          type="file"
                          id="imageThumbnailInput"
                          accept="image/*"
                          (change)="onThumbnailSelected($event)"
                          hidden
                          #bannerThumbnailFileInput
                        />
                        <label
                          for="imageThumbnailInput"
                          class="custom-file-input"
                        >
                          <span class="custom-file-text"
                            >Choose a file to upload.
                            <br />
                            <span class="custom-file-text2"
                              >File size 768 × 1200 px
                            </span>
                          </span>
                        </label>
                      </div>

                      @if (BannerThumbnailSelectedFiles) {
                      <ul class="list-unstyled mb-0" id="dropzone-preview">
                        <li class="mt-2" id="dropzone-preview-list">
                          <div class="border rounded">
                            <div class="d-flex flex-wrap gap-2 p-2">
                              <div class="flex-shrink-0 me-3">
                                <div class="avatar-sm bg-light rounded p-2">
                                  @if (BannerThumbnailFilePreview) {
                                  <img
                                    class="img-fluid rounded d-block"
                                    [src]="BannerThumbnailFilePreview"
                                    alt="Dropzone-Image"
                                  />
                                  }
                                </div>
                              </div>
                              <div class="flex-grow-1">
                                <div class="pt-1">
                                  @if (BannerThumbnailSelectedFiles.name) {
                                  <h5 class="fs-md mb-1">
                                    {{ BannerThumbnailSelectedFiles.name }}
                                  </h5>
                                  } @if (BannerThumbnailSelectedFiles.size) {
                                  <p class="fs-sm text-muted mb-0">
                                    {{ BannerThumbnailSelectedFiles.size }}
                                  </p>
                                  }
                                </div>
                              </div>
                              <div class="flex-shrink-0 ms-3">
                                <button
                                  (click)="
                                    removeThumbnailSelectedFile(
                                      bannerThumbnailFileInput
                                    )
                                  "
                                  class="btn btn-sm btn-danger"
                                >
                                  Delete
                                </button>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                      }
                    </div>
                  </div>

                  @if (uploadedMobileThumbnail) {
                  <div class="col-lg-6 mt-3 mt-lg-0">
                    <div>
                      <label class="form-label">Uploaded Mobile Image</label>
                      <div class="uploaded-img">
                        <div>
                          <img
                            class="thumbnail-img-fluid rounded d-block"
                            [src]="uploadedMobileThumbnail"
                            alt="Uploaded Thumbnail"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  }
                </div>
              </div>
              } @else if (f['type'].value == 'video') { @if
              (f['videotype'].value == 'file') {
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-6">
                    <!---Video Banner upload-->
                    <div>
                      <label class="form-label"
                        >Upload Video<span class="text-danger">*</span></label
                      >

                      <div class="custom-dropzone">
                        <input
                          type="file"
                          id="videoFileInput"
                          accept="video/*"
                          (change)="onBannerVideoSelected($event)"
                          hidden
                          #videoFileInput
                        />
                        <label for="videoFileInput" class="custom-file-input">
                          <span class="custom-file-text"
                            >Choose a file to upload.</span
                          >
                        </label>
                      </div>
                      @if (BannerVideoSelectedFiles) {
                      <ul class="list-unstyled mb-0" id="dropzone-preview">
                        <li class="mt-2" id="dropzone-preview-list">
                          <div class="border rounded">
                            <div class="d-flex p-2">
                              <div class="flex-shrink-0 me-3">
                                <div class="videoo-avatar-sm bg-light rounded">
                                  @if (BannerVideoFilePreview) {
                                  <video
                                    class="img-fluid rounded d-block"
                                    [src]="BannerVideoFilePreview"
                                  ></video>
                                  }
                                </div>
                              </div>
                              <div class="flex-grow-1">
                                <div class="pt-1">
                                  @if (BannerVideoSelectedFiles.name) {
                                  <h5 class="fs-md mb-1">
                                    {{ BannerVideoSelectedFiles.name }}
                                  </h5>
                                  } @if (BannerVideoSelectedFiles.size) {
                                  <p class="fs-sm text-muted mb-0">
                                    {{ BannerVideoSelectedFiles.size }}
                                  </p>
                                  }
                                </div>
                              </div>
                              <div class="flex-shrink-0 ms-3">
                                <button
                                  (click)="
                                    removeVideoSelectedFile(videoFileInput)
                                  "
                                  class="btn btn-sm btn-danger"
                                >
                                  Delete
                                </button>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                      }
                    </div>
                    <!---Video Banner Upload Ends-->
                  </div>

                  @if (uploadedVideo) {
                  <div class="col-lg-6 mt-3 mt-lg-0">
                    <div>
                      <label class="form-label">Uploaded Video</label>
                      <div class="uploaded-img">
                        <div>
                          <video
                            class="thumbnail-img-fluid rounded d-block"
                            [src]="uploadedVideo"
                          ></video>
                        </div>
                      </div>
                    </div>
                  </div>
                  }
                </div>
              </div>

              <!-- video mob-thumbnail start-->
              <div class="col-lg-12 mt-3">
                <div class="row">
                  <div class="col-lg-6">
                    <div>
                      <label class="form-label"
                        >Video Thumbnail<span class="text-danger"
                          >*</span
                        ></label
                      >
                      <div class="custom-dropzone">
                        <input
                          type="file"
                          id="videoThumbnailInput"
                          accept="image/*"
                          (change)="onThumbnailSelected($event)"
                          hidden
                          #videoThumbnailFileInput
                        />
                        <label
                          for="videoThumbnailInput"
                          class="custom-file-input"
                        >
                          <div class="d-none d-md-block">
                            <span class="custom-file-text"
                              >Choose a file to upload.
                              <br />
                              <span class="custom-file-text2"
                                >File size 656 × 290 px
                              </span>
                            </span>
                          </div>
                          <div class="d-block d-md-none">
                            <span class="custom-file-text-mob"
                              >Choose a file to upload.
                              <br />
                              <span class="custom-file-text2-mob"
                                >File size 656 × 290 px
                              </span>
                            </span>
                          </div>
                        </label>
                      </div>

                      @if (BannerThumbnailSelectedFiles) {
                      <ul class="list-unstyled mb-0" id="dropzone-preview">
                        <li class="mt-2" id="dropzone-preview-list">
                          <div class="border rounded">
                            <div class="d-flex flex-wrap gap-2 p-2">
                              <div class="flex-shrink-0 me-3">
                                <div class="avatar-sm bg-light rounded p-2">
                                  @if (BannerThumbnailFilePreview) {
                                  <img
                                    class="img-fluid rounded d-block"
                                    [src]="BannerThumbnailFilePreview"
                                    alt="Dropzone-Image"
                                  />
                                  }
                                </div>
                              </div>
                              <div class="flex-grow-1">
                                <div class="pt-1">
                                  @if (BannerThumbnailSelectedFiles.name) {
                                  <h5 class="fs-md mb-1">
                                    {{ BannerThumbnailSelectedFiles.name }}
                                  </h5>
                                  } @if (BannerThumbnailSelectedFiles.size) {
                                  <p class="fs-sm text-muted mb-0">
                                    {{ BannerThumbnailSelectedFiles.size }}
                                  </p>
                                  }
                                </div>
                              </div>
                              <div class="flex-shrink-0 ms-3">
                                <button
                                  (click)="
                                    removeThumbnailSelectedFile(
                                      videoThumbnailFileInput
                                    )
                                  "
                                  class="btn btn-sm btn-danger"
                                >
                                  Delete
                                </button>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                      }
                    </div>
                  </div>

                  @if (uploadedMobileThumbnail) {
                  <div class="col-lg-6 mt-3 mt-lg-0">
                    <div>
                      <label class="form-label">Uploaded Video Thumbnail</label>
                      <div class="uploaded-img">
                        <div>
                          <img
                            class="thumbnail-img-fluid rounded d-block"
                            [src]="uploadedMobileThumbnail"
                            alt="Uploaded Thumbnail"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  }
                </div>
              </div>
              <!-- video mob-thumbnail end-->
              } @if (f['videotypemob'].value == 'file') {
              <!-- mob video  -->

              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-6">
                    <!---Video Banner upload-->
                    <div>
                      <label class="form-label"
                        >Upload Mobile Video<span class="text-danger"
                          >*</span
                        ></label
                      >

                      <div class="custom-dropzone">
                        <input
                          type="file"
                          id="mobvideoFileInput"
                          accept="video/*"
                          (change)="mobBannerVideoSelected($event)"
                          hidden
                          #mobvideoFileInput
                        />
                        <label
                          for="mobvideoFileInput"
                          class="custom-file-input"
                        >
                          <span class="custom-file-text"
                            >Choose a file to upload.</span
                          >
                        </label>
                      </div>
                      @if (mobBannerVideoSelectedFiles) {
                      <ul class="list-unstyled mb-0" id="dropzone-preview">
                        <li class="mt-2" id="dropzone-preview-list">
                          <div class="border rounded">
                            <div class="d-flex p-2">
                              <div class="flex-shrink-0 me-3">
                                <div class="videoo-avatar-sm bg-light rounded">
                                  @if (mobBannerVideoFilePreview) {
                                  <video
                                    class="img-fluid rounded d-block"
                                    [src]="mobBannerVideoFilePreview"
                                  ></video>
                                  }
                                </div>
                              </div>
                              <div class="flex-grow-1">
                                <div class="pt-1">
                                  @if (mobBannerVideoSelectedFiles.name) {
                                  <h5 class="fs-md mb-1">
                                    {{ mobBannerVideoSelectedFiles.name }}
                                  </h5>
                                  } @if (mobBannerVideoSelectedFiles.size) {
                                  <p class="fs-sm text-muted mb-0">
                                    {{ mobBannerVideoSelectedFiles.size }}
                                  </p>
                                  }
                                </div>
                              </div>
                              <div class="flex-shrink-0 ms-3">
                                <button
                                  (click)="
                                    mobremoveVideoSelectedFile(
                                      mobvideoFileInput
                                    )
                                  "
                                  class="btn btn-sm btn-danger"
                                >
                                  Delete
                                </button>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                      }
                    </div>
                    <!---Video Banner Upload Ends-->
                  </div>

                  @if (mobuploadedVideo) {
                  <div class="col-lg-6 mt-3 mt-lg-0">
                    <div>
                      <label class="form-label"> Mobile Uploaded Video</label>
                      <div class="uploaded-img">
                        <div>
                          <video
                            class="thumbnail-img-fluid rounded d-block"
                            [src]="mobuploadedVideo"
                          ></video>
                        </div>
                      </div>
                    </div>
                  </div>
                  }
                </div>
              </div>

              } }
              <div class="col-lg-12 mt-3">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="mb-3">
                      <label for="cta1Name" class="form-label">CTA Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="cta1Name"
                        formControlName="cta1Name"
                        placeholder="Enter CTA1 Name"
                        value="cta1Name"
                        [ngClass]="
                          f['cta1Name'] &&
                          f['cta1Name'].hasError('required') &&
                          f['cta1Name'].touched
                            ? 'is-invalid'
                            : ''
                        "
                      />
                      @if (f['cta1Name'] && f['cta1Name'].hasError('required')
                      && f['cta1Name'].touched) {
                      <div class="invalid-text">CTA Name is required.</div>
                      }
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="mb-3">
                      <label for="cta1Url" class="form-label">CTA Url</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="cta1Url"
                        id="cta1Url"
                        placeholder="Enter CTA1 Url"
                        [ngClass]="
                          f['cta1Url'] &&
                          f['cta1Url'].hasError('required') &&
                          f['cta1Url'].touched
                            ? 'is-invalid'
                            : ''
                        "
                      />
                      @if (f['cta1Url'] && f['cta1Url'].hasError('required') &&
                      f['cta1Url'].touched) {
                      <div class="invalid-text">CTA Url is required.</div>
                      }
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="mb-3">
                      <label for="cta1_status" class="form-label"
                        >CTA Status<span class="text-danger">*</span>
                      </label>
                      <select
                        class="form-control"
                        formControlName="cta1Status"
                        data-choices
                        id="cta1_status"
                        [ngClass]="
                          f['cta1Status'] &&
                          f['cta1Status'].hasError('required') &&
                          f['cta1Status'].touched
                            ? 'is-invalid'
                            : ''
                        "
                      >
                        <option value="">Select Status</option>
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                      </select>
                      @if (f['cta1Status'] &&
                      f['cta1Status'].hasError('required') &&
                      f['cta1Status'].touched) {
                      <div class="invalid-text">CTA Status is required.</div>
                      }
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="mb-3">
                      <label for="statuss" class="form-label"
                        >Status <span class="text-danger">*</span></label
                      >
                      <select
                        class="form-control"
                        formControlName="status"
                        data-choices
                        id="statuss"
                        [ngClass]="
                          f['status'] &&
                          f['status'].hasError('required') &&
                          f['status'].touched
                            ? 'is-invalid'
                            : ''
                        "
                      >
                        <option value="">Select Status</option>
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                      </select>
                      @if (f['status'] && f['status'].hasError('required') &&
                      f['status'].touched) {
                      <div class="invalid-text">Status is required.</div>
                      }
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="hstack gap-2 justify-content-start mb-3">
                  @if (saveButtonActive) {
                  <button class="btn btn-primary">Save</button>
                  } @else {
                  <button class="btn btn-secondary" type="button" disabled>
                    <span
                      class="spinner-border spinner-border-sm"
                      role="status"
                      aria-hidden="true"
                    ></span>
                    Please wait
                  </button>
                  }
                </div>
              </div>
            </div>
          </form>

          <div></div>
        </div>
        @if (spinnerStatus) {
        <div id="elmLoader">
          <div class="spinner-border text-primary avatar-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        }
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card -->
  </div>
</div>
