<!-- Start Breadcrumbs -->
<app-breadcrumbs
  title="About"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <accordion
        [closeOthers]="true"
        class="accordion custom-accordionwithicon-plus"
        id="accordionWithplusicon"
      >
        <accordion-group class="accordion-item">
          <h2
            accordion-heading
            class="accordion-header"
            id="accordionwithplusExample1"
          >
            <button class="accordion-button text-uppercase" type="button">
              About Banner
            </button>
          </h2>
          <div
            id="accor_plusExamplecollapse1"
            class="accordion-collapse collapse show"
          >
            <div class="accordion-body">
              <app-about-banner></app-about-banner>
            </div>
          </div>
        </accordion-group>

        <accordion-group class="accordion-item">
          <h2
            accordion-heading
            class="accordion-header"
            id="accordionwithplusExample1"
          >
            <button class="accordion-button text-uppercase" type="button">
              Section 1 : {{ sectionTitles["sectionTwoTitle"] }}
            </button>
          </h2>
          <div
            id="accor_plusExamplecollapse1"
            class="accordion-collapse collapse show"
          >
            <div class="accordion-body">
              <app-about-mission
                (titleChange)="handleTitleChange('sectionTwoTitle', $event)"
              ></app-about-mission>
            </div>
          </div>
        </accordion-group>

        <accordion-group class="accordion-item">
          <h2
            accordion-heading
            class="accordion-header"
            id="accordionwithplusExample1"
          >
            <button class="accordion-button text-uppercase" type="button">
              Section 2 : {{ sectionTitles["sectionThreeTitle"] }}
            </button>
          </h2>
          <div
            id="accor_plusExamplecollapse1"
            class="accordion-collapse collapse show"
          >
            <div class="accordion-body">
              <app-about-vision
                (titleChange)="handleTitleChange('sectionThreeTitle', $event)"
              ></app-about-vision>
            </div>
          </div>
        </accordion-group>

        <accordion-group class="accordion-item">
          <h2
            accordion-heading
            class="accordion-header"
            id="accordionwithplusExample1"
          >
            <button class="accordion-button text-uppercase" type="button">
              Section 3 : {{ sectionTitles["sectionFourTitle"] }}
            </button>
          </h2>
          <div
            id="accor_plusExamplecollapse1"
            class="accordion-collapse collapse show"
          >
            <div class="accordion-body">
              <app-home-sectiontwo
                (titleChange)="handleTitleChange('sectionFourTitle', $event)"
              ></app-home-sectiontwo>
              <app-our-process></app-our-process>
              <!-- <app-about-sectiontwo
                (titleChange)="handleTitleChange('sectionFourTitle', $event)"
              ></app-about-sectiontwo> -->
            </div>
          </div>
        </accordion-group>

        <accordion-group class="accordion-item">
          <h2
            accordion-heading
            class="accordion-header"
            id="accordionwithplusExample1"
          >
            <button class="accordion-button text-uppercase" type="button">
              Section 4 : {{ sectionTitles["sectionFiveTitle"] }}
            </button>
          </h2>
          <div
            id="accor_plusExamplecollapse1"
            class="accordion-collapse collapse show"
          >
            <div class="accordion-body">
              <app-about-sectionthree
                (titleChange)="handleTitleChange('sectionFiveTitle', $event)"
              ></app-about-sectionthree>
            </div>
          </div>
        </accordion-group>

        <accordion-group class="accordion-item">
          <h2
            accordion-heading
            class="accordion-header"
            id="accordionwithplusExample1"
          >
            <button class="accordion-button text-uppercase" type="button">
              Section 5 : {{ sectionTitles["sectionSixTitle"] }}
            </button>
          </h2>
          <div
            id="accor_plusExamplecollapse1"
            class="accordion-collapse collapse show"
          >
            <div class="accordion-body">
              <app-our-team
                (titleChange)="handleTitleChange('sectionSixTitle', $event)"
              ></app-our-team>
            </div>
          </div>
        </accordion-group>

        <accordion-group class="accordion-item">
          <h2
            accordion-heading
            class="accordion-header"
            id="accordionwithplusExample1"
          >
            <button class="accordion-button text-uppercase" type="button">
              Section 6 : {{ sectionTitles["sectionSevenTitle"] }}
            </button>
          </h2>
          <div
            id="accor_plusExamplecollapse1"
            class="accordion-collapse collapse show"
          >
            <div class="accordion-body">
              <app-testimonials
                (titleChange)="handleTitleChange('sectionSevenTitle', $event)"
              ></app-testimonials>
            </div>
          </div>
        </accordion-group>

        <accordion-group class="accordion-item">
          <h2
            accordion-heading
            class="accordion-header"
            id="accordionwithplusExample1"
          >
            <button class="accordion-button text-uppercase" type="button">
              Section 7 : {{ sectionTitles["sectionEightTitle"] }}
            </button>
          </h2>
          <div
            id="accor_plusExamplecollapse1"
            class="accordion-collapse collapse show"
          >
            <div class="accordion-body">
              <app-about-sectionseven
                (titleChange)="handleTitleChange('sectionEightTitle', $event)"
              ></app-about-sectionseven>
            </div>
          </div>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
