<!-- Start Breadcrumbs -->
<app-breadcrumbs
  title="Home"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <accordion
        [closeOthers]="true"
        class="accordion custom-accordionwithicon-plus"
        id="accordionWithplusicon"
      >
        <accordion-group class="accordion-item">
          <h2
            accordion-heading
            class="accordion-header"
            id="accordionwithplusExample1"
          >
            <button class="accordion-button text-uppercase" type="button">
              Home Banner
            </button>
          </h2>
          <div
            id="accor_plusExamplecollapse1"
            class="accordion-collapse collapse show"
          >
            <div class="accordion-body">
              <app-banner-list></app-banner-list>
            </div>
          </div>
        </accordion-group>

        <accordion-group class="accordion-item">
          <h2
            accordion-heading
            class="accordion-header"
            id="accordionwithplusExample1"
          >
            <button class="accordion-button text-uppercase" type="button">
              Section 1 : {{ sectionTitles["sectionTwoTitle"] }}
            </button>
          </h2>
          <div
            id="accor_plusExamplecollapse1"
            class="accordion-collapse collapse show"
          >
            <div class="accordion-body">
              <app-home-sectionone
                (titleChange)="handleTitleChange('sectionTwoTitle', $event)"
              ></app-home-sectionone>

              <app-add-service></app-add-service>
            </div>
          </div>
        </accordion-group>

        <accordion-group class="accordion-item">
          <h2
            accordion-heading
            class="accordion-header"
            id="accordionwithplusExample1"
          >
            <button class="accordion-button text-uppercase" type="button">
              Section 2 : {{ sectionTitles["sectionThreeTitle"] }}
            </button>
          </h2>
          <div
            id="accor_plusExamplecollapse1"
            class="accordion-collapse collapse show"
          >
            <div class="accordion-body">
              <app-home-sectiontwo
                (titleChange)="handleTitleChange('sectionThreeTitle', $event)"
              ></app-home-sectiontwo>
              <app-our-process></app-our-process>
            </div>
          </div>
        </accordion-group>

        <accordion-group class="accordion-item">
          <h2
            accordion-heading
            class="accordion-header"
            id="accordionwithplusExample1"
          >
            <button class="accordion-button text-uppercase" type="button">
              Section 3 : {{ sectionTitles["sectionFourTitle"] }}
            </button>
          </h2>
          <div
            id="accor_plusExamplecollapse1"
            class="accordion-collapse collapse show"
          >
            <div class="accordion-body">
              <app-home-sectionthree
                (titleChange)="handleTitleChange('sectionFourTitle', $event)"
              ></app-home-sectionthree>
            </div>
          </div>
        </accordion-group>

        <accordion-group class="accordion-item">
          <h2
            accordion-heading
            class="accordion-header"
            id="accordionwithplusExample1"
          >
            <button class="accordion-button text-uppercase" type="button">
              Section 4 : {{ sectionTitles["sectionFiveTitle"] }}
            </button>
          </h2>
          <div
            id="accor_plusExamplecollapse1"
            class="accordion-collapse collapse show"
          >
            <div class="accordion-body">
              <app-home-sectionfour
                (titleChange)="handleTitleChange('sectionFiveTitle', $event)"
              ></app-home-sectionfour>
              <app-location></app-location>
            </div>
          </div>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
