<!-- Start Breadcrumbs -->
<app-breadcrumbs
  title="Science"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <accordion
        [closeOthers]="true"
        class="accordion custom-accordionwithicon-plus"
        id="accordionWithplusicon"
      >
        <accordion-group class="accordion-item">
          <h2
            accordion-heading
            class="accordion-header"
            id="accordionwithplusExample1"
          >
            <button class="accordion-button text-uppercase" type="button">
              Science Banner
            </button>
          </h2>
          <div
            id="accor_plusExamplecollapse1"
            class="accordion-collapse collapse show"
          >
            <div class="accordion-body">
              <app-science-banner></app-science-banner>
            </div>
          </div>
        </accordion-group>

        <accordion-group class="accordion-item">
          <h2
            accordion-heading
            class="accordion-header"
            id="accordionwithplusExample1"
          >
            <button class="accordion-button text-uppercase" type="button">
              Section 1 : {{ sectionTitles["sectionTwoTitle"] }}
            </button>
          </h2>
          <div
            id="accor_plusExamplecollapse1"
            class="accordion-collapse collapse show"
          >
            <div class="accordion-body">
              <app-science-sectionone
                (titleChange)="handleTitleChange('sectionTwoTitle', $event)"
              ></app-science-sectionone>
            </div>
          </div>
        </accordion-group>

        <accordion-group class="accordion-item">
          <h2
            accordion-heading
            class="accordion-header"
            id="accordionwithplusExample1"
          >
            <button class="accordion-button text-uppercase" type="button">
              Section 2 : {{ sectionTitles["sectionThreeTitle"] }}
            </button>
          </h2>
          <div
            id="accor_plusExamplecollapse1"
            class="accordion-collapse collapse show"
          >
            <div class="accordion-body">
              <app-science-sectiontwo
                (titleChange)="handleTitleChange('sectionThreeTitle', $event)"
              ></app-science-sectiontwo>
            </div>
          </div>
        </accordion-group>

        <accordion-group class="accordion-item">
          <h2
            accordion-heading
            class="accordion-header"
            id="accordionwithplusExample1"
          >
            <button class="accordion-button text-uppercase" type="button">
              Section 3 : {{ sectionTitles["sectionFourTitle"] }}
            </button>
          </h2>
          <div
            id="accor_plusExamplecollapse1"
            class="accordion-collapse collapse show"
          >
            <div class="accordion-body">
              <app-science-sectionthree
                (titleChange)="handleTitleChange('sectionFourTitle', $event)"
              ></app-science-sectionthree>
            </div>
          </div>
        </accordion-group>

        <accordion-group class="accordion-item">
          <h2
            accordion-heading
            class="accordion-header"
            id="accordionwithplusExample1"
          >
            <button class="accordion-button text-uppercase" type="button">
              Section 4 : {{ sectionTitles["sectionFiveTitle"] }}
            </button>
          </h2>
          <div
            id="accor_plusExamplecollapse1"
            class="accordion-collapse collapse show"
          >
            <div class="accordion-body">
              <app-science-sectionfour
                (titleChange)="handleTitleChange('sectionFiveTitle', $event)"
              ></app-science-sectionfour>
            </div>
          </div>
        </accordion-group>

        <accordion-group class="accordion-item">
          <h2
            accordion-heading
            class="accordion-header"
            id="accordionwithplusExample1"
          >
            <button class="accordion-button text-uppercase" type="button">
              Section 5 : {{ sectionTitles["sectionSixTitle"] }}
            </button>
          </h2>
          <div
            id="accor_plusExamplecollapse1"
            class="accordion-collapse collapse show"
          >
            <div class="accordion-body">
              <app-science-sectionfive
                (titleChange)="handleTitleChange('sectionSixTitle', $event)"
              ></app-science-sectionfive>
            </div>
          </div>
        </accordion-group>

        <accordion-group class="accordion-item">
          <h2
            accordion-heading
            class="accordion-header"
            id="accordionwithplusExample1"
          >
            <button class="accordion-button text-uppercase" type="button">
              Section 6 : {{ sectionTitles["sectionSevenTitle"] }}
            </button>
          </h2>
          <div
            id="accor_plusExamplecollapse1"
            class="accordion-collapse collapse show"
          >
            <div class="accordion-body">
              <app-science-sectionsix
                (titleChange)="handleTitleChange('sectionSevenTitle', $event)"
              ></app-science-sectionsix>
            </div>
          </div>
        </accordion-group>

        <accordion-group class="accordion-item">
          <h2
            accordion-heading
            class="accordion-header"
            id="accordionwithplusExample1"
          >
            <button class="accordion-button text-uppercase" type="button">
              Section 7 : {{ sectionTitles["sectionEightTitle"] }}
            </button>
          </h2>
          <div
            id="accor_plusExamplecollapse1"
            class="accordion-collapse collapse show"
          >
            <div class="accordion-body">
              <app-science-contact-form
                (titleChange)="handleTitleChange('sectionEightTitle', $event)"
              ></app-science-contact-form>
            </div>
          </div>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
