<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card">
        <div class="card-body ps-0">
          <div class="row align-items-center g-2">
            <div class="col-6 mt-0">
              <div class="card-header ps-0 pt-0">
                <div
                  class="d-flex justify-content-between align-items-center"
                ></div>
              </div>
            </div>
            <div class="col-lg-5 d-flex justify-content-md-end">
              <div class="search-box">
                <!-- <label for="type" class="form-label"
                  >Type <span class="text-danger">*</span></label
                > -->
                <select
                  [(ngModel)]="term"
                  (change)="filterdata()"
                  class="form-control search"
                  data-choices
                >
                  <option value="">Select Type</option>
                  <option value="banner">Banner</option>
                  <option value="product_img">Product Image</option>
                </select>
                <i class="ri-search-line search-icon"></i>
                <!-- <input
                  type="text"
                  class="form-control search"
                  placeholder="Search"
                  [(ngModel)]="term"
                  (keyup)="filterdata()"
                />
                <i class="ri-search-line search-icon"></i> -->
              </div>
            </div>

            <div class="col-lg-1">
              <div class="hstack flex-wrap gap-2">
                <div>
                  <a
                    (click)="team.show(); resetForm()"
                    class="btn btn-secondary"
                    ><i class="bi bi-plus-circle align-baseline me-1"></i>Add</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive table-card">
            <table
              class="table table-bordered table-centered align-middle table-custom-effect table-nowrap mb-0"
            >
              <thead class="text-muted text-center">
                <tr>
                  <th scope="col" class="cursor-pointer">S No.</th>
                  <th scope="col" class="cursor-pointer">Type</th>

                  <th scope="col" class="cursor-pointer">Image</th>

                  <th scope="col" class="cursor-pointer">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody class="list form-check-all text-center">
                @for (productImage of productImageData; track $index) {
                <tr>
                  <td class="id">
                    {{ $index + 1 }}
                  </td>

                  <td class="text-capitalize">
                    @if(productImage.type == 'product_img'){ Product Image
                    }@else { Banner }
                  </td>
                  <td class="category">
                    <div class="flex-shrink-0 d-flex justify-content-center">
                      <div class="uploaded-image-avatar bg-light rounded p-2">
                        <img
                          class="img-fluid rounded"
                          src="{{ productImage.image }}"
                        />
                      </div>
                    </div>
                  </td>

                  <td class="status">
                    <div class="form-switch form-switch-md mb-3">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        [checked]="productImage.status === 'active'"
                        (change)="
                          productImagesetStatus(productImage.id, $event)
                        "
                        [id]="'customSwitchsizemdteam' + $index"
                      />
                      <label
                        class="form-check-label"
                        [for]="'customSwitchsizemdteam' + $index"
                        ><span
                          class="badge text-capitalize"
                          [ngClass]="{
                            'bg-info-subtle text-info':
                              productImage.status === 'active',
                            'bg-danger-subtle text-danger':
                              productImage.status === 'inactive'
                          }"
                          >{{ productImage.status }}</span
                        >
                      </label>
                    </div>
                  </td>

                  <td class="px-0">
                    <ul
                      class="d-flex justify-content-center gap-2 list-unstyled mb-0"
                    >
                      <!-- <li>
                  <a
                    [routerLink]="
                      productImage.layout_type === 'layoutA'
                        ? '/productImage/layout-a/' + productImage.id
                        : '/productImage/layout-b/' + productImage.id
                    "
                    class="btn btn-subtle-dark px-2 py-1"
                  >
                    <i
                      class="bi bi-plus-circle align-baseline me-1"
                    ></i>
                    Add Details
                  </a>
                </li> -->
                      <li>
                        <a
                          (click)="team.show(); editproductImage(productImage)"
                          class="btn btn-subtle-secondary btn-icon btn-sm edit-item-btn"
                          ><i class="ph-pencil fs-5"></i
                        ></a>
                      </li>
                      <li>
                        <a
                          (click)="delete(productImage.id)"
                          class="btn btn-subtle-danger btn-icon btn-sm remove-item-btn"
                          ><i class="ph-trash fs-5"></i
                        ></a>
                      </li>
                    </ul>
                  </td>
                </tr>
                }
              </tbody>
            </table>

            <div class="noresult" style="display: none">
              <div class="text-center py-4">
                <i class="ph-magnifying-glass fs-1 text-primary"></i>
                <h5 class="mt-2">Sorry! No Result Found</h5>
                <p class="text-muted mb-0">
                  We did not find any Details for you search.
                </p>
              </div>
            </div>
          </div>
          <div class="row align-items-center mt-4 pt-2" id="pagination-element">
            <div class="col-sm">
              <div class="text-muted text-center text-sm-start">
                Showing
                <span class="fw-semibold">{{ productImageData?.length }}</span>
                of
                <span class="fw-semibold">{{
                  productImageDataList?.length
                }}</span>
                Results
              </div>
            </div>

            <div class="col-sm-auto mt-3 mt-sm-0">
              <pagination
                class="pagination-wrap hstack gap-2 justify-content-center"
                [totalItems]="productImageDataList?.length"
                [itemsPerPage]="5"
                (pageChanged)="pageChanged($event)"
              ></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- add Modal-->
<div bsModal #team="bs-modal" class="modal fade" id="team">
  <div class="modal-dialog">
    <div class="modal-content border-0">
      <div class="modal-header bg-success p-3">
        <h5 class="modal-title text-white" id="editSection2ModalLabel">
          @if(this.editId == null){ Add } @else{ Edit }
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          (click)="team.hide()"
        ></button>
      </div>

      <form
        class="tablelist-form"
        [formGroup]="product"
        (submit)="submitproduct(team)"
      >
        <div class="modal-body">
          <div
            id="alert-error-msg"
            class="d-none alert alert-danger py-2"
          ></div>

          <div class="mb-3">
            <label for="type" class="form-label"
              >Type <span class="text-danger">*</span></label
            >
            <select
              class="form-control"
              formControlName="type"
              data-choices
              id="type"
              [ngClass]="
                secOne['type'] &&
                secOne['type'].hasError('required') &&
                secOne['type'].touched
                  ? 'is-invalid'
                  : ''
              "
            >
              <option value="">Select Type</option>
              <option value="banner">Banner</option>
              <option value="product_img">Product Image</option>
            </select>
            @if (secOne['type'] && secOne['type'].hasError('required') &&
            secOne['type'].touched) {
            <div class="invalid-text">Status is required.</div>
            }
          </div>

          <div class="mb-3">
            <label class="form-label"
              >Image<span class="text-danger">*</span></label
            >
            <div class="custom-modal-dropzone">
              <input
                type="file"
                id="productimageupload"
                accept="image/*"
                formControlName="image"
                (change)="productimageSelect($event)"
                hidden
                #productimageupload
              />
              <label for="productimageupload" class="custom-modalfile-input">
                <span class="custom-modalfile-text"
                  >Choose a file to upload.
                  <br />
                </span>
              </label>
            </div>

            @if (productselectedImage) {
            <ul class="list-unstyled mb-0" id="dropzone-preview">
              <li class="mt-2" id="dropzone-preview-list">
                <div class="border rounded">
                  <div class="d-flex flex-wrap gap-2 p-2">
                    <div class="flex-shrink-0">
                      <div class="image-avatar bg-light rounded p-2">
                        @if (productselectedImagePreview) {
                        <img
                          class="img-fluid rounded d-block"
                          [src]="productselectedImagePreview"
                          alt="Dropzone-Image"
                        />
                        }
                      </div>
                    </div>
                    <div class="flex-grow-1 me-1">
                      <div class="pt-1">
                        @if (productselectedImage.name) {
                        <h5 class="fs-md mb-1">
                          {{ productselectedImage.name }}
                        </h5>
                        } @if (productselectedImage.size) {
                        <p class="fs-sm text-muted mb-0">
                          {{ productselectedImage.size }}
                        </p>
                        }
                      </div>
                    </div>
                    <div class="flex-shrink-0">
                      <button
                        (click)="productremoveImage()"
                        class="btn btn-sm btn-danger"
                      >
                        Delete
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            } @if (productuploadedImage) {
            <div class="col-lg-6 mt-3 mt-lg-0">
              <div>
                <label class="form-label">Uploaded Image</label>
                <div>
                  <div>
                    <img
                      class="edit-thumbnail-img-fluid rounded d-block w-50"
                      [src]="productuploadedImage"
                      alt="Uploaded Thumbnail"
                    />
                  </div>
                </div>
              </div>
            </div>
            } @if (secOne['pdf'] && secOne['pdf'].hasError('required') &&
            secOne['pdf'].touched) {
            <div class="invalid-text">Pdf is required.</div>
            }
          </div>

          <div class="mb-3">
            <label for="addstatus" class="form-label"
              >Status <span class="text-danger">*</span></label
            >
            <select
              class="form-control"
              formControlName="status"
              data-choices
              id="addstatus"
              [ngClass]="
                secOne['status'] &&
                secOne['status'].hasError('required') &&
                secOne['status'].touched
                  ? 'is-invalid'
                  : ''
              "
            >
              <option value="">Select Status</option>
              <option value="active">Active</option>
              <option value="inactive">Inactive</option>
            </select>
            @if (secOne['status'] && secOne['status'].hasError('required') &&
            secOne['status'].touched) {
            <div class="invalid-text">Status is required.</div>
            }
          </div>
        </div>
        <div class="modal-footer">
          <div class="hstack gap-2 justify-content-end">
            <button
              type="button"
              class="btn btn-ghost-success"
              (click)="team.hide()"
            >
              <i class="bi bi-x-lg align-baseline me-1"></i> Close
            </button>
            @if (addSaveButtonActive) {
            <button type="submit" class="btn btn-primary" id="add-btn">
              <i class="bi bi-file-earmark-text me-1 align-baseline"></i>
              Save
            </button>
            } @else {
            <button class="btn btn-secondary" type="button" disabled>
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              Please wait
            </button>
            }
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- add Modal-->
