<!-- Start Breadcrumbs -->
<!-- <app-breadcrumbs
  title="Privacy Policy"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs> -->
<!-- End Breadcrumbs -->

<div class="row justify-content-center">
    <div class="col-xxl-9">
      <div class="card overflow-hidden">
        <div class="bg-primary pb-0">
          <div
            class="card-body text-center py-4 d-flex justify-content-between align-items-center"
          >
            <img
              src="../../../assets/10.png"
              class="img-fluid"
              style="width: 50px"
            />
            <h4 class="fw-medium text-white mb-3">TEL App Support</h4>
            <img
              src="../../../assets/11.png"
              class="img-fluid"
              style="width: 50px"
            />
            <!-- <p class="text-white text-opacity-75 mb-0">
              To learn more about Privacy at themesbrand please visit our
              <a
                href="javascript:void(0);"
                class="text-white text-decoration-underline"
                >Privacy Hub</a
              >.
            </p> -->
          </div>
          <div class="card-body py-2 bg-white bg-opacity-10">
            <ul
              class="list-unstyled mb-0 text-white-75 hstack gap-2 justify-content-between"
            >
              <li></li>
              <li>   <button type="button" class="btn btn-dark" (click)="grid.show()">
               Get In touch
            </button></li>
            </ul>
          </div>
        </div>
        <div class="card-body">

            <!-- Grids in modals -->
         
            <div bsModal #grid="bs-modal" class="modal fade" id="exampleModalgrid">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalgridLabel">Support</h5>
                            <button type="button" class="btn-close" (click)="grid.hide()"></button>
                        </div>
                        <div class="modal-body">
                            <form  (ngSubmit)="onSubmit()" [formGroup]="formGroup">
                                <div class="row g-3">
                                    <div class="col-xxl-12">
                                        <div>
                                            <label for="firstName" class="form-label">Name</label>
                                            <input type="text" class="form-control"  formControlName="name" id="firstName"
                                                placeholder="Enter Name">

                                                @if (f['name'] && f['name'].hasError('required') &&
                                                f['name'].touched) {
                                                <div class="invalid-text">Name is required.</div>
                                                } @if(f['name'] && f['name'].hasError('maxlength') &&
                                                f['name'].touched){
                                                <div class="invalid-text">
                                                    Name must be at most 45 characters
                                                </div>
                                                }
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <!-- <div class="col-xxl-6">
                                        <div>
                                            <label for="lastName" class="form-label">Last Name</label>
                                            <input type="text" class="form-control" id="lastName"
                                                placeholder="Enter lastname">
                                        </div>
                                    </div> -->
                                    <!--end col-->
                                    <!-- <div class="col-lg-12">
                                        <label class="form-label">Gender</label>
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                <label class="form-check-label" for="inlineRadio1">Male</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label" for="inlineRadio2">Female</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio"
                                                    name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                                <label class="form-check-label" for="inlineRadio3">Others</label>
                                            </div>
                                        </div>
                                    </div> -->
                                    <!--end col-->
                                    <div class="col-xxl-12">
                                        <label for="emailInput" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="emailInput"
                                            placeholder="Enter your email" formControlName="email">

                                            @if (f['email'] && f['email'].hasError('required') &&
                                            f['email'].touched) {
                                            <div class="invalid-text">Email is required.</div>
                                            } @if(f['email'].hasError('pattern')){
                                            <div class="invalid-text">
                                              Email must be a valid email address
                                            </div>
                                            }
                                    </div>
                                    <!--end col-->
                                    <!-- <div class="col-xxl-6">
                                        <label for="passwordInput" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="passwordInput"
                                            value="451326546">
                                    </div> -->
                                    <!--end col-->
                                    <div class="col-xxl-12">
                                        <label for="emailInput" class="form-label">Message</label>
                                        <textarea class="form-control" formControlName="message" ></textarea>
                                        <!-- <input type="email" class="form-control" id="emailInput"
                                            placeholder="Enter your email"> -->
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="hstack gap-2 justify-content-end">
                                            <button type="button" class="btn btn-light"
                                                (click)="grid.hide()">Close</button>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        
          <h6 class="card-title mb-3">
            <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
            What is TEL?
          </h6>
          <p class="text-muted mb-2">
            TEL is a comprehensive solution for managing employee attendance and location tracking, designed specifically for organizations with field teams.
          </p>
          <h6 class="card-title mb-3">
            <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
            Why does TEL need access to my location?
          </h6>
          <p class="text-muted mb-2">
            TEL requires location access to accurately track attendance and work hours, ensuring operational efficiency and accountability.
          </p>
          <h6 class="card-title mb-3">
            <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
            How is my location data used?

          </h6>
          <p class="text-muted mb-2">
            Your location data is used solely for tracking attendance and work hours, even when the app is closed or not in use.
          </p>
  
        
  
          <h6 class="card-title mb-3">
            <i class="bi bi-circle-square align-baseline me-1 text-info"></i> Do I have to provide location access?
          </h6>
          <p class="text-muted mb-2">
            Yes, providing location access is mandatory to ensure a smooth check-in and check-out process. Location sharing is required to verify your presence at the designated site or area, ensuring compliance with company policies or operational requirements. Granting location access helps to accurately record attendance and streamline the check-in process.
          </p>
         
          <h6 class="card-title mb-3">
            <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
            What happens if I deny location access?
          </h6>
          <p class="text-muted mb-2">
            If you deny location access, the app will not be able to track your attendance accurately, which may result in missing work hour records.

          </p>
          <h6 class="card-title mb-3">
            <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
            Can I revoke location access after giving consent?
          </h6>
          <p class="text-muted mb-2">
            Yes, you can revoke location access at any time through your device settings. However, this may impact the app’s ability to track attendance.

          </p>
          <h6 class="card-title mb-3">
            <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
            Is my location data shared with third parties?
          </h6>
          <p class="text-muted mb-2">
            No, your location data is not shared with any third parties. It is used solely for internal attendance management purposes.
          </p>
          <h6 class="card-title mb-3">
            <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
            How can I view my attendance history?
          </h6>
          <p class="text-muted mb-2">
            You can view your attendance history easily through the Attendance Report feature in your profile

          </p>
       
  
          <h6 class="card-title mb-3">
            <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
            What if I encounter issues while using the app?
          </h6>
          <p class="text-muted mb-2">
            You can submit support requests directly through the app for quick assistance.
          </p>
  
          <h6 class="card-title mb-3">
            <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
            Job Applicants
          </h6>
          <p class="text-muted mb-2">
            TEL is not liable for any damages arising from the use of our website
            or app. This includes, but is not limited to, damages related to
            profits, business interruption, and data loss due to errors or
            inaccuracies.
          </p>
  
          <h6 class="card-title mb-3">
            <i class="bi bi-circle-square align-baseline me-1 text-info"></i>
            How does TEL ensure my privacy is protected?
          </h6>
          <p class="text-muted mb-2">
            TEL follows strict privacy policies and only collects data necessary for attendance tracking. Your data is stored securely and used responsibly.
          </p>
        
        </div>
      </div>
      <!--end card-->
    </div>
    <!--end col-->
  </div>
  <!--end row-->
  