@media (max-width: 991.98px) {
    .chat-wrapper-menu {
        position: fixed !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0;
        width: 100%;
        height: 70px;
        flex-direction: row !important;
        z-index: 9;
    }
}

    .user-chat.user-chat-show {
        visibility: visible;
        transform: translateX(0);
    }

        .user-chat {
        position: absolute;
        left: 0;
        top: 3px;
        width: 100%;
        height: calc(100% - 3px);
        visibility: hidden;
        transform: translateX(100%);
        z-index: 99;
        // padding-top: 70px;
    }

    .chat-list-item:hover {
  background-color: #f3f6fa;
  cursor: pointer;
}

.chat-list-item.active,
.chat-list-item:focus {
  background-color: #e7f1ff;
}
