<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="row g-2 align-items-center">
    <div class="col-lg-4">
      <div class="auth-pass-inputgroup">
        <label for="password-input" class="form-label">New Password*</label>
        <div class="position-relative">
          <input
            [type]="fieldTextType1 ? 'text' : 'password'"
            class="form-control password-input"
            id="password-input"
            onpaste="return false"
            placeholder="Enter new password"
            formControlName="password"
            required
            (input)="checkPasswordPattern()"
          />
          <button
            class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
            type="button"
            (click)="toggleFieldTextType1()"
          >
            <i
              class="ri-eye-fill align-middle"
              [ngClass]="{
                'mdi-eye-off-outline': !fieldTextType1,
                'mdi-eye-outline': fieldTextType1
              }"
            ></i>
          </button>
        </div>
        @if (f['password'] && f['password'].hasError('required') &&
        f['password'].touched) {
        <div class="invalid-text">Password is required.</div>
        }
      </div>
    </div>

    <div class="col-lg-4">
      <div class="auth-pass-inputgroup">
        <label for="confirm-password-input" class="form-label"
          >Confirm Password*</label
        >
        <div class="position-relative">
          <input
            [type]="fieldTextType2 ? 'text' : 'password'"
            class="form-control password-input"
            onpaste="return false"
            id="confirm-password-input"
            placeholder="Confirm password"
            formControlName="confirmPassword"
            required
          />
          <button
            class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
            type="button"
            (click)="toggleFieldTextType2()"
          >
            <i
              class="ri-eye-fill align-middle"
              [ngClass]="{
                'mdi-eye-off-outline': !fieldTextType2,
                'mdi-eye-outline': fieldTextType2
              }"
            ></i>
          </button>
        </div>
        @if (f['confirmPassword'] && f['confirmPassword'].hasError('required')
        && f['confirmPassword'].touched) {
        <div class="invalid-text">Confirm Password is required.</div>
        } @if(formGroup.hasError('mismatch') && f['confirmPassword'].value &&
        f['password'].value){
        <div class="invalid-text">
          Password and Confirm Password does not match.
        </div>
        }
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-between">
      <div>
        <button type="submit" class="btn btn-success">Change Password</button>
      </div>
    </div>
    @if(f['password'] && f['password'].hasError('pattern')){
    <div class="col-lg-12">
      <div class="card bg-light shadow-none passwd-bg" id="password-contain">
        <div class="card-body">
          <div class="mb-4">
            <h5 class="fs-sm">Password must contain:</h5>
          </div>
          <div>
            <p
              id="pass-length"
              class="fs-xs mb-2"
              [ngClass]="passwordValidations.length ? 'valid' : 'invalid'"
            >
              Minimum <b>8 characters</b>
            </p>
            <p
              id="pass-lower"
              class="fs-xs mb-2"
              [ngClass]="passwordValidations.lower ? 'valid' : 'invalid'"
            >
              At least <b>one lowercase</b> letter (a-z)
            </p>
            <p
              id="pass-upper"
              class="fs-xs mb-2"
              [class.valid]="passwordValidations.upper"
              [ngClass]="passwordValidations.upper ? 'valid' : 'invalid'"
            >
              At least <b>one uppercase</b> letter (A-Z)
            </p>
            <p
              id="pass-number"
              class="fs-xs mb-0"
              [ngClass]="passwordValidations.number ? 'valid' : 'invalid'"
            >
              At least <b>one number</b> (0-9)
            </p>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</form>

<div
  class="mt-4 mb-4 pb-3 border-bottom d-flex justify-content-between align-items-center"
>
  <h5 class="card-title mb-0">Login History</h5>
  <!-- <div class="flex-shrink-0">
    <button type="button" class="btn btn-secondary">All Logout</button>
  </div> -->
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table table-borderless align-middle mb-0">
        <thead class="table-light">
          <tr>
            <th scope="col">Mobile</th>
            <th scope="col">IP Address</th>
            <th scope="col">Date</th>
            <th scope="col">Address</th>
            <!-- <th scope="col">
              <i class="ri-logout-box-r-line"></i>
            </th> -->
          </tr>
        </thead>
        <tbody>
          @for (item of loginDetails; track $index) {
          <tr>
            <td>
              <i class="bi bi-phone align-baseline me-1"></i> {{ item.device }}
            </td>
            <td>{{ item.ip_address }}</td>
            <td>{{ item.date | date : "dd MMM , yyyy" }}</td>
            <td>{{ item.address }}</td>
            <!-- <td>
              <a href="javascript:void(0);" class="icon-link icon-link-hover"
                >Logout <i class="bi bi-box-arrow-right"></i
              ></a>
            </td> -->
          </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="row align-items-center mt-4 pt-2" id="pagination-element">
      <div class="col-sm">
        <div class="text-muted text-center text-sm-start">
          Showing
          <span class="fw-semibold">{{ loginDetails?.length }}</span>
          of
          <span class="fw-semibold">{{ loginDetailsList?.length }}</span>
          Results
        </div>
      </div>

      <div class="col-sm-auto mt-3 mt-sm-0">
        <pagination
          class="pagination-wrap hstack gap-2 justify-content-center"
          [totalItems]="loginDetailsList?.length"
          [itemsPerPage]="this.itemsPerPage"
          [maxSize]="5"
          (pageChanged)="pageChanged($event)"
        ></pagination>
      </div>
    </div>
  </div>
</div>
