@if (spinnerStatus) {
<div id="elmLoader">
  <div class="spinner-border text-primary avatar-sm" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
}

<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <div class="col-xxl-12">
          <form [formGroup]="formGroup" (submit)="onSubmit()">
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="title" class="form-label">
                    Title<span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    id="title"
                    formControlName="title"
                    class="form-control"
                    placeholder="Enter Title"
                    [ngClass]="
                      s2['title'] &&
                      s2['title'].hasError('required') &&
                      s2['title'].touched
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  @if (s2['title'] && s2['title'].hasError('required') &&
                  s2['title'].touched) {
                  <div class="invalid-text">Title is required.</div>
                  } @if(s2['title'] && s2['title'].hasError('maxlength') &&
                  s2['title'].touched){
                  <div class="invalid-text">
                    Title must be at most 45 characters
                  </div>
                  }
                </div>
              </div>

              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="sub_title" class="form-label"
                    >Sub Title<span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    id="sub_title"
                    formControlName="sub_title"
                    class="form-control"
                    placeholder="Enter Sub title"
                    [ngClass]="
                      s2['sub_title'] &&
                      s2['sub_title'].hasError('required') &&
                      s2['sub_title'].touched
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  @if (s2['sub_title'] && s2['sub_title'].hasError('required')
                  && s2['sub_title'].touched) {
                  <div class="invalid-text">Sub title is required.</div>
                  } @if(s2['sub_title'] && s2['sub_title'].hasError('maxlength')
                  && s2['sub_title'].touched){
                  <div class="invalid-text">
                    Sub title must be at most 45 characters
                  </div>
                  }
                </div>
              </div>

              <hr />

              <div class="col-lg-4">
                <div class="mb-3">
                  <label for="title_one" class="form-label">
                    Title One<span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    id="title_one"
                    formControlName="title_one"
                    class="form-control"
                    placeholder="Enter Title One"
                    [ngClass]="
                      s2['title_one'] &&
                      s2['title_one'].hasError('required') &&
                      s2['title_one'].touched
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  @if (s2['title_one'] && s2['title_one'].hasError('required')
                  && s2['title_one'].touched) {
                  <div class="invalid-text">Title One is required.</div>
                  } @if(s2['title_one'] && s2['title_one'].hasError('maxlength')
                  && s2['title_one'].touched){
                  <div class="invalid-text">
                    Title One must be at most 45 characters
                  </div>
                  }
                </div>
              </div>

              <div class="col-lg-4">
                <div class="mb-3">
                  <label for="description_one" class="form-label">
                    Description One<span class="text-danger">*</span></label
                  >

                  <textarea
                    class="form-control"
                    placeholder="Enter description One"
                    rows="5"
                    formControlName="description_one"
                    maxlength="250"
                    [ngClass]="{
                      'is-invalid':
                        s2['description_one'] &&
                        s2['description_one'].errors &&
                        s2['description_one'].touched
                    }"
                  ></textarea>
                  @if (s2['description_one'] &&
                  s2['description_one'].hasError('required') &&
                  s2['description_one'].touched) {
                  <div class="invalid-text">Description One is required.</div>
                  } @if(s2['description_one'] &&
                  s2['description_one'].hasError('maxlength') &&
                  s2['description_one'].touched){
                  <div class="invalid-text">
                    Description must be at most 250 characters
                  </div>
                  }
                </div>
              </div>

              <div class="col-lg-4">
                <div class="mb-3">
                  <label class="form-label"
                    >Image<span class="text-danger">*</span></label
                  >
                  <div class="custom-modal-dropzone">
                    <input
                      type="file"
                      id="imageuploadOne"
                      accept="image/*"
                      formControlName="img_one"
                      (change)="imageOneSelect($event)"
                      hidden
                      #imageuploadOne
                    />
                    <label for="imageuploadOne" class="custom-modalfile-input">
                      <span class="custom-modalfile-text"
                        >Choose a file to upload.
                        <br />
                        <span class="custom-file-text2-modal"
                          >File size 124 × 124 px
                        </span>
                      </span>
                    </label>
                  </div>

                  @if (selectedImageOne) {
                  <ul class="list-unstyled mb-0" id="dropzone-preview">
                    <li class="mt-2" id="dropzone-preview-list">
                      <div class="border rounded">
                        <div class="d-flex flex-wrap gap-2 p-2">
                          <div class="flex-shrink-0">
                            <div class="image-avatar bg-light rounded p-2">
                              @if (selectedImageOnePreview) {
                              <img
                                class="img-fluid rounded d-block"
                                [src]="selectedImageOnePreview"
                                alt="Dropzone-Image"
                              />
                              }
                            </div>
                          </div>
                          <div class="flex-grow-1 me-1">
                            <div class="pt-1">
                              @if (selectedImageOne.name) {
                              <h5 class="fs-md mb-1">
                                {{ selectedImageOne.name }}
                              </h5>
                              } @if (selectedImageOne.size) {
                              <p class="fs-sm text-muted mb-0">
                                {{ selectedImageOne.size }}
                              </p>
                              }
                            </div>
                          </div>
                          <div class="flex-shrink-0">
                            <button
                              (click)="removeImageOne()"
                              class="btn btn-sm btn-danger"
                            >
                              Delete
                            </button>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  } @if (uploadedImageOne) {
                  <div class="col-lg-6 mt-3 mt-lg-0">
                    <div>
                      <label class="form-label">Uploaded Image</label>
                      <div>
                        <div>
                          <img
                            class="edit-thumbnail-img-fluid rounded d-block w-50"
                            [src]="uploadedImageOne"
                            alt="Uploaded Thumbnail"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  } @if (s2['img_one'] && s2['img_one'].hasError('required') &&
                  s2['img_one'].touched) {
                  <div class="invalid-text">Image One is required.</div>
                  }
                </div>
              </div>

              <!-- two -->
              <div class="col-lg-4">
                <div class="mb-3">
                  <label for="title_two" class="form-label">
                    Title Two<span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    id="title_two"
                    formControlName="title_two"
                    class="form-control"
                    placeholder="Enter Title Two"
                    [ngClass]="
                      s2['title_two'] &&
                      s2['title_two'].hasError('required') &&
                      s2['title_two'].touched
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  @if (s2['title_two'] && s2['title_two'].hasError('required')
                  && s2['title_two'].touched) {
                  <div class="invalid-text">Title Two is required.</div>
                  } @if(s2['title_two'] && s2['title_two'].hasError('maxlength')
                  && s2['title_two'].touched){
                  <div class="invalid-text">
                    Title Two must be at most 45 characters
                  </div>
                  }
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mb-3">
                  <label for="description_two" class="form-label">
                    Description Two<span class="text-danger">*</span></label
                  >

                  <textarea
                    class="form-control"
                    placeholder="Enter description Two"
                    rows="5"
                    formControlName="description_two"
                    maxlength="250"
                    [ngClass]="{
                      'is-invalid':
                        s2['description_two'] &&
                        s2['description_two'].errors &&
                        s2['description_two'].touched
                    }"
                  ></textarea>
                  @if (s2['description_two'] &&
                  s2['description_two'].hasError('required') &&
                  s2['description_two'].touched) {
                  <div class="invalid-text">description Two is required.</div>
                  } @if(s2['description_two'] &&
                  s2['description_two'].hasError('maxlength') &&
                  s2['description_two'].touched){
                  <div class="invalid-text">
                    Description Two must be at most 250 characters
                  </div>
                  }
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mb-3">
                  <label class="form-label"
                    >Image<span class="text-danger">*</span></label
                  >
                  <div class="custom-modal-dropzone">
                    <input
                      type="file"
                      id="imageuploadTwo"
                      accept="image/*"
                      formControlName="img_two"
                      (change)="imageTwoSelect($event)"
                      hidden
                      #imageuploadTwo
                    />
                    <label for="imageuploadTwo" class="custom-modalfile-input">
                      <span class="custom-modalfile-text"
                        >Choose a file to upload.
                        <br />
                        <span class="custom-file-text2-modal"
                          >File size 124 × 124 px
                        </span>
                      </span>
                    </label>
                  </div>

                  @if (selectedImageTwo) {
                  <ul class="list-unstyled mb-0" id="dropzone-preview">
                    <li class="mt-2" id="dropzone-preview-list">
                      <div class="border rounded">
                        <div class="d-flex flex-wrap gap-2 p-2">
                          <div class="flex-shrink-0">
                            <div class="image-avatar bg-light rounded p-2">
                              @if (selectedImageTwoPreview) {
                              <img
                                class="img-fluid rounded d-block"
                                [src]="selectedImageTwoPreview"
                                alt="Dropzone-Image"
                              />
                              }
                            </div>
                          </div>
                          <div class="flex-grow-1 me-1">
                            <div class="pt-1">
                              @if (selectedImageTwo.name) {
                              <h5 class="fs-md mb-1">
                                {{ selectedImageTwo.name }}
                              </h5>
                              } @if (selectedImageTwo.size) {
                              <p class="fs-sm text-muted mb-0">
                                {{ selectedImageTwo.size }}
                              </p>
                              }
                            </div>
                          </div>
                          <div class="flex-shrink-0">
                            <button
                              (click)="removeImageTwo()"
                              class="btn btn-sm btn-danger"
                            >
                              Delete
                            </button>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  } @if (uploadedImageTwo) {
                  <div class="col-lg-6 mt-3 mt-lg-0">
                    <div>
                      <label class="form-label">Uploaded Image</label>
                      <div>
                        <div>
                          <img
                            class="edit-thumbnail-img-fluid rounded d-block w-50"
                            [src]="uploadedImageTwo"
                            alt="Uploaded Thumbnail"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  } @if (s2['img_two'] && s2['img_two'].hasError('required') &&
                  s2['img_two'].touched) {
                  <div class="invalid-text">Image Two is required.</div>
                  }
                </div>
              </div>

              <!-- three -->
              <div class="col-lg-4">
                <div class="mb-3">
                  <label for="title_three" class="form-label">
                    Title Three<span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    id="title_three"
                    formControlName="title_three"
                    class="form-control"
                    placeholder="Enter Title Three"
                    [ngClass]="
                      s2['title_three'] &&
                      s2['title_three'].hasError('required') &&
                      s2['title_three'].touched
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  @if (s2['title_three'] &&
                  s2['title_three'].hasError('required') &&
                  s2['title_three'].touched) {
                  <div class="invalid-text">Title Three is required.</div>
                  } @if(s2['title_three'] &&
                  s2['title_three'].hasError('maxlength') &&
                  s2['title_three'].touched){
                  <div class="invalid-text">
                    Title Three must be at most 45 characters
                  </div>
                  }
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mb-3">
                  <label for="description_three" class="form-label">
                    Description Three<span class="text-danger">*</span></label
                  >

                  <textarea
                    class="form-control"
                    placeholder="Enter description Three"
                    rows="5"
                    formControlName="description_three"
                    maxlength="250"
                    [ngClass]="{
                      'is-invalid':
                        s2['description_three'] &&
                        s2['description_three'].errors &&
                        s2['description_three'].touched
                    }"
                  ></textarea>
                  @if (s2['description_three'] &&
                  s2['description_three'].hasError('required') &&
                  s2['description_three'].touched) {
                  <div class="invalid-text">description Two is required.</div>
                  } @if(s2['description_three'] &&
                  s2['description_three'].hasError('maxlength') &&
                  s2['description_three'].touched){
                  <div class="invalid-text">
                    Description Three must be at most 250 characters
                  </div>
                  }
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mb-3">
                  <label class="form-label"
                    >Image<span class="text-danger">*</span></label
                  >
                  <div class="custom-modal-dropzone">
                    <input
                      type="file"
                      id="imageuploadThree"
                      accept="image/*"
                      formControlName="img_three"
                      (change)="imageThreeSelect($event)"
                      hidden
                      #imageuploadThree
                    />
                    <label
                      for="imageuploadThree"
                      class="custom-modalfile-input"
                    >
                      <span class="custom-modalfile-text"
                        >Choose a file to upload.
                        <br />
                        <span class="custom-file-text2-modal"
                          >File size 124 × 124 px
                        </span>
                      </span>
                    </label>
                  </div>

                  @if (selectedImageThree) {
                  <ul class="list-unstyled mb-0" id="dropzone-preview">
                    <li class="mt-2" id="dropzone-preview-list">
                      <div class="border rounded">
                        <div class="d-flex flex-wrap gap-2 p-2">
                          <div class="flex-shrink-0">
                            <div class="image-avatar bg-light rounded p-2">
                              @if (selectedImageThreePreview) {
                              <img
                                class="img-fluid rounded d-block"
                                [src]="selectedImageThreePreview"
                                alt="Dropzone-Image"
                              />
                              }
                            </div>
                          </div>
                          <div class="flex-grow-1 me-1">
                            <div class="pt-1">
                              @if (selectedImageThree.name) {
                              <h5 class="fs-md mb-1">
                                {{ selectedImageThree.name }}
                              </h5>
                              } @if (selectedImageThree.size) {
                              <p class="fs-sm text-muted mb-0">
                                {{ selectedImageThree.size }}
                              </p>
                              }
                            </div>
                          </div>
                          <div class="flex-shrink-0">
                            <button
                              (click)="removeImageThree()"
                              class="btn btn-sm btn-danger"
                            >
                              Delete
                            </button>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  } @if (uploadedImageThree) {
                  <div class="col-lg-6 mt-3 mt-lg-0">
                    <div>
                      <label class="form-label">Uploaded Image</label>
                      <div>
                        <div>
                          <img
                            class="edit-thumbnail-img-fluid rounded d-block w-50"
                            [src]="uploadedImageThree"
                            alt="Uploaded Thumbnail"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  } @if (s2['img_three'] && s2['img_three'].hasError('required')
                  && s2['img_three'].touched) {
                  <div class="invalid-text">Image Three is required.</div>
                  }
                </div>
              </div>

              <!-- four -->
              <div class="col-lg-4">
                <div class="mb-3">
                  <label for="title_four" class="form-label">
                    Title Four<span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    id="title_four"
                    formControlName="title_four"
                    class="form-control"
                    placeholder="Enter Title Three"
                    [ngClass]="
                      s2['title_four'] &&
                      s2['title_four'].hasError('required') &&
                      s2['title_four'].touched
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  @if (s2['title_four'] && s2['title_four'].hasError('required')
                  && s2['title_four'].touched) {
                  <div class="invalid-text">Title Four is required.</div>
                  } @if(s2['title_four'] &&
                  s2['title_four'].hasError('maxlength') &&
                  s2['title_four'].touched){
                  <div class="invalid-text">
                    Title Four must be at most 45 characters
                  </div>
                  }
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mb-3">
                  <label for="description_four" class="form-label">
                    Description Four<span class="text-danger">*</span></label
                  >

                  <textarea
                    class="form-control"
                    placeholder="Enter description Four"
                    rows="5"
                    formControlName="description_four"
                    maxlength="250"
                    [ngClass]="{
                      'is-invalid':
                        s2['description_four'] &&
                        s2['description_four'].errors &&
                        s2['description_four'].touched
                    }"
                  ></textarea>
                  @if (s2['description_four'] &&
                  s2['description_four'].hasError('required') &&
                  s2['description_four'].touched) {
                  <div class="invalid-text">description Four is required.</div>
                  } @if(s2['description_four'] &&
                  s2['description_four'].hasError('maxlength') &&
                  s2['description_four'].touched){
                  <div class="invalid-text">
                    Description Four must be at most 250 characters
                  </div>
                  }
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mb-3">
                  <label class="form-label"
                    >Image<span class="text-danger">*</span></label
                  >
                  <div class="custom-modal-dropzone">
                    <input
                      type="file"
                      id="imageuploadFour"
                      accept="image/*"
                      formControlName="img_four"
                      (change)="imageFourSelect($event)"
                      hidden
                      #imageuploadFour
                    />
                    <label for="imageuploadFour" class="custom-modalfile-input">
                      <span class="custom-modalfile-text"
                        >Choose a file to upload.
                        <br />
                        <span class="custom-file-text2-modal"
                          >File size 124 × 124 px
                        </span>
                      </span>
                    </label>
                  </div>

                  @if (selectedImageFour) {
                  <ul class="list-unstyled mb-0" id="dropzone-preview">
                    <li class="mt-2" id="dropzone-preview-list">
                      <div class="border rounded">
                        <div class="d-flex flex-wrap gap-2 p-2">
                          <div class="flex-shrink-0">
                            <div class="image-avatar bg-light rounded p-2">
                              @if (selectedImageFourPreview) {
                              <img
                                class="img-fluid rounded d-block"
                                [src]="selectedImageFourPreview"
                                alt="Dropzone-Image"
                              />
                              }
                            </div>
                          </div>
                          <div class="flex-grow-1 me-1">
                            <div class="pt-1">
                              @if (selectedImageFour.name) {
                              <h5 class="fs-md mb-1">
                                {{ selectedImageFour.name }}
                              </h5>
                              } @if (selectedImageFour.size) {
                              <p class="fs-sm text-muted mb-0">
                                {{ selectedImageFour.size }}
                              </p>
                              }
                            </div>
                          </div>
                          <div class="flex-shrink-0">
                            <button
                              (click)="removeImageFour()"
                              class="btn btn-sm btn-danger"
                            >
                              Delete
                            </button>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  } @if (uploadedImageFour) {
                  <div class="col-lg-6 mt-3 mt-lg-0">
                    <div>
                      <label class="form-label">Uploaded Image</label>
                      <div>
                        <div>
                          <img
                            class="edit-thumbnail-img-fluid rounded d-block w-50"
                            [src]="uploadedImageFour"
                            alt="Uploaded Thumbnail"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  } @if (s2['img_four'] && s2['img_four'].hasError('required')
                  && s2['img_four'].touched) {
                  <div class="invalid-text">Image Four is required.</div>
                  }
                </div>
              </div>

              <div class="col-6">
                <div class="hstack gap-2 justify-content-start mb-3">
                  @if (saveButtonActive) {
                  <button class="btn btn-primary">Save</button>
                  } @else {
                  <button class="btn btn-secondary" type="button" disabled>
                    <span
                      class="spinner-border spinner-border-sm"
                      role="status"
                      aria-hidden="true"
                    ></span>
                    Please wait
                  </button>
                  }
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
